/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 15, 2017, 11:19:29 AM
    Author     : Dian Pradana
*/


.modal-content-info {
    background-image: url('/img/img2.png');
    background-size: 100% auto;
    background-position: center;
    border: solid 3px white !important;
    border-radius: 10px !important;
    box-shadow: 0px 0px 10px black !important;
    color: white !important;
}
.modal-overlay-info {
    background: rgba(69,42,164, 0.8 ) none repeat scroll 0% 0%;
    border-radius: 10px !important;
}

.modal-header-info {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 0px;
}

.modal-header-info .close {
    margin-top: -25px !important;
    margin-right: 20px !important;
}



.modal-header-info img {
    width: 180px;
    
}

.modal-body-info {
    text-align: center;
    padding: 0px 150px !important;
}



.modal-body-info img {
    width: auto;
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

@media screen and (max-width: 600px) {
    .modal-body-info {
        padding: 0px 50px !important;
    } 
.modal-body-info img {
        width: 100%;

    }
    h1 { 
        font-size: 1.8em;
    }
}

.modal-body-info h1, 
.modal-body-info h2, 
.modal-body-info h3, 
.modal-body-info h4, 
.modal-body-info h5, 
.modal-body-info h6 {
    text-shadow: 0px 0px 8px black !important;
}

.modal-header-info, .modal-footer-info {
    border: none !important;
}

.timer-content-info {
    height: 50px;
    width: 50px;
    margin: 15px auto;
    display: block;
    border: solid 2px white;
    border-radius: 50%;
    padding: 10px;
    box-shadow: 0px 0px 3px black !important;
}
.modal-footer-info {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 30px;
    text-shadow: 0px 0px 5px black !important;
}