body, html {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.background {
    /* The image used */
    /* background-image: url(images/background-login.jpg); */

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
 
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.overlay-color{
    width: auto;
    height: auto;
    min-height: 630px;
    background: linear-gradient(to right, rgba(15, 122, 191, 0.8), rgba(20, 77, 134, 0.8));
    padding: 25px;
}

#login-tessy-new .form-box,
#register-tessy-new .form-box {

    position: relative;
    background-color: #ffffff;
    width: auto;
    max-width: 350px;
    height: auto;
    border-radius: 10px;
    margin: auto auto;
    box-shadow: 0px 2px 15px rgba(0,0,0,0.7);

}

#login-tessy-new .form-box {
    margin-top: 30px;
}

/* #register-tessy-new .form-box {

    max-width: 500px;
 
} */

.logo-container{
    width: 300px;
    height: 100px;
    overflow: hidden;
}
.logo {
    width: auto;
    height: 100px;
}

.form-box > .header {
    text-align: center;
    padding: 15px;
}


#login-tessy-new .form-box > .content,
#register-tessy-new .form-box > .content {
    padding: 15px;
    height: auto;
    min-height: auto;
    display: block;
    overflow: hidden;
}
/* #register-tessy-new .form-box > .content {
    padding-right: 25px;
} */

#login-tessy-new .form-box > .footer,
#register-tessy-new .form-box > .footer {
    text-align: center;
    padding: 15px;
    border-top: 1px solid #bebebe;
    background: none;
}

#login-tessy-new .form-box > .footer > .logo,
#register-tessy-new .form-box > .footer > .logo {
    height: 25px;
}

/* button */
.btn-tessy {
    margin-top: 15px;
}