/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 17, 2017, 1:27:01 PM
    Author     : Dian Pradana
*/




/*------------------navbar----------------*/

@media screen and (max-width: 600px) {
.fluid {margin: 0px;
padding: 0px;}/*
    */
 }

.navbar-gohajj{
    background: rgba(114, 97, 209, 1) none repeat scroll 0% 0%;
    width: 100%; 
}

/* Links inside the navbar */
.navbar-gohajj a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.float-right{
    float: right;
}
.float-left {
    float: left;
}

.logo-gohajj-nav {
    height: 35px;
    width: 130px;
    margin-top: 15px;
    margin-bottom: 15px;  
    margin-left: auto;
    margin-right: auto;
}

.logo-gohajj-nav a {
    margin: 0px;
    padding: 0px;
}

/*---------*/

.topnav {
  float: right;
  overflow: hidden;
  margin:0px;
}

.topnav a {
  float: left;
  font-weight: 600;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav { float: none;}
  .topnav a:not(:first-child) { display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
 .logo-gohajj-nav {display: none; /*padding-top: 25px; height: 45px; width: 168px; margin-left: auto; margin-right: auto;*/}
  
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

}

/*------------------body----------------*/

body, html {
    height: 100%;
}
.parallax-1{
    /* The image used */
    background-image: url('/img/background-paralax-tessy.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax-2{
    /* The image used */
    background-image: url('/img/bg-2.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-3{
    /* The image used */
    background-image: url('/img/bg-2.jpg');

    /* Full height */
    height: 100%; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*.parallax-4{
     The image used 
    background-image: url('/img/d31eee61-radius-bg-1.png');

     Full height 
    height: 5px; 

     Create the parallax scrolling effect 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-5{
     The image used 
    background-image: url('/img/d31eee61-radius-bg-1.png');

     Full height 
    height: 100px; 

     Create the parallax scrolling effect 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}*/

.block-color-overlay-1 { 
    position: relative; 
    background: rgba(114, 97, 209, 0.94) none repeat scroll 0% 0%; 
    /*height: 640px;*/ 
    height: auto; 
    width: 100%; 
    margin: 0px;
    padding: 0px;
}

.block-color-overlay-2 { 
    position: relative; 
    background: rgba(132, 91, 210, 0.83) none repeat scroll 0% 0%; 
    /*height: 389px;*/ 
    height: auto; 
    width: 100%; 
    margin: 0px;
    padding: 0px;
}
.block-color-overlay-3 { 
    position: relative; 
    background: rgba(255, 255, 255, 1) none repeat scroll 0% 0%; 
    /*height: 389px;*/ 
    height: auto; 
    width: 100%; 
    margin: 0px;
    padding: 0px;
}

.block-color-white-3 {
    background-color: white;
    position: relative; 
    /*height: 426px;*/ 
    height: auto; 
    width: 100%;
    margin: 0px;
    padding: 0px;
}

/*.block-color-overlay-4 { 
    position: absolute; 
    background: rgba(132, 91, 210, 0.83) none repeat scroll 0% 0%; 
    height: 5px; 
    width: 100%; 
    margin: 0px;
}

*/
.block-color-white-5 {
    border-top: rgb(114, 97, 209) solid 1px;
    background-color: white;
    position: absolute; 
    width: 100%;
    margin-top: 10px;
}
.block-color-white-6 {
    background-color: white;
    position: absolute; 
    width: 100%;
    margin-top: 10px;
}

.tessy-logo-header {
    width: 204px;
    height: 60px;
    position: relative;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}  



 /*------------------form----------------------*/
 
 #form-tessy .form-tessy-box {
     border-radius: 8px;
     border-width: 2px;
     border-color: white;
     width: 100%;
     height: 35px;
     background-color: transparent;
     color:white;
     font-size: 16px;
     float: right;
 }
 
 
 #form-tessy univ {
     padding-right: 25px;
 }

 #form-tessy .form-tessy-label {
     height: 41px;
     color: white;
     padding-top: 6px;
     font-size: 16px;
     font-weight: 600;
     text-align: left;
 }
 
#form-tessy .form-tessy-2 {
     float: right;
     margin-right: 45px;
 }

 #form-tessy .button-tessy {
     color: #7261D1;
     font-weight: bold;
     font-size: 16px;
     border-radius: 30px;
     border-color: white;
     width: 100%;
     height: 38px;
     float: right;
     margin-top: 0px;
/*     margin-right: 15px;*/
 }

 #form-tessy .margin-signup {
     margin-bottom: 10px;
 }
 
 
 .form-tessy-signup {
     padding: 5px;
 }
 

 #form-tessy .radio-button-tessy:active {
     color: white;
 }

 
 .form-tessy-1 {
     margin-top: 15px;
     margin-bottom: 15px;
 }
 

 .padding-tessy-form {
     padding-top: 10px;
     
 }
 
/*login*/


#form-tessy .tessy-popup-dialog {
    background-color: rgba(114, 97, 209, 1.0);
}

#form-tessy .form-login-tessy-box {
     border-radius: 8px;
     border-width: 2px;
     border-color: white;
     width: 100%;
     height: 35px;
     background-color: transparent;
     color:white;
     font-size: 16px;
     float: right;
 }
/*----------content----------*/

 .line-1 {
    border-color: #8e80da;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
/*    width: 100%;
    height: 5px;*/
 }
 
 .line-2 {
    border-color: #8e80da;
    border-right-style: solid;
    border-right-width: 1px;
    /*    width: 100%;
    height: 5px;*/
 }
 
 .line-3 {
     height: 50px;
 }

 .border-tessy {
     border-color: white;
     border-style: solid;
     border-width: 1px;
     
 }
 .border-tessy-2 {
     border-color: violet;
     border-style: solid;
     border-width: 1px;
 }

 .headline-tessy {
     color: white;
     padding-top: 20px;
     padding-bottom: 20px;
 }
 
 .tag-line-tessy {
     color: white;
     padding-top: 70px;
     padding-bottom: 70px;
 }
 
 .heading-1 {
     font-size: 50px;
     text-align: center;
     position: relative;
     max-width: 600px;
     height: auto;
     margin-top: auto; 
     margin-bottom: 0px;
     margin-left: auto;
     margin-right: auto;
     line-height: 40px
 }
 
 .heading-2 {
     font-size: 16px;
     text-align: center;
     position: relative;
     max-width: 600px;
     height: auto;
     margin-top: 0px; 
     margin-bottom: auto;
     margin-left: auto;
     margin-right: auto;
     line-height: 22px;
 }
 
  .heading-3-1 {
     font-size: 35px;
     font-style: italic;
     text-align: center;
     position: relative;
     max-width: 600px;
     height: auto;
     margin-top: 0px; 
     margin-bottom: 0px;
     margin-left: auto;
     margin-right: auto;
     line-height: 40px
 }
 
  .heading-3 {
     font-size: 50px;
     font-style: italic;
     text-align: center;
     position: relative;
     max-width: 600px;
     height: auto;
     margin-top: 0px; 
     margin-bottom: 0px;
     margin-left: auto;
     margin-right: auto;
     line-height: 60px
 }
 
 .heading-3-b {
     font-size: 32px;
     font-style: italic;
     text-align: center;
     position: relative;
     max-width: 600px;
     height: auto;
     margin-top: 0px; 
     margin-bottom: 0px;
     margin-left: auto;
     margin-right: auto;
     line-height: 60px
 }
 
 
 .heading-4 {
     font-size: 15px;
     text-align: center;
     position: relative;
     max-width: 400px;
     height: auto;
     margin-top: 30px; 
     margin-bottom: 0px;
     margin-left: auto;
     margin-right: auto;
     line-height: 15px;
 }

 .heading-4-b {
     font-size: 15px;
     text-align: center;
     position: relative;
     max-width: 400px;
     height: auto;
     margin-top: 10px; 
     margin-bottom: 0px;
     margin-left: auto;
     margin-right: auto;
     line-height: 15px;
 }
 
 .heading-4 p {
     padding-top: 5px;
     text-align: left;
 }
 
 .logo-univ-pack {
     padding-top: 25px;
     padding-bottom: 25px;
 }
 .logo-univ {
     position: relative;
     width: 100%;
     height: 100px;
     padding: 0px;
 }
 
 .logo-univ-img {
     position: relative;
     max-width: 350px;
     height: auto;
     margin: auto;
     padding: auto;
 }

 .text-univ {
     max-width: 350px;
     font-size: 14px;
     font-weight: 400;
     color: white;
     text-align: center;
     margin:auto;
 }
 
 .height-line {
     height: 360px;
  
 }
  
 .margin-auto {
     margin: auto;
 }
 
 .margin-0px {
     margin: 0px;
 }

 .padding-0px {
     padding: 0px;
 }
 
 .padding-auto {
     padding: auto;
 }
 
 .border-img-tessy {
     position: relative; 
     background-color: #b59ce4;
     border-radius: 5px; 
     height: 59px; 
     width: 59px;
     padding: 5px;
 }
 
 .border-img-tessy-2 {
     position: relative; 
     background-color: #b59ce4;
     border-radius: 5px; 
     height: 59px; 
     width: 130px;
     padding-top: 10px;
     padding-left: 5px;
     padding-right: 5px;
     float: right;
 }

 .border-img-tessy-3 {
     position: relative; 
     background-color: #b59ce4;
     border-radius: 5px; 
     height: 59px; 
     width: 130px;
     padding: 5px;
/*     padding-top: 10px;
     padding-left: 5px;
     padding-right: 5px;*/
     margin: auto;
 }
 
 .nama-tessy {
     max-width: 370px;
     margin: auto;
 }
 
.info-tessy-1 p { 
    color: rgb(102, 102, 102);
    font-size: 18px;
}
 
.info-tessy-1 {
   position: relative;
   min-height: 150px;
   height: auto;
   padding: 5px;
   margin-top: 40px;
   margin-bottom: 30px;

 }

 .info-tessy-padding {
     padding-top: 30px;
     padding-bottom: 30px;
 }
 
 .info {
     height: 213px;
 }
 .info-tessy-icon-step {
     float: right;
 }
 .info-tessy-icon-step {
     float: left;
     max-height: 70px;
     max-width: 70px;
 }
 
 
 .heading-tessy-1 {
   color:  rgb(89, 92, 206);
   font-size: 34px;
   font-weight: 500;
   text-align: center;
   margin-bottom: 50px;
 }
 
 
 .tessy-video {
     
     max-width: 560px;
     max-height: 340px;
     margin-top: 40px;
     margin-bottom: 40px;
     margin-left: auto;
     margin-right: auto;
 }
 
 .footer-tessy {
     
     padding-top: 30px;
     padding-bottom: 30px;
    
 }
 .foother-tessy-img {
     position: relative;
     padding-top: 8px;
 }
 
 .footer-tessy img{
    display: block;
    margin: auto;
 }
 
 .footer-tessy p {
     text-align: center;
 }
 
 .tessy-copyright {
    color: rgb(102, 102, 102);
    font-size: 14px;
    margin-top: 10px;
 }
 
  

 .parallax-5 a {
    color: rgb(132, 91, 210);
    font-size: 14px;
    margin-top: 5px;
 }
 
 .parallax-5 a:hover {
     color: #342454;
 } 

 .tessy-keepontouch {
    color: rgb(102, 102, 102);
    font-size: 14px;
    margin-top: 10px;
    text-align: right;
    padding-right: 40px;
 }
 
 .float-right {
     float: right;
 }
 

 /*-------------news------------*/
 .news {
     color: #2a388f; 
     font-size: 24px;
     font-weight: 500;
     text-align: left;
     position: relative;
     height: auto;
     margin-top: 25px; 
     margin-bottom: 10px;
     margin-left: auto;
     margin-right: auto;
     line-height: 32px;  
 }
 .news-tessy-container {
     /*background-color: #e2dff5;*/
     width: 100%;
     margin-top: 5px;
     padding: 8px;
     min-height: 168px;
     overflow: hidden;
     border-bottom: #e2dff5 solid 1px;
 }
 .padding-0-tessy {
     padding-left: 0px;
    padding-right: 0px;
 }
 .img-news {
     width: 100%;
     height: auto;
     overflow: hidden;
 }
 
 .img-news img {
     width: 100%;
     height: auto;
     float: right;
 }
/*  @media screen and (max-width: 320px) {.img-news {height: 137px;} .img-news img {height: 100%;}}
  @media screen and (max-width: 600px) {.img-news {height: 137px;} .img-news img {height: 100%;}}
  @media screen and (max-width: 1000px) {.img-news {height: 137px;} .img-news img {height: 100%;}}*/
  
 .judul-news {
     margin-top: 0px; 
     margin-bottom: 4px;
     max-height: 65px;
     overflow: hidden;
     
 }
 
 .judul-news a{
     color: #404041; 
     font-size: 24px;
     font-weight: 500;
     text-align: left;
     position: relative;  
 }
 .intro-news {
     margin-top: 0px; 
     margin-bottom: 4px;
     max-height: 35px;
     overflow: hidden;
     
 }
 
 .height-line-tessy {
     height: 25px;
 }
 
 .date-news {
     color: #939597; 
     font-size: 14px;
     font-weight: 200;
     text-align: left;
     position: relative;
     height: auto;
     margin-top: 4px; 
     margin-bottom: 4px
 }
 .berita-content {
     border-left: #fff solid 2px;
     height: 100%
 }
 
   @media screen and (max-width: 600px) {
    .berita-content {padding-left: 0px; padding-right: 0px}
    .judul-news {font-size: 15px; margin-top: 15px; }
 }

 
.side-news {
     width: 100%;
     height: auto;
     padding-top: 5px;
/*     padding-left: 20px;
     padding-right:  20px;*/
     border-bottom: #e2dff5 solid 1px;
 }
 
 .side-img {
     width: 100%;
     height: auto;
     margin-bottom: 5px;
     overflow: hidden;
 }
 
 .side-img img {
    width: 100%;
    height: auto;
 }
    
    
    @media screen and (max-width: 600px) {
    .side-news {padding-left: 0px; padding-right: 0px; height: 160px; }

 }
 

 
 .judul-side-news {
     margin-top: 4px; 
     margin-bottom: 4px;
     margin-left: auto;
     margin-right: auto; 
     height: 45px;
     overflow: hidden;
 }
 .judul-side-news a {
     color: #404041; 
     font-size: 15px;
     font-weight: 500;
     text-align: left;
     position: relative;
     
 }
 
 .popular-news {
     color: #404041; 
     font-size: 20px;
     font-weight: 500;
     text-align: center;
     position: relative;
     height: auto;
     margin-top: 4px; 
     margin-bottom: 4px;
     margin-left: auto;
     margin-right: auto; 
     border-bottom: rgba(114, 97, 209, 1) solid 2px;
 }
 @media screen and (max-width: 600px) {
 .popular-news {margin-top: 30px;}
 }
 .lastes-news {
     color: #404041; 
     font-size: 20px;
     font-weight: 500;
     text-align: left;
     position: relative;
     height: auto;
     margin-top: 4px; 
     margin-bottom: 4px;
     margin-left: auto;
     margin-right: auto; 
     border-bottom: rgba(114, 97, 209, 1) solid 2px;
 }


.news-home {
    margin-top: 100px;
    margin-bottom: 100px;
    height: auto;
   
}

.news-home-thumb {
    width: 100%;
     height: auto;
     padding: 10px;
     background-color: #f0effa;
     margin-bottom: 10px;
     box-shadow: 0px 0px 3px #999999;
}

 @media screen and (max-width: 600px) {
    .lastes-news{
         text-align: center;
    }
    .news-home-thumb {
         margin-bottom: 20px;
    }
}
 
 .news-home-img {
     width: 100%;
     height: auto;
     margin-bottom: 5px;
     overflow: hidden;
 }
 
 .news-home-img img {
    width: 100%;
     height: auto;
    
 }
 
/*  @media screen and (max-width: 600px) {
      .news-home-img img{
         width: 100%;
    height: auto;
    float: right;
     }
     .news-home-img {
     height: 150px;
 }
}*/

 
.judul-news-home a {
    color: #404041; 
    font-size: 18px;
     font-weight: 500;
     text-align: left;
     margin-left: auto;
     margin-right: auto;
     line-height: 24px;
}
 .judul-news-home {
     
     height: 75px;
     overflow: hidden;
     margin-top: 5px;
     
 }
 
 .btn-news {
     margin-top: 20px;
     width: 250px;
     height: auto;
     margin-left: auto;
     margin-right: auto;
 }
 
 @media screen and (max-width: 600px) {
      .btn-news{
     width: 120px;
     }
}
.img-single{
     width: 100%;
     height: 503px;
     margin-bottom: 5px;
     overflow: hidden;
} 

.img-single img {
    width: 100%;
    height: 100%;
    
 }

 .center {
     margin-left: auto;
     margin-right: auto;
 }