/* ::::: https://careers.twitter.com/etc/designs/common-twitter/clientlib-site.min.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: outside none none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
:focus { outline: 0px none; }
input, textarea, keygen, select, button { font-family: inherit; }
@font-face {
	font-family: "Gotham-Narrow";
	font-style: normal;
	font-weight: 300;
	src: local("☺"), url('gothamnarrow-light.woff') format("woff"), url('gothamnarrow-light.ttf') format("truetype"), url('gothamnarrow-light.svg') format("svg");
}
@font-face {
	font-family: "Gotham-Narrow";
	font-style: normal;
	font-weight: 400;
	src: local("☺"), url('gothamnarrow-book.woff') format("woff"), url('gothamnarrow-book.ttf') format("truetype"), url('gothamnarrow-book.svg') format("svg");
}
@font-face {
	font-family: "Gotham-Narrow";
	font-style: normal;
	font-weight: 500;
	src: local("☺"), url('gothamnarrow-medium.woff') format("woff"), url('gothamnarrow-medium.ttf') format("truetype"), url('gothamnarrow-medium.svg') format("svg");
}
@font-face {
	font-family: "Gotham-Narrow";
	font-style: normal;
	font-weight: 700;
	src: local("☺"), url('gothamnarrow-bold.woff') format("woff"), url('gothamnarrow-bold.ttf') format("truetype"), url('gothamnarrow-bold.svg') format("svg");
}
@font-face {
	font-family: "tw-sg-icons";
	font-style: normal;
	font-weight: normal;
	src: url('tw-sg-icons.eot') format("embedded-opentype"), url('tw-sg-icons.woff') format("woff"), url('tw-sg-icons.ttf') format("truetype"), url('tw-sg-icons.svg') format("svg");
}
[class^="icon-"]::before, [class*=" icon-"]::before { font-family: "tw-sg-icons"; font-style: normal; font-weight: normal; display: inline-block; text-decoration: inherit; width: 1em; margin-right: 0.2em; text-align: center; font-variant: normal; text-transform: none; line-height: 1em; margin-left: 0.2em; -moz-osx-font-smoothing: grayscale; backface-visibility: hidden; }
.icon-alert_error::before { content: ""; }
.icon-footer_arrow::before { content: ""; }
.icon-back-arrow::before { content: ""; }
.icon-radio_check::before { content: ""; }
.icon-download::before { content: ""; }
.icon-share::before { content: ""; }
.icon-arrow_right::before { content: ""; }
.icon-dropdown_arrow::before { content: ""; }
.icon-flyout_triangle::before { content: ""; }
.icon-external_link::before { content: ""; }
.icon-logo_sml::before { content: ""; }
.icon-navigation_close_mobile::before { content: ""; }
.icon-navigation_down_arrow::before { content: ""; }
.icon-navigation_hamburger_mobile::before { content: ""; }
.icon-navigation_search::before { content: ""; }
.icon-navigation_side_back_arrow_mobile::before { content: ""; }
.icon-mtc_share::before { content: ""; }
.icon-plus::before { content: ""; }
.icon-quote::before { content: ""; }
.icon-expand::before { content: ""; }
.icon-close-rounded::before { content: ""; }
.icon-mail::before { content: ""; }
.screen-reader { display: none; overflow: hidden; text-indent: 100%; white-space: nowrap; }
html { font-size: 16px; height: 100%; }
body { margin: 0px; padding: 0px; width: 100%; height: 100%; color: rgb(77, 92, 105); background: rgb(244, 247, 249) none repeat scroll 0% 0%; font-family: "Gotham-Narrow","Hiragino Kaku Gothic Pro","Helvetica Neue","Tahoma","Arial",sans-serif; font-weight: 400; font-size: 18px; -moz-osx-font-smoothing: grayscale; }
p { line-height: 1.5rem; }
button { padding: calc(1.5rem / 2 - 4px) 1.5rem calc(1.5rem / 2 - 5px); color: rgb(255, 255, 255); background-color: rgb(26, 139, 240); border-radius: 4px; border: 1px solid rgb(26, 139, 240); font-weight: 500; font-size: 1rem; line-height: 1.5rem; cursor: pointer; transition: all 0.2s ease 0s; }
button .logo { display: inline-block; font-size: 8px; height: 12.3px; line-height: 1; vertical-align: middle; width: 14px; }
button:hover { background-color: rgb(100, 178, 248); border: 1px solid rgb(100, 178, 248); }
button:active { background-color: rgb(4, 104, 194); border: 1px solid rgb(4, 104, 194); }
button:disabled { border: 1px solid rgb(221, 229, 234); background-color: rgb(221, 229, 234); color: rgb(255, 255, 255); cursor: default; }
button.secondary { background: transparent none repeat scroll 0% 0%; border: 1px solid rgb(26, 139, 240); color: rgb(26, 139, 240); }
button.secondary:hover { background: rgb(100, 178, 248) none repeat scroll 0% 0%; border: 1px solid rgb(100, 178, 248); color: rgb(255, 255, 255); }
button.secondary:active { background-color: rgb(4, 104, 194); border: 1px solid rgb(4, 104, 194); color: rgb(255, 255, 255); }
button.secondary:disabled { background-color: transparent; border: 1px solid rgb(221, 229, 234); color: rgb(221, 229, 234); }
.text { margin-bottom: 3rem; }
.text a:link, .text a:visited { color: rgb(26, 139, 240); text-decoration: none; }
.text a:link:hover, .text a:visited:hover { color: rgb(141, 40, 214); }
.text.c02-rich-text-editor > h1, .text.c02-rich-text-editor > h2, .text.c02-rich-text-editor > h3, .text.c02-rich-text-editor > h4, .text.c02-rich-text-editor > h5, .text.c02-rich-text-editor > h6, .text.c02-rich-text-editor > p, .text.c02-rich-text-editor > span, .text.c02-rich-text-editor > blockquote, .text.c02-rich-text-editor > ul, .text.c02-rich-text-editor > ol, .text.c02-rich-text-editor > b { max-width: 46.875rem; }
.text.c02-rich-text-editor > p { display: block; }
.text.c02-rich-text-editor > [style*="center"] { display: block; margin-left: auto; margin-right: auto; }
.text ul li::before { background-color: rgb(77, 92, 105); border-radius: 50%; content: " "; position: absolute; left: 3px; top: 11px; height: 5px; width: 5px; }
.text p { margin-bottom: 1.5rem; font-size: 1rem; max-width: 46.875rem; }
.center .text h1, .center .text h2, .center .text h3, .center .text h4, .center .text h5, .center .text h6, .center .text p, .center .text blockquote, .center .text ol, .center .text ol li, .center .text ul, .center .text ul li { margin-left: auto; margin-right: auto; text-align: left; }
#page-wrapper { margin: 0px; min-height: 100%; overflow: hidden; position: relative; }
#main-content { font-size: 1rem; line-height: 1.5rem; padding: 0px; min-height: 750px; }
.center-copy { text-align: center; }
h1, .headline-1 { font-weight: 300; line-height: 1.25em; font-size: 3.75rem; margin-bottom: 3rem; }
@media screen and (max-width: 900px) {
	h1, .headline-1 { font-size: 2.625rem; }
}
h2, .headline-2 { font-weight: 300; line-height: 1.25em; font-size: 2.625rem; margin-bottom: 2rem; }
@media screen and (max-width: 900px) {
	h2, .headline-2 { font-size: 40px; }
}
h3, .headline-3 { font-weight: 300; line-height: 1.25em; font-size: 2rem; margin-bottom: 0.5rem; margin-top: 2.5rem; }
@media screen and (max-width: 900px) {
	h3, .headline-3 { font-size: 1.88889rem; }
}
h4, .headline-4 { font-weight: 300; line-height: 1.25em; font-size: 1.5rem; margin-bottom: 0.5rem; margin-top: 2.5rem; }
h5, .headline-5 { font-weight: 300; line-height: 1.25em; font-size: 1rem; margin-bottom: 0.5rem; margin-top: 2.5rem; }
h1, h2, h3, h4, h5, h6, .headline-1, .headline-2, .headline-3, .headline-4, .headline-5, .headline-6 { color: rgb(77, 92, 105); }
h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, .headline-1:first-child, .headline-2:first-child, .headline-3:first-child, .headline-4:first-child, .headline-5:first-child, .headline-6:first-child { margin-top: 0px; }
@media screen and (max-width: 900px) {
	html { font-size: 18px; }
}
.container { margin: 0px auto; position: relative; max-width: 1600px; width: 100%; clear: both; }
.comp-wrapper { margin: 0px auto; clear: both; position: relative; }
.comp-container { margin: 0px auto; position: relative; max-width: 1600px; width: 100%; height: 100%; }
.t-row { margin: 0px; padding-left: 5.2%; padding-right: 5.2%; display: block; overflow: visible; width: 89.6%; }
.t-row::after { content: " "; display: block; clear: both; }
.t-row .col { padding: 0px; vertical-align: top; float: left; min-height: 1px; }
.t-row .col:last-child { margin-right: 0px ! important; }
.t-row .col.center { text-align: center; }
.t-row .col.center.col-12 { float: none; }
.t-row .col-2 { margin: 0px 1.78571% 0px 0px; width: 15.1786%; }
.t-row .col-3 { margin: 0px 1.78571% 0px 0px; width: 23.6607%; }
.t-row .col-4 { margin: 0px 1.78571% 0px 0px; width: 32.1429%; }
.t-row .col-6 { margin: 0px 1.78571% 0px 0px; width: 49.1071%; }
.t-row .col-12 { margin: 0px 1.78571% 0px 0px; width: 100%; }
@media screen and (max-width: 900px) {
	.t-row { padding-left: 5.1%; padding-right: 5.1%; width: 89.8%; }
	.t-row .col { width: 100%; margin: 0px; }
}
.nav-footer { margin: 0px; width: 100%; background: rgb(36, 41, 44) none repeat scroll 0% 0%; }
.nav-footer .footer-wrapper { padding-left: 5.2%; padding-right: 5.2%; width: 89.6%; }
.nav-footer .nav-col { margin: 0px 1.1% 0px 0px; width: 23.6607%; display: inline-block; vertical-align: top; padding: 0px; }
.nav-footer .nav-col:last-child { margin-right: 0px; }
.nav-footer .columns-5 .nav-col { width: 18.6%; }
.nav-footer dl { margin: 3rem 0px; overflow: hidden; font-size: 1rem; box-sizing: border-box; list-style: outside none none; }
.nav-footer dl dt { margin: 4px 0px 36px; font-size: 1.5rem; color: rgb(77, 92, 105); }
.nav-footer dl dt a { color: rgb(77, 92, 105); text-decoration: none; }
.nav-footer dl dt a:hover { color: rgb(221, 229, 234); }
.nav-footer dl dd { padding: 0px; width: 100%; font-size: 1rem; vertical-align: top; overflow: hidden; line-height: 1.93rem; color: rgb(77, 92, 105); box-sizing: border-box; }
.nav-footer dl dd a { color: rgb(221, 229, 234); text-decoration: none; }
.nav-footer dl dd a:hover { color: rgb(77, 92, 105); }
.footer-bottom { padding: 1.5rem 0px; position: relative; color: rgb(77, 92, 105); background: rgb(45, 51, 55) none repeat scroll 0% 0%; width: 100%; }
.footer-bottom .copyright { margin-right: 1.5rem; display: inline-block; font-size: 1rem; }
.footer-bottom ul { display: inline; font-size: 1rem; }
.footer-bottom ul li { margin-right: 1.5rem; display: inline-block; }
.footer-bottom ul li a { color: rgb(77, 92, 105); text-decoration: underline; }
.footer-bottom ul li a:hover { color: rgb(221, 229, 234); }
.footer-bottom .language { float: right; display: block; font-size: 1rem; }
.footer-bottom .language .lang-selection { cursor: pointer; }
.footer-bottom .language .lang-selection:hover { color: rgb(221, 229, 234); }
.footer-bottom .lang-flyout { padding: calc(3rem) 0px calc(3rem - 9px) 25px; position: absolute; bottom: 57px; right: 65px; border-radius: 4px; background: rgba(221, 229, 234, 0.9) none repeat scroll 0% 0%; opacity: 0; visibility: hidden; transition: all 0.3s ease 0s; }
.footer-bottom .lang-flyout::after { position: absolute; bottom: -5px; right: 20px; content: " "; width: 7px; height: 6px; background: transparent url('flyout_triangle.svg') repeat scroll right 0px; z-index: 222; opacity: 0.9; }
.footer-bottom .lang-flyout ul { float: left; display: inline; font-size: 1rem; }
.footer-bottom .lang-flyout ul li { margin-right: 1.5rem; line-height: 1.5rem; display: block; text-align: left; }
.footer-bottom .lang-flyout ul li a { color: rgb(28, 32, 35); text-decoration: none; }
.footer-bottom .lang-flyout ul li a:hover { color: rgb(77, 92, 105); }
@media screen and (max-width: 900px) {
	.nav-footer { padding: 1.5rem 0px 0px; }
	.nav-footer dl { margin: 1.5rem 0px 0px; }
	.nav-footer dl dt { margin: 0px; font-size: 1.25rem; }
	.nav-footer dl dd { display: none; }
	.nav-footer .columns-5 .nav-col, .nav-footer .nav-col { margin: 0px; width: 100%; display: inline-block; vertical-align: top; padding: 0px; }
	.footer-bottom { margin: 3rem 0px 0px; }
	.footer-bottom .copyright { font-size: 0.667rem; }
	.footer-bottom ul { margin: 1.5rem 0px 0px; display: block; font-size: 0.667rem; }
	.footer-bottom .language { display: none; }
}
.nav-drawer { padding: 1.5rem 0px 4.5rem; position: absolute; top: 0px; left: 0px; width: 100%; background-color: transparent; box-sizing: border-box; max-height: 67px; z-index: 2; transition: background-color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, max-height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
.nav-drawer.no-interaction .arrow-down { display: none; }
.nav-drawer.no-interaction .header-left .property-title { cursor: default; }
.nav-drawer.no-interaction .header-left .property-title a { color: rgb(255, 255, 255); text-decoration: none; transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
.nav-drawer.no-interaction .header-left .property-title a:hover, .nav-drawer.no-interaction .header-left .property-title a:hover .logo { color: rgb(100, 178, 248); }
.nav-drawer .nav-wrapper { padding-left: 5.2%; padding-right: 5.2%; }
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
.nav-drawer header { position: relative; height: 40px; }
.nav-drawer .header-left { opacity: 1; transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
.nav-drawer .header-left .nav-drawer-link { cursor: pointer; float: left; }
.nav-drawer .header-left .logo { display: block; margin: 3px 11px 0px 0px; float: left; width: 26px; height: 22px; color: rgb(255, 255, 255); font-size: 20px; text-decoration: none; transition: color 0.2s ease 0s; }
.nav-drawer .header-left .logo:hover { color: rgb(100, 178, 248); }
.nav-drawer .header-left .logo-and-title { display: inline-block; }
.nav-drawer .header-left .logo-and-title .logo { margin-top: 0px; }
.nav-drawer .header-left .property-title { margin: 0px; padding: 4px 10px 0px 0px; font-size: 1.25rem; font-weight: 400; line-height: 1.25rem; color: rgb(255, 255, 255); float: left; width: auto; cursor: pointer; transition: color 0.2s ease 0s; -moz-user-select: none; }
.nav-drawer .header-left .arrow-down { margin: 11px 0px 0px; float: left; width: 13px; height: 6px; font-size: 6px; color: rgb(255, 255, 255); transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; transform: rotate(0deg); }
.nav-drawer .header-right { width: 300px; position: absolute; top: 0px; right: 0px; opacity: 1; transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s; }
.nav-drawer .header-right .search { margin: calc(0.5rem - 4px) 25px 0px 0px; float: right; width: 20px; cursor: pointer; position: relative; -moz-user-select: none; }
.nav-drawer .header-right .search .input-container { margin-bottom: 0px; border-radius: 4px; }
.nav-drawer .header-right .search .input-container .input { position: absolute; border-radius: 4px; top: -5px; left: -210px; width: 240px; height: 32px; z-index: 1; overflow: hidden; -moz-user-select: none; }
.nav-drawer .header-right .search .input-container .input input { padding: 3px 35px 3px 0.75rem; position: absolute; width: 100%; border-radius: 4px; border: 1px solid rgb(221, 229, 234); left: 240px; top: 0px; color: rgb(77, 92, 105); background-color: rgb(255, 255, 255); font-size: 1rem; font-weight: 400; line-height: 1.5rem; box-sizing: border-box; transition: all 0.2s linear 0s; }
.nav-drawer .header-right .search .search-icon { float: left; width: 20px; height: 20px; display: block; color: rgb(255, 255, 255); font-size: 20px; position: relative; z-index: 2; }
.nav-drawer .header-right .avatar { margin: -2px 0px 0px; cursor: pointer; }
.nav-drawer .header-right .avatar img { margin: 0px; border: 1px solid rgba(255, 255, 255, 0.2); border-radius: 4px; width: 30px; }
.nav-drawer .header-right .login-wrapper { float: right; }
.nav-drawer .header-right .signed-in_dropdown { padding: calc(0.75rem) 0px; border-radius: 4px; position: absolute; top: 60px; right: 2px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-family: "Helvetica Neue","Hiragino Kaku Gothic Pro","Tahoma","Arial",sans-serif; font-weight: normal; opacity: 0; visibility: hidden; transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
.nav-drawer .header-right .signed-in_dropdown::before { position: absolute; top: -5px; right: 10px; content: " "; width: 7px; height: 7px; background: transparent url('signedin_triangle.svg') repeat scroll right 0px; z-index: 222; }
.nav-drawer .header-right .signed-in_dropdown ul { min-width: 113px; }
.nav-drawer .header-right .signed-in_dropdown ul li { line-height: 1rem; }
.nav-drawer .header-right .signed-in_dropdown ul li a { padding: 2px 20px; display: block; font-size: 0.75rem; color: rgb(77, 92, 105); text-decoration: none; }
.nav-drawer .header-right .signed-in_dropdown ul li a:hover { color: rgb(255, 255, 255); background: rgb(26, 139, 240) none repeat scroll 0% 0%; }
.nav-drawer .nav-drawer-menu dl:nth-child(1) { transition-delay: 0.05s; }
.nav-drawer .nav-drawer-menu dl:nth-child(2) { transition-delay: 0.1s; }
.nav-drawer .nav-drawer-menu dl:nth-child(3) { transition-delay: 0.15s; }
.nav-drawer .nav-drawer-menu dl:nth-child(4) { transition-delay: 0.2s; }
.nav-drawer .nav-drawer-menu dl:nth-child(5) { transition-delay: 0.25s; }
.nav-drawer .nav-drawer-menu dl:nth-child(6) { transition-delay: 0.3s; }
.nav-drawer .nav-drawer-menu dl:nth-child(7) { transition-delay: 0.35s; }
.nav-drawer .nav-drawer-menu dl:nth-child(8) { transition-delay: 0.4s; }
.nav-icon { padding: calc(1.5rem - 15px) 1.5rem calc(1.5rem - 15px) 0px; position: absolute; right: 0px; top: 0px; cursor: pointer; transition: all 0.3s ease 0s; z-index: 2002; outline: 0px none; display: none; }
.nav-icon span, .nav-icon span::before, .nav-icon span::after { cursor: pointer; border-radius: 0px; height: 2px; width: 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; display: block; content: ""; transition: all 0.3s ease 0s; }
.nav-icon span::before { top: -5px; }
.nav-icon span::after { bottom: -5px; }
.nav-icon:hover span, .nav-icon:hover span::before, .nav-icon:hover span::after { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.nav-icon.active span::before, .nav-icon.active span::after { top: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.nav-icon.active span::before { transform: rotate(45deg); }
.nav-icon.active span::after { transform: rotate(-45deg); }
@media screen and (min-width: 901px) {
	.nav-exposed .header-right { width: auto; }
	.nav-exposed .header-right .search { z-index: 0; }
	.nav-exposed__menu { max-width: 750px; margin: 0px 0px 0px 1rem; opacity: 1; visibility: visible; float: left; position: relative; top: 7px; z-index: 1; }
	.nav-main__list-item { display: block; float: left; will-change: transform; font-size: 1rem; font-weight: 500; }
	.nav-main__list-item:not(:last-child) { margin-right: 1rem; }
	.nav-main__list-item a { will-change: transform; position: relative; color: rgb(255, 255, 255); text-decoration: none; }
	.nav-main__list-item a::after { content: ""; position: absolute; width: 100%; height: 2px; bottom: -4px; left: 0px; background-color: rgb(255, 255, 255); visibility: hidden; opacity: 0; }
	.nav-main__list-item a:hover::after { visibility: visible; opacity: 1; transform: translateY(-2px); }
	.transparent .nav-exposed__menu .nav-main__list-item a::after { background-color: rgb(77, 92, 105); bottom: -3px; height: 1px; }
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 900px) {
	.nav-drawer { z-index: 2; }
	.nav-drawer.nav-exposed .nav-exposed__menu { width: 100%; opacity: 0; visibility: hidden; clear: both; }
	.nav-drawer.nav-exposed .nav-main__list-item { margin: 1.5rem calc(1.5rem + 20px) 0px 0px; }
	.nav-drawer.nav-exposed .nav-main__list-item a:link, .nav-drawer.nav-exposed .nav-main__list-item a:visited { color: rgb(255, 255, 255); font-size: 1.5rem; font-weight: 400; text-decoration: none; }
}
@media screen and (max-width: 900px) and (max-width: 300px) {
	.nav-drawer.nav-exposed .nav-main__list-item a:link, .nav-drawer.nav-exposed .nav-main__list-item a:visited { font-size: 1.125rem; }
}
@media screen and (max-width: 900px) {
	.nav-drawer.transparent .nav-icon span, .nav-drawer.transparent .nav-icon span::before, .nav-drawer.transparent .nav-icon span::after { background: rgb(77, 92, 105) none repeat scroll 0% 0%; }
	.nav-drawer.transparent.active .nav-icon span::before, .nav-drawer.transparent.active .nav-icon span::after { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
}
@media screen and (max-width: 900px) and (max-width: 300px) {
}
@media screen and (max-width: 900px) {
	.nav-drawer .nav-icon { display: block; }
	.nav-drawer .login-container { display: none; }
	.nav-drawer .search, .nav-drawer .avatar { display: none; }
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
.alert.warning .comp-container .status-icon i::before { padding-top: 5px; font-weight: 700; font-size: 1rem; }
.alert.error .comp-container .status-icon i::before { padding-top: 4px; font-size: 1rem; }
.alert .comp-container .status-icon i::before { padding-top: 8px; font-size: 0.667rem; }
.alert .comp-container::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.alert .icon-warning::before { content: "!"; }
@media screen and (max-width: 627px) {
	.alert.success .comp-container .status-icon i::before { padding-top: 6.5px; }
	.alert.error .comp-container .status-icon i::before { margin-left: 3.5px; padding-top: 3px; }
}
.notification .comp-container .status-icon i::before { padding-top: 8px; font-size: 0.667rem; }
.notification .comp-container::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
@media screen and (max-width: 900px) {
	.notification.global .comp-container .status-icon i::before { padding-top: 7px; }
}
#loader-container { position: fixed; top: 0px; left: 0px; z-index: 4; width: 100%; height: 10px; }
#loader-container #loader { width: 100%; height: 10px; background: rgb(26, 139, 240) none repeat scroll 0% 0%; position: absolute; left: -100%; right: auto; animation-name: loader-anim; animation-duration: 1.5s; animation-iteration-count: infinite; animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1); opacity: 0; }
.back-to-top .icon-navigation_side_back_arrow_mobile::before { transform: rotate(90deg); }
@media screen and (min-width: 1600px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 627px) {
}
.eu-cookie-alert { position: fixed; bottom: 0px; padding-left: 5.2%; padding-right: 5.2%; font-size: 1rem; color: rgb(255, 255, 255); font-weight: 400; opacity: 0; visibility: hidden; transition: opacity 0.5s ease 0s, visibility 0.5s ease 0s; background-color: rgb(26, 139, 240); width: 100%; box-sizing: border-box; }
.eu-cookie-alert.active { opacity: 1; visibility: visible; }
.eu-cookie-alert .comp-container { padding-top: 2rem; padding-bottom: 2rem; width: auto; max-width: 1600px; }
.eu-cookie-alert .comp-container .status-icon { float: left; display: inline; font-weight: 700; cursor: pointer; -moz-user-select: none; }
.eu-cookie-alert .comp-container .status-icon i { content: ""; margin-right: 8px; background-color: rgb(255, 255, 255); border-radius: 50%; width: 25px; height: 25px; display: inline-block; text-align: center; color: rgb(26, 139, 240); }
.eu-cookie-alert .comp-container .status-icon i::before { padding-top: 8px; font-size: 0.667rem; }
.eu-cookie-alert .comp-container .message { margin-left: 3rem; line-height: 1.5rem; }
.eu-cookie-alert .comp-container .message a:link, .eu-cookie-alert .comp-container .message a:visited { color: inherit; }
.eu-cookie-alert .comp-container .message a:hover { text-decoration: none; }
.eu-cookie-alert .comp-container::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
@media screen and (max-width: 900px) {
	.eu-cookie-alert .comp-container .status-icon i { width: 28px; height: 28px; }
	.eu-cookie-alert .comp-container .status-icon i::before { padding-top: 7px; }
}
.account { font-family: "Helvetica Neue","Hiragino Kaku Gothic Pro","Tahoma","Arial",sans-serif; font-weight: normal; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-radius: 4px; box-sizing: border-box; overflow: hidden; margin-bottom: 3rem; max-width: 504px; position: relative; z-index: 0; }
.account .account-container { padding: 1.5rem 1.5rem 0px; }
.account .cover-container { width: 100%; height: 10.5rem; overflow: hidden; position: relative; text-align: center; }
.account .cover-container.placeholder { background-color: rgb(26, 139, 240); }
.account .cover-container .cover-container-inner { position: relative; right: 50%; float: right; }
.account .cover-container .cover-container-inner img { margin: 0px auto; width: auto; height: 10.5rem; position: relative; right: -50%; }
.account p { font-size: 1rem; line-height: 1.5rem; color: rgb(28, 32, 35); font-family: "Helvetica Neue","Hiragino Kaku Gothic Pro","Tahoma","Arial",sans-serif; font-weight: normal; width: 100%; margin-bottom: 1.5rem; }
.account header { margin-top: -69px; position: relative; z-index: 2; }
.account header .avatar { margin: 0px 0px 1rem; flex: 0 0 100%; }
.account header .avatar img { display: block; width: 56px; border-radius: 4px; }
.account header .user-container { display: flex; flex-flow: row wrap; justify-content: space-between; }
.account header .user-container .handle { flex: 1 1 160px; display: inline-block; width: 100%; margin-bottom: 1.5rem; }
.account header .user-container .handle a { text-decoration: none; }
.account header .user-container .handle:hover h4, .account header .user-container .handle:hover h5 { color: rgb(26, 139, 240); }
.account header .user-container .handle h4 { margin-bottom: 0px; font-size: 1.5rem; font-weight: 300; overflow-wrap: break-word; color: rgb(28, 32, 35); }
.account header .user-container .handle h5 { margin: 0px; color: rgb(77, 92, 105); }
.account header .btn-container { margin: 0px 0px 1.5rem; display: inline-block; }
.account header button { padding: calc(1.5rem / 2 - 4px) calc(1.5rem - 2px) calc(1.5rem / 2 - 5px) 1.5rem; font-size: 0.875rem; font-family: "Helvetica Neue","Hiragino Kaku Gothic Pro","Tahoma","Arial",sans-serif; font-weight: bold; line-height: 1.25rem; }
.account header button .logo { margin: 4px calc(1.5rem / 2) 0px 0px; float: left; width: 14px; height: 12.3px; display: block; font-size: 12px; line-height: 1; }
.account .tweet-container {  }
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 900px) {
	.account header button { padding: calc(1.5rem / 2 - 4px) 1.5rem calc(1.5rem / 2 - 5px) calc(1.5rem + 3px); }
	.account header .user-container .handle { width: 100%; display: inline-block; }
	.account .cover-container .cover-container-inner img { width: auto; height: 10.5rem; }
}
@media screen and (max-width: 627px) {
	.account .cover-container-inner img { width: auto; height: 10.5rem; }
	.account header .user-container .handle h4 { font-size: 1.2rem; font-weight: 300; color: rgb(36, 41, 44); }
}
@media screen and (max-width: 500px) {
}
.billboard { margin-bottom: 4.5rem; text-align: left; color: rgb(255, 255, 255); background-color: rgb(255, 255, 255); }
.billboard h2 { margin: calc(0.375rem - 4px) 0px calc(0.375rem); color: inherit; line-height: 1.1; }
.billboard .btn-container { margin-bottom: 0px; }
.billboard .copy-container a:link, .billboard .copy-container a:visited { color: rgb(26, 139, 240); text-decoration: none; }
.billboard .copy-container a:link:hover, .billboard .copy-container a:visited:hover { color: rgb(141, 40, 214); }
.billboard p { margin: calc(0.3rem) 0px calc(0.75rem - 4px) auto; font-size: 1rem; line-height: 1.5rem; color: rgb(221, 229, 234); }
.billboard .overlay { width: 100%; height: 100%; position: absolute; opacity: 0.4; background-image: linear-gradient(36deg, rgb(26, 139, 240) 0px, rgb(37, 41, 45) 100%); }
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
.billboard.background-none, .billboard.background-transparent { background: transparent none repeat scroll 0px center; }
.billboard .img-container { position: relative; }
.billboard .img-container .circle-loader { opacity: 0; position: absolute; top: 50%; left: 50%; width: 70px; height: 70px; transform: translate(-50%, -50%); transition: all 0.8s ease 0s; }
.billboard .img-container .circle-loader circle { animation-name: circle-anim; stroke: rgb(30, 208, 137); }
.billboard .img-container .img-container-inner img { transition: all 0.8s ease 0.5s; }
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
.billboard.img-full { background-size: cover; min-height: 600px; background-position: 50% 50%; }
.billboard.img-full h2 { width: 474px; }
.billboard.img-full .comp-container { min-height: 600px; }
.billboard.img-full .copy-container { position: absolute; bottom: 3rem; width: 30%; left: 4%; }
@media screen and (max-width: 900px) {
}
.billboard.img-right { padding-top: 4.5rem; padding-bottom: 4.5rem; overflow: hidden; }
.billboard.img-right .comp-container { padding-left: 5.2%; padding-right: 5.2%; width: 89.6%; height: 100%; display: table; direction: rtl; }
.billboard.img-right .copy-container { margin-right: calc(1.78571% - 0.58%); padding-right: 20px; float: none; width: 40.625%; display: table-cell; vertical-align: middle; direction: ltr; }
.billboard.img-right .copy-container .copy-container-inner { vertical-align: middle; }
.billboard.img-right .img-container { margin-right: 6.69643%; width: 40.625%; float: none; display: table-cell; vertical-align: middle; direction: ltr; }
.billboard.img-right .img-container img { margin: 0px; width: 100%; vertical-align: top; border-radius: 4px; }
.billboard.img-right h2 { margin: 0px; color: rgb(28, 32, 35); }
.billboard.img-right p { margin-top: calc(0.75rem - 6px); color: rgb(77, 92, 105); }
.billboard.img-right-half { overflow: hidden; }
.billboard.img-right-half .comp-container { width: 100%; max-width: none; display: table; direction: rtl; }
.billboard.img-right-half .copy-container { margin-left: 6.69643%; padding: 2.5rem; float: none; width: 50%; direction: ltr; display: table-cell; vertical-align: middle; }
.billboard.img-right-half .img-container { width: 50%; float: none; display: table-cell; vertical-align: middle; direction: ltr; }
.billboard.img-right-half .img-container img { margin: 0px; width: 100%; vertical-align: top; }
.billboard.img-right-half p { margin-top: calc(0.75rem - 6px); color: rgb(77, 92, 105); }
.billboard.img-left-half { overflow: hidden; }
.billboard.img-left-half .comp-container { width: 100%; max-width: none; display: table; direction: ltr; }
.billboard.img-left-half .copy-container { margin-left: 6.69643%; padding: 2.5rem; float: none; width: 50%; direction: ltr; display: table-cell; vertical-align: middle; }
.billboard.img-left-half .img-container { width: 50%; float: none; display: table-cell; vertical-align: middle; direction: ltr; }
.billboard.img-left-half .img-container img { margin: 0px; width: 100%; vertical-align: top; }
.billboard.img-left-half p { margin-top: calc(0.75rem - 6px); color: rgb(77, 92, 105); }
.billboard.animate .img-container img { opacity: 0; }
.billboard.animate .img-container .circle-loader { opacity: 1; }
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
	.billboard h2 { font-size: 2.25rem; }
	.billboard.img-right-half { padding-bottom: 4.5rem; min-height: 0px; overflow: hidden; }
	.billboard.img-right-half .img-container { float: none; width: 100%; display: block; }
	.billboard.img-right-half .img-container img { margin-top: 0px; width: 100%; }
	.billboard.img-right-half .copy-container { box-sizing: border-box; margin-left: 0px; padding: 0px 20px; width: auto; display: block; }
	.billboard.img-right .img-container { margin-left: 0px; margin-right: 0px; display: block; float: none; width: 100%; }
	.billboard.img-right .copy-container { margin-top: 40px; margin-right: 0px; padding-right: 0px; display: block; width: 100%; min-height: 0px; }
	.billboard.img-full { min-height: 480px; }
	.billboard.img-full .comp-container { min-height: 480px; }
	.billboard.img-full .copy-container { width: 90%; }
	.billboard.img-full h2 { margin: 10px 0px 0px; width: auto; }
	.billboard.img-full button { margin: 10px 1.5rem calc(1.5rem / 2 - 5px) 0px; }
}
.t-row .billboard { border-radius: 4px; }
#main-content > div:last-of-type .billboard { margin-bottom: 0px; }
.blog-feed .bf-content ul li:not(:first-child) { margin-top: 51px; }
@media screen and (max-width: 900px) {
	.blog-feed .bf-header::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
	.blog-feed .bf-content ul li:not(:first-child) { margin-top: 55px; }
}
@media screen and (max-width: 627px) {
}
.bulleted-list ul li::before { content: " "; position: absolute; left: 3px; top: 11px; background-color: rgb(77, 92, 105); border-radius: 50%; width: 5px; height: 5px; }
@media screen and (max-width: 900px) {
}
.checklist-col ul li::before { background: transparent url('check.png') repeat scroll 0% 0%; left: -40px; top: 0px; width: 29px; height: 29px; }
@media screen and (max-width: 900px) {
	.checklist-col ul li::before { left: -25px; }
}
.code-snippet.code-snippet-collapsed .cs-content .cs-code-actions .close-snippet::after { margin-left: 8px; margin-right: 0px; padding: 2px 0px 0px; content: ""; font-family: "tw-sg-icons"; font-style: normal; font-weight: normal; display: inline-block; text-decoration: inherit; font-size: 7px; width: 15px; text-align: center; font-variant: normal; text-transform: none; line-height: 1em; transform: rotate(-180deg); }
.code-snippet.code-snippet-collapsed .cs-content.grad::after { background: transparent none repeat scroll 0px center; }
.code-snippet .cs-content.grad::after { content: " "; position: absolute; margin-top: 0px; bottom: 106px; height: 87px; width: 90%; background: transparent linear-gradient(to bottom, rgba(244, 247, 249, 0) 0px, rgb(244, 247, 249) 50%, rgb(244, 247, 249) 100%) repeat scroll 0% 0%; }
@media screen and (max-width: 900px) {
}
.content-dropdowns .cd-content ul li .cdi-content ul li::before { content: " "; position: absolute; left: 3px; top: 11px; background-color: rgb(77, 92, 105); border-radius: 50%; width: 5px; height: 5px; }
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 627px) {
}
@media screen and (max-width: 900px) {
}
.filter::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.filter ul li:hover input[type="checkbox"]:checked + label::after, .filter ul li.active input[type="checkbox"]:checked + label::after { background: transparent url('check_white.svg') no-repeat scroll 0% 0%; }
.filter ul li:hover input[type="radio"]:checked + label::after, .filter ul li.active input[type="radio"]:checked + label::after { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.filter ul li input[type="radio"] + label::after { content: ""; position: absolute; border-radius: 50%; background: rgb(26, 139, 240) none repeat scroll 0% 0%; animation-duration: 0.3s; animation-fill-mode: forwards; z-index: 4; }
.filter ul li input[type="checkbox"]:not(:checked), .filter ul li input[type="checkbox"]:checked, .filter ul li input[type="radio"]:not(:checked), .filter ul li input[type="radio"]:checked { position: absolute; left: -9999px; }
.filter ul li input[type="checkbox"]:not(:checked) + label, .filter ul li input[type="checkbox"]:checked + label, .filter ul li input[type="radio"]:not(:checked) + label, .filter ul li input[type="radio"]:checked + label { padding: 1.06rem 0.75rem 1.06rem 52px; position: relative; cursor: pointer; }
.filter ul li input[type="checkbox"]:not(:checked) + label::before, .filter ul li input[type="checkbox"]:checked + label::before, .filter ul li input[type="radio"]:not(:checked) + label::before, .filter ul li input[type="radio"]:checked + label::before { content: ""; position: absolute; left: 15px; top: 12px; width: 22px; height: 22px; border: 1px solid rgb(197, 208, 216); }
.filter ul li input[type="checkbox"]:not(:checked) + label::before, .filter ul li input[type="checkbox"]:checked + label::before { border-radius: 4px; }
.filter ul li input[type="radio"]:not(:checked) + label::before, .filter ul li input[type="radio"]:checked + label::before { border-radius: 50%; }
.filter ul li input[type="checkbox"]:not(:checked) + label::after, .filter ul li input[type="checkbox"]:checked + label::after { content: " "; position: absolute; top: 18px; left: 23px; width: 10px; height: 10px; font-size: 18px; line-height: 0.8; color: rgb(9, 173, 126); transition: all 0.2s ease 0s; background: transparent url('check_blue.svg') no-repeat scroll 0% 0%; }
.filter ul li input[type="checkbox"]:not(:checked) + label::after, .filter ul li input[type="radio"]:not(:checked) + label::after { opacity: 0; }
.filter ul li input[type="checkbox"]:checked + label::after, .filter ul li input[type="radio"]:checked + label::after { opacity: 1; }
.filter ul li input[type="radio"]:checked + label::after { width: 14px; height: 14px; left: 20px; top: 17px; animation-name: feedback-anim-radio; }
.filter ul li label:hover::before { border: 1px solid rgb(255, 255, 255) ! important; }
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 900px) {
}
.circle-loader { width: 60px; height: 60px; }
.circle-loader circle { stroke: rgb(30, 208, 137); animation-duration: 1s; animation-iteration-count: infinite; }
.btn-container { margin-bottom: 4.5rem; }
.form-input-container { display: inline-block; position: relative; margin: 1.5rem 0px; width: 100%; }
.form-input-container input { padding: 1rem 0.75rem; margin: 0px; border: 1px solid rgb(204, 214, 221); border-radius: 4px; display: block; width: 100%; color: rgb(77, 92, 105); background-color: rgb(255, 255, 255); font-size: 1rem; font-weight: 400; line-height: 1.5rem; transition: border-color 0.1s ease 0s; box-sizing: border-box; }
.form-input-container input:focus { border: 1px solid rgb(26, 139, 240); }
.dropdown-container { display: inline-block; margin: 1.5rem 0px; text-align: left; width: 100%; }
.dropdown-container .search { line-height: 0; }
.dropdown { margin: 10px 0px 0px; position: relative; text-align: left; font-size: 1rem; line-height: 1.5rem; color: rgb(77, 92, 105); width: 100%; z-index: 100; }
.dropdown.closed { z-index: 1; }
.dropdown.closed ul { display: none; margin-top: 0px; visibility: hidden; }
.dropdown.closed ul li { margin-top: -5px; opacity: 0; }
.dropdown.closed .title { background: rgb(255, 255, 255) none repeat scroll 0% 0%; color: rgb(77, 92, 105); border: 1px solid rgb(204, 214, 221); transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
.dropdown.closed .title:hover, .dropdown.closed .title:focus { border: 1px solid rgb(26, 139, 240); background: rgb(26, 139, 240) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.dropdown.closed .title:hover .arrow-down, .dropdown.closed .title:focus .arrow-down { color: rgb(255, 255, 255); }
.dropdown.closed .title .arrow-down { transform: rotate(0deg); transform-origin: 50% 50% 0px; color: rgb(77, 92, 105); }
.dropdown .title { margin: 0px; padding: 1rem 0.75rem; width: 100%; border: 1px solid rgb(26, 139, 240); cursor: pointer; box-sizing: border-box; border-radius: 4px; position: relative; background: rgb(26, 139, 240) none repeat scroll 0% 0%; color: rgb(255, 255, 255); z-index: 2; }
.dropdown .title .arrow-down { margin-top: -15px; width: 12px; height: 6px; display: block; font-size: 7px; position: absolute; right: 0.75rem; line-height: 1; transform: rotate(-180deg); transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; transform-origin: 50% 50% 0px; color: rgb(255, 255, 255); }
.dropdown ul { margin: auto; top: 52px; width: 100%; font-size: 1rem; border-style: solid; border-color: rgb(204, 214, 221); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 1px 1px; box-sizing: border-box; border-radius: 4px; position: absolute; list-style: outside none none; visibility: visible; z-index: 1; max-height: 430px; overflow-y: scroll; }
.dropdown ul li { margin: -5px auto 0px; padding: 0.75rem; width: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; font-size: 1rem; vertical-align: top; overflow: hidden; cursor: pointer; line-height: 1.5rem; transition: color 0.3s ease 0s, background 0.3s ease 0s, border-color 0.3s ease 0s; box-sizing: border-box; -moz-user-select: none; }
.dropdown ul li:hover { color: rgb(255, 255, 255); background: rgb(26, 139, 240) none repeat scroll 0% 0%; border-color: rgb(26, 139, 240); }
.dropdown ul li:focus { color: rgb(255, 255, 255) ! important; background: rgb(26, 139, 240) none repeat scroll 0% 0% ! important; border-color: rgb(26, 139, 240) ! important; }
.dropdown ul li:first-child { height: calc(1.5rem + 7px); border-bottom: 0px none rgb(204, 214, 221); border-top: 0px none rgb(204, 214, 221); background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-color: rgb(204, 214, 221); }
.dropdown ul li:last-child { padding: 0px; height: calc(1.5rem - 8px); border-width: 0px 1px 1px; border-bottom-left-radius: 4px; border-bottom-right-radius: 4px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-color: rgb(204, 214, 221); }
.dropdown ul li.hidden { display: none ! important; }
.ac-custom input[type="checkbox"], .ac-custom input[type="radio"], .ac-custom label::before { position: absolute; left: 0px; top: auto; width: 22px; height: 22px; border: 1px solid rgb(204, 214, 221); border-radius: 4px; cursor: pointer; }
.ac-custom label::before { content: ""; border: 1px solid rgb(204, 214, 221); transition: color 0.3s ease 0s; }
.ac-custom label::after { content: ""; position: absolute; left: 0px; top: 3px; width: 2px; height: 2px; border-radius: 4em; background: rgb(26, 139, 240) none repeat scroll 0% 0%; opacity: 0; animation-duration: 0.3s; animation-fill-mode: forwards; z-index: 4; }
.ac-radio label::before { border-radius: 50%; }
.ac-custom input[type="checkbox"]:checked + label::after { width: calc(1.5rem - 1px); height: calc(1.5rem - 1px); animation-name: feedback-anim; }
.ac-custom input[type="radio"]:checked + label::after { width: 14px; height: 14px; left: 5px; top: 8px; animation-name: feedback-anim-radio; }
.ac-custom input[type="checkbox"]:disabled + label::before, .ac-custom input[type="radio"]:disabled + label::before { border: 1px solid rgb(197, 208, 216); cursor: default; }
.ac-custom.error input[type="checkbox"] + label::before, .ac-custom.error input[type="radio"] + label::before { border: 1px solid rgb(237, 32, 77); }
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
.masthead { margin-bottom: 4.5rem; text-align: left; opacity: 1; overflow: hidden; transition: opacity 0.8s ease 0s; }
.masthead h1 { margin: 0.75rem 0px calc(1.5rem); color: rgb(255, 255, 255); max-width: 46.875rem; }
@media screen and (max-width: 900px) {
	.masthead h1 { font-weight: 300; line-height: 1.25em; font-size: 2.625rem; margin-bottom: 2rem; }
}
@media screen and (max-width: 900px) and (max-width: 900px) {
	.masthead h1 { font-size: 40px; }
}
@media screen and (max-width: 900px) {
}
.masthead .overlay { display: none; }
.masthead.overlay-on .overlay { display: block; }
.masthead .copy-container { transition-property: bottom, opacity; transition-duration: 0.5s, 0.5s; transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1), cubic-bezier(0.165, 0.84, 0.44, 1); transition-delay: 0.2s; }
.masthead.medium { background-size: cover; background-position: 50% 50%; min-height: 31.5rem; }
.masthead.medium .comp-container { min-height: 31.5rem; }
.masthead.medium h1 { margin: 0px; }
.masthead.medium .copy-container { position: absolute; bottom: 3rem; opacity: 1; }
.masthead.medium .overlay { width: 100%; height: 100%; position: absolute; opacity: 0.4; background-image: linear-gradient(36deg, rgb(26, 139, 240) 0px, rgb(37, 41, 45) 100%); }
@media screen and (max-width: 900px) {
}
.masthead .copy-wrapper { padding-left: 5.2%; padding-right: 5.2%; width: 89.6%; }
@media screen and (max-width: 627px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
	.masthead.full .copy-container, .masthead.medium .copy-container, .masthead.slim .copy-container { width: 80%; }
	.masthead.masthead-slim.transparent .nav-icon span::before, .masthead.masthead-slim.transparent .nav-icon span::after { background: rgb(77, 92, 105) none repeat scroll 0% 0%; }
	.masthead.masthead-slim.transparent .nav-icon.active span::before, .masthead.masthead-slim.transparent .nav-icon.active span::after { top: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
	.masthead.masthead-slim.transparent .nav-icon.active span::before { transform: rotate(45deg); }
	.masthead.masthead-slim.transparent .nav-icon.active span::after { transform: rotate(-45deg); }
}
@media screen and (max-width: 627px) {
}
@media screen and (max-width: 1350px) {
	.module.list .copy-inner .members-list .members-list-avatars li:nth-child(3) { margin-right: 0px; }
}
@media screen and (max-width: 1200px) {
	.module.list .copy-inner .members-list .members-list-avatars li:nth-child(2) { margin-right: 0px; }
	.module.list .copy-inner .members-list .members-list-avatars li:nth-child(3) { display: none; }
}
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 627px) {
	.module.list .copy-inner .members-list .members-list-avatars li:nth-child(3) { margin-right: 0px ! important; }
}
@media screen and (max-width: 400px) {
	.module.list .copy-inner .members-list .members-list-avatars li:nth-child(2) { margin-right: 0px ! important; }
	.module.list .copy-inner .members-list .members-list-avatars li:nth-child(3) { display: none ! important; }
}
@media screen and (max-width: 350px) {
}
.numbered-list .numbered-col > ol > li::before, .numbered-list .numbered-col > ol > li::after { position: absolute; left: 0px; top: 0px; color: rgb(26, 139, 240); font-size: 2.25rem; font-weight: 300; }
.numbered-list .numbered-col > ol > li::before { content: counter(step-counter, decimal); top: 9px; left: -1px; width: 43px; height: 35px; text-align: center; }
.numbered-list .numbered-col > ol > li::after { content: "|"; top: 1px; left: 46px; color: transparent; border-left: 1px solid rgb(26, 139, 240); height: 35px; }
@media screen and (max-width: 1300px) {
}
@media screen and (max-width: 900px) {
	.numbered-col > ol > li::before { width: 48px; }
	.numbered-col > ol > li::after { left: 56px; }
}
.spacer { font-size: 0px; }
.spacer.margin-small { min-height: 1px; margin-top: 2.25rem; margin-bottom: calc(2.25rem - 1px); }
.spacer.margin-standard { min-height: 1px; margin-top: 4.5rem; margin-bottom: calc(4.5rem - 1px); }
.spacer.margin-negative-standard { margin-bottom: -4.5rem; }
.spacer.margin-negative-small { margin-bottom: -2.25rem; }
.specs ul li::before { position: static; content: none; }
.specs .copy-container ul li::before { position: static; content: none; }
@media screen and (max-width: 900px) {
	.specs .copy-container.col-specs:not(.comp-specs) { width: 48%; }
}
@media screen and (max-width: 627px) {
}
@media screen and (max-width: 627px) {
}
@media screen and (max-width: 627px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
.tip-dropdowns .td-content ul li::before { content: " "; position: absolute; left: 3px; top: 7px; background-color: rgb(77, 92, 105); border-radius: 50%; width: 5px; height: 5px; }
@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 900px) {
}
.upload-button .status-icon i::before { font-size: 7px; font-weight: 700; vertical-align: middle; }
@media screen and (max-width: 900px) {
	.upload-button .status-icon i::before { font-size: 8px; }
}
/* ::::: https://careers.twitter.com/etc/designs/careers-twitter/clientlib-site.min.css ::::: */

.comp-wrapper.dropdown-container.col.col-3 { float: none; display: inline-block; }
.sticky-button.col.col-2 { float: none; display: inline-block; }
.masthead.medium .overlay { opacity: 0.3; }
.jobs-search-nav { position: static; height: auto; background-color: transparent; box-shadow: none; text-align: center; margin-bottom: 4.5rem; }
.jobs-search-nav .comp-container { text-align: right; }
.jobs-search-nav .comp-container .sticky-wrapper { overflow: visible; height: auto; }
.jobs-search-nav .sticky-button { text-align: left; vertical-align: baseline; }
.jobs-search-nav .sticky-button button { padding: 0.41rem 1.5rem; }
.jobs-search-nav .sticky-button-mobile { display: none; }
.jobs-search-nav .comp-wrapper { vertical-align: middle; }
.jobs-search-nav .dropdown { margin: 0px; }
.jobs-search-nav .search { line-height: 0; position: relative; }
.jobs-search-nav .search .form-input-container { margin: 0px; }
.jobs-search-nav .search .form-input-container input {  }
.jobs-search-nav .search .search-icon { border: 0px none; background: transparent none repeat scroll 0% 0%; margin: 0px; padding: 0px; text-decoration: none; width: 12px; height: auto; display: block; font-size: 1rem; color: rgb(77, 92, 105); position: absolute; right: 1.2rem; top: 50%; transform: translateY(-50%); line-height: 1; z-index: 2; }
.jobs-search-nav .sticky-search { position: relative; z-index: 2; transition: all 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
@media screen and (max-width: 900px) {
	.jobs-search-nav { margin-bottom: 0px; }
	.jobs-search-nav .comp-container { text-align: center; }
	.jobs-search-nav .comp-container .sticky-wrapper { height: auto; }
	.jobs-search-nav .comp-container .dropdown-container { margin-bottom: 1.5rem; }
	.jobs-search-nav .comp-container .dropdown .title { border: 1px solid rgb(204, 214, 221); }
	.jobs-search-nav .comp-container .sticky-button { margin-bottom: 1rem; }
	.jobs-search-nav .form-input-container { margin: 0px; }
}
input::-moz-placeholder { color: rgb(77, 92, 105); }
input:-moz-placeholder { color: rgb(77, 92, 105); }
.carousel { margin-bottom: 4.5rem; }
.carousel .carousel-container { position: relative; overflow: hidden; z-index: 1; width: 100%; height: 100%; margin: 20px auto; }
.carousel.single .carousel-container { max-width: 1024px; padding-bottom: 4rem; }
.carousel .carousel-wrapper { position: relative; width: 100%; height: 100%; z-index: 1; display: flex; transition-property: transform; box-sizing: content-box; }
.carousel .carousel-container-android .carousel-slide, .carousel .carousel-wrapper { transform: translate3d(0px, 0px, 0px); }
.carousel .carousel-slide { flex-shrink: 0; width: 100%; height: 100%; position: relative; text-align: center; font-size: 18px; }
.carousel .carousel-slide .content { position: relative; bottom: -2rem; display: inline-block; }
.carousel .carousel-slide .content h3 { margin: 0px; }
.carousel .carousel-pagination { position: absolute; text-align: center; transition: all 300ms ease 0s; transform: translate3d(0px, 0px, 0px); z-index: 10; }
.carousel .carousel-container-horizontal > .carousel-pagination-bullets { bottom: 10px; left: 0px; width: 100%; }
.carousel .carousel-pagination-bullet { width: 8px; height: 8px; display: inline-block; border-radius: 100%; background: rgb(45, 51, 55) none repeat scroll 0% 0%; opacity: 0.2; }
.carousel .carousel-pagination-clickable .carousel-pagination-bullet { cursor: pointer; }
.carousel .carousel-pagination-bullet-active { opacity: 1; background: rgb(36, 41, 44) none repeat scroll 0% 0%; }
.carousel .carousel-container-horizontal > .carousel-pagination-bullets .carousel-pagination-bullet { margin: 0px 4px; }
.carousel .carousel-follows-container { min-height: 37.5rem; }
.carousel .carousel-follows-container .account { margin-bottom: 0px; }
.carousel .carousel-follows { opacity: 0; height: 0px; overflow: hidden; transition: opacity 0.25s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
.carousel .carousel-follows.active { opacity: 1; height: auto; }
.carousel .account .account-container { min-height: 12rem; }
@media screen and (max-width: 900px) {
	.carousel .carousel-follows-container { min-height: 98.5rem; }
	.carousel .carousel-follows .col { margin-bottom: 2rem; }
}
.cf::before, .accordion .accordion-header::before, .cf::after, .accordion .accordion-header::after { content: " "; display: table; }
.cf::after, .accordion .accordion-header::after { clear: both; }
.accordion .accordion-item:nth-child(24n+1) .accordion-header { background: rgb(27, 139, 240) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+1) .accordion-header:hover { background: rgb(41, 146, 241) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+2) .accordion-header { background: rgb(33, 142, 240) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+2) .accordion-header:hover { background: rgb(47, 149, 241) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+3) .accordion-header { background: rgb(39, 145, 241) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+3) .accordion-header:hover { background: rgb(53, 152, 242) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+4) .accordion-header { background: rgb(47, 149, 241) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+4) .accordion-header:hover { background: rgb(61, 156, 242) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+5) .accordion-header { background: rgb(56, 154, 242) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+5) .accordion-header:hover { background: rgb(70, 161, 243) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+6) .accordion-header { background: rgb(66, 159, 242) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+6) .accordion-header:hover { background: rgb(80, 166, 243) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+7) .accordion-header { background: rgb(75, 164, 243) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+7) .accordion-header:hover { background: rgb(89, 171, 244) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+8) .accordion-header { background: rgb(85, 169, 244) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+8) .accordion-header:hover { background: rgb(99, 176, 245) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+9) .accordion-header { background: rgb(95, 174, 244) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+9) .accordion-header:hover { background: rgb(109, 181, 245) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+10) .accordion-header { background: rgb(106, 179, 245) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+10) .accordion-header:hover { background: rgb(120, 186, 246) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+11) .accordion-header { background: rgb(115, 184, 245) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+11) .accordion-header:hover { background: rgb(129, 191, 246) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+12) .accordion-header { background: rgb(124, 188, 246) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+12) .accordion-header:hover { background: rgb(138, 195, 247) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+13) .accordion-header { background: rgb(130, 192, 247) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+13) .accordion-header:hover { background: rgb(144, 199, 248) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+14) .accordion-header { background: rgb(124, 188, 246) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+14) .accordion-header:hover { background: rgb(138, 195, 247) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+15) .accordion-header { background: rgb(115, 184, 245) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+15) .accordion-header:hover { background: rgb(129, 191, 246) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+16) .accordion-header { background: rgb(106, 179, 245) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+16) .accordion-header:hover { background: rgb(120, 186, 246) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+17) .accordion-header { background: rgb(95, 174, 244) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+17) .accordion-header:hover { background: rgb(109, 181, 245) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+18) .accordion-header { background: rgb(85, 169, 244) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+18) .accordion-header:hover { background: rgb(99, 176, 245) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+19) .accordion-header { background: rgb(75, 164, 243) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+19) .accordion-header:hover { background: rgb(89, 171, 244) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+20) .accordion-header { background: rgb(66, 159, 242) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+20) .accordion-header:hover { background: rgb(80, 166, 243) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+21) .accordion-header { background: rgb(56, 154, 242) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+21) .accordion-header:hover { background: rgb(70, 161, 243) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+22) .accordion-header { background: rgb(47, 149, 241) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+22) .accordion-header:hover { background: rgb(61, 156, 242) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+23) .accordion-header { background: rgb(39, 145, 241) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+23) .accordion-header:hover { background: rgb(53, 152, 242) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+24) .accordion-header { background: rgb(33, 142, 240) none repeat scroll 0% 0%; }
.accordion .accordion-item:nth-child(24n+24) .accordion-header:hover { background: rgb(47, 149, 241) none repeat scroll 0% 0%; }
@media screen and (max-width: 900px) {
	.accordion .accordion-content .mobile-info p:nth-child(1) { margin-right: 1rem; }
}
.video { position: relative; line-height: 0.5; cursor: pointer; }
.video .play-btn-container img.play-btn { position: absolute; width: 72px; height: 72px; left: 50%; top: 50%; margin-left: -36px; margin-top: -36px; opacity: 1; transition: opacity 0.3s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
.locations-list { margin: 0px 0px 4.5rem; width: 100%; }
.locations-list .nav-col { position: relative; width: 25%; float: left; vertical-align: top; padding: 0px; min-height: 601px; background-size: cover; background-position: 100% 100%; }
.locations-list h3 { position: absolute; bottom: 27rem; width: 86%; margin: 0px 7%; padding: 0px 0px 1rem; font-size: 1.5rem; color: rgb(255, 255, 255); border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
.locations-list .list-container dl { height: 13.125rem; margin: 12.5rem 7% 0px; -moz-columns: 2 auto; -moz-column-fill: auto; }
.locations-list dl { box-sizing: border-box; font-size: 1rem; list-style: outside none none; overflow: hidden; padding: 0px 7% 0px 0px; }
.locations-list dd { padding: 0px; margin: 0px 0px 1rem; width: 100%; font-size: 1rem; vertical-align: top; overflow: hidden; line-height: 1.1; color: rgb(77, 92, 105); box-sizing: border-box; }
.locations-list dd a { color: rgb(255, 255, 255); text-decoration: none; }
.locations-list dd a:hover { color: rgb(221, 229, 234); }
@media screen and (max-width: 900px) {
	.locations-list h3 { position: static; margin-top: 2rem; text-align: center; }
	.locations-list .list-container dl { margin-top: 2rem; }
	.locations-list dl:nth-of-type(2n+1) { padding: 0px 5% 0px 10%; }
	.locations-list dl:nth-of-type(2n) { padding: 0px 10% 0px 5%; }
	.locations-list .nav-col { margin: 0px; width: 100%; display: inline-block; vertical-align: top; padding: 0px; min-height: 401px; background-position: center bottom; }
}
.billboard.list a, .billboard.list .title { font-size: 1rem; font-weight: 700; margin-top: 0px; margin-bottom: 0px; text-decoration: none; }
.billboard.list a { color: rgb(26, 139, 240); }
.billboard.list a:hover { color: rgb(141, 40, 214); }
.billboard.list p { color: rgb(28, 32, 35); font-weight: 300; margin-bottom: 0.2rem; }
.billboard.list h3 { font-weight: 300; color: rgb(28, 32, 35); margin-top: 1.5rem; margin-bottom: 0.5rem; }
.billboard.list .img-container { background-size: cover; background-position: center center; }
.billboard.list .img-container .img-container-inner { visibility: hidden; }
.billboard.list.col3 .copy-container { margin: 0px auto; }
.billboard.list.col3 .copy-container .col { float: left; margin: 0px calc(1.78571% - 0.58%) 1.5rem 0px; width: 32.1429%; }
.billboard.list.col2 .copy-container { margin: 0px auto; }
.billboard.list.col2 .copy-container .col { float: left; margin: 0px calc(1.78571% - 0.58%) 1.5rem 0px; width: 49.1071%; }
.billboard.list.col2 .copy-container .col:nth-child(2n) { margin-right: 0px; }
@media screen and (min-width: 900px) {
	.billboard.list.col3 .copy-container .col:nth-child(3n) { margin-right: 0px; }
}
@media screen and (max-width: 900px) {
	.billboard.list { padding-top: 0px; }
	.billboard.list .copy-container, .billboard.list .img-container { display: block; width: 100%; }
	.billboard.list .img-container .img-container-inner { display: block; }
	.billboard.list.col3 .copy-container, .billboard.list.col2 .copy-container { box-sizing: border-box; padding: 0px 30px; }
	.billboard.list.col3 .copy-container .col { float: left; margin: 0px calc(1.78571% - 0.58%) 1.5rem 0px; width: 49.1071%; }
	.billboard.list.col3 .copy-container .col:nth-child(2n) { margin-right: 0px; }
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
