/* ::::: https://dev.twitter.com/_static/css/slick.css ::::: */

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-user-select: none; }
.slick-list { position: relative; display: block; overflow: hidden; margin: 0px; padding: 0px; }
.slick-list:focus { outline: medium none; }
.slick-slider .slick-track, .slick-slider .slick-list { transform: translate3d(0px, 0px, 0px); }
.slick-track { position: relative; top: 0px; left: 0px; display: block; }
.slick-track::before, .slick-track::after { display: table; content: ""; }
.slick-track::after { clear: both; }
.slick-slide { display: none; float: left; height: 100%; min-height: 1px; }
.slick-slide img { display: block; }
.slick-initialized .slick-slide { display: block; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
.slider { overflow: hidden; }
.slide:nth-child(n+1) { display: none; }
.slick-initialized, .slide:first-child { display: block; }
/* ::::: https://fonts.twitter.com/helvetica_neue/css/light.css ::::: */

@font-face {
	font-family: "Helvetica Neue LT";
	font-style: normal;
	font-weight: 300;
	src: url('2023e7d1-9f0a-4cac-8e80-22321db918dd.eot') format("eot"), url('198fd78b-3655-4768-89c4-31caf65ea363.woff2') format("woff2"), url('49631ce8-9201-47a8-8874-45371417c35f.woff') format("woff"), url('undefined') format("truetype"), url('9ac3d424-8521-46cf-8878-7324762db7b4.svg') format("svg");
}
/* ::::: https://fonts.twitter.com/helvetica_neue/css/roman.css ::::: */

@font-face {
	font-family: "Helvetica Neue LT";
	font-style: normal;
	font-weight: 400;
	src: url('8b3b0133-222d-4ffc-9d6e-565dd879690c.eot') format("eot"), url('1a14dcac-7c9e-471c-8039-33c730f871f2.woff2') format("woff2"), url('558ed534-0c60-42cf-8b94-d0a16eb70d37.woff') format("woff"), url('undefined') format("truetype"), url('6513e804-e03e-41a1-8385-d5e0971f2009.svg') format("svg");
}
/* ::::: https://fonts.twitter.com/helvetica_neue/css/bold.css ::::: */

@font-face {
	font-family: "Helvetica Neue LT";
	font-style: normal;
	font-weight: 700;
	src: url('3aeaeb1d-1dea-4e9b-9e83-52adc5a87209.eot') format("eot"), url('d9122e8d-bf26-4f1c-bab9-c06599397b59.woff2') format("woff2"), url('db0cec12-a947-40fe-a115-c5ce22ee79f6.woff') format("woff"), url('undefined') format("truetype"), url('024411ef-26bf-4536-aea4-ec953846eda7.svg') format("svg");
}
/* ::::: https://fonts.twitter.com/helvetica_neue/css/heavy.css ::::: */

@font-face {
	font-family: "Helvetica Neue LT";
	font-style: normal;
	font-weight: 900;
	src: url('8a90a2ba-1276-4b3f-bc1c-8526172b27f4.eot') format("eot"), url('c415f3fd-ff27-40fe-af94-8b4a54b4b4e4.woff2') format("woff2"), url('a1da20c7-4dc9-4af5-bd6f-9ebe50b6788d.woff') format("woff"), url('undefined') format("truetype"), url('acd8d6df-9696-4092-bf23-5370c63ca9fb.svg') format("svg");
}
/* ::::: https://ton.twimg.com/dtc/8504dc03-f045-49a7-bf81-7aa8b104c088/_static/css/fontello.css ::::: */

@font-face {
	font-family: "fontello";
	font-style: normal;
	font-weight: normal;
	src: url('fontello.eot') format("embedded-opentype"), url('fontello.woff2') format("woff2"), url('fontello.woff') format("woff"), url('fontello.ttf') format("truetype"), url('fontello.svg') format("svg");
}
[class^="fontello-icon-"]::before, [class*=" fontello-icon-"]::before { font-family: "fontello"; font-style: normal; font-weight: normal; display: inline-block; text-decoration: inherit; text-align: center; font-variant: normal; text-transform: none; line-height: 1em; -moz-osx-font-smoothing: grayscale; }
.fontello-icon-answers::before { content: ""; }
.fontello-icon-digits::before { content: ""; }
.fontello-icon-fabric::before { content: ""; }
.fontello-icon-crashlytics::before { content: ""; }
.fontello-icon-advertising::before { content: ""; }
.fontello-icon-api::before { content: ""; }
.fontello-icon-twitter_apis::before { content: ""; }
.fontello-icon-twitter::before { content: ""; }
.fontello-icon-mopub::before { content: ""; }
.fontello-icon-gnip::before { content: ""; }
.fontello-icon-gnip_decahose::before { content: ""; }
.fontello-icon-gnip_powertrack::before { content: ""; }
.fontello-icon-gnip_historical_powertrack::before { content: ""; }
.fontello-icon-gnip_historical_30-day::before { content: ""; }
.fontello-icon-gnip_full-archive::before { content: ""; }
.fontello-icon-gnip_audience::before { content: ""; }
.fontello-icon-gnip_engagement::before { content: ""; }
.fontello-icon-fabric { color: rgb(2, 82, 138); }
.fontello-icon-advertising { color: rgb(121, 75, 196); }
.fontello-icon-twitter_apis { color: rgb(224, 36, 94); }
.fontello-icon-twitter { color: rgb(85, 172, 238); }
.fontello-icon-gnip { color: rgb(19, 70, 95); }
/* ::::: https://ton.twimg.com/dtc/8504dc03-f045-49a7-bf81-7aa8b104c088/_static/css/bootstrap_grid.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { color: inherit; font: inherit; margin: 0px; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
* { box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
html { font-size: 10px; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(51, 122, 183); text-decoration: none; }
a:hover, a:focus { color: rgb(35, 82, 124); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
.container { margin-right: auto; margin-left: auto; padding-left: 15px; padding-right: 15px; }
.row { margin-left: -15px; margin-right: -15px; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-left: 15px; padding-right: 15px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
.col-xs-6 { width: 50%; }
.clearfix::before, .clearfix::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after { content: " "; display: table; }
.clearfix::after, .container::after, .container-fluid::after, .row::after { clear: both; }
/* ::::: https://ton.twimg.com/dtc/8504dc03-f045-49a7-bf81-7aa8b104c088/_static/css/global.css ::::: */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0px; padding: 0px; border: 0px none; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: outside none none; }
blockquote, q { quotes: none; }
blockquote::before, blockquote::after, q::before, q::after { content: none; }
:focus { outline: medium none; }
@font-face {
	font-family: "tw-sg-icons";
	font-style: normal;
	font-weight: normal;
	src: url('tw-sg-icons_002.eot') format("embedded-opentype"), url('tw-sg-icons_002.woff') format("woff"), url('tw-sg-icons_002.ttf') format("truetype"), url('tw-sg-icons_002.svg') format("svg");
}
[class^="icon-"]::before, [class*=" icon-"]::before { font-family: "tw-sg-icons"; font-style: normal; font-weight: normal; display: inline-block; text-decoration: inherit; width: 1em; margin-right: 0.2em; text-align: center; font-variant: normal; text-transform: none; line-height: 1em; margin-left: 0.2em; -moz-osx-font-smoothing: grayscale; backface-visibility: hidden; }
.icon-alert_error::before { content: ""; }
.icon-footer_arrow::before { content: ""; }
.icon-back-arrow::before { content: ""; }
.icon-radio_check::before { content: ""; }
.icon-download::before { content: ""; }
.icon-share::before { content: ""; }
.icon-arrow_right::before { content: ""; }
.icon-dropdown_arrow::before { content: ""; }
.icon-flyout_triangle::before { content: ""; }
.icon-external_link::before { content: ""; }
.icon-logo_sml::before { content: ""; }
.icon-navigation_close_mobile::before { content: ""; }
.icon-navigation_down_arrow::before { content: ""; }
.icon-navigation_hamburger_mobile::before { content: ""; }
.icon-navigation_search::before { content: ""; }
.icon-navigation_side_back_arrow_mobile::before { content: ""; }
.icon-mtc_share::before { content: ""; }
.icon-plus::before { content: ""; }
.icon-quote::before { content: ""; }
.screen-reader { text-indent: 100%; white-space: nowrap; overflow: hidden; display: none; }
html { font-size: 16px; height: 100%; }
body { margin: 0px; padding: 0px; width: 100%; height: 100%; font-family: "Helvetica Neue LT","Hiragino Kaku Gothic Pro","Helvetica Neue","Tahoma","Arial",sans-serif; color: rgb(125, 142, 156); background: rgb(244, 247, 249) none repeat scroll 0% 0%; font-size: 18px; -moz-osx-font-smoothing: grayscale; }
p { font-family: "Helvetica Neue LT","Hiragino Kaku Gothic Pro","Helvetica Neue","Tahoma","Arial",sans-serif; line-height: 1.5rem; }
button { padding: calc(1.5rem / 2 - 4px) 1.5rem calc(1.5rem / 2 - 5px); color: rgb(255, 255, 255); background-color: rgb(26, 139, 240); border-radius: 4px; border: 1px solid rgb(26, 139, 240); font-family: "Helvetica Neue LT","Hiragino Kaku Gothic Pro","Helvetica Neue","Tahoma","Arial",sans-serif; font-size: 1rem; line-height: 1.5rem; font-weight: 700; cursor: pointer; transition: all 0.2s ease 0s; }
button:hover { background-color: rgb(100, 178, 248); border: 1px solid rgb(100, 178, 248); }
button:active { background-color: rgb(4, 104, 194); border: 1px solid rgb(4, 104, 194); }
button:disabled { color: rgb(255, 255, 255); border: 1px solid rgb(221, 229, 234); background-color: rgb(221, 229, 234); cursor: default; }
button.secondary { background: transparent none repeat scroll 0% 0%; color: rgb(26, 139, 240); border: 1px solid rgb(26, 139, 240); }
button.secondary.white { border: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255); }
button.secondary:hover { background: rgb(100, 178, 248) none repeat scroll 0% 0%; color: rgb(255, 255, 255); border: 1px solid rgb(100, 178, 248); }
button.secondary:active { color: rgb(255, 255, 255); border: 1px solid rgb(4, 104, 194); background-color: rgb(4, 104, 194); }
button.secondary:disabled { color: rgb(221, 229, 234); border: 1px solid rgb(221, 229, 234); background-color: transparent; }
.text ul li::before { content: " "; position: absolute; left: 3px; top: 11px; background-color: rgb(125, 142, 156); border-radius: 50%; width: 5px; height: 5px; }
#page-wrapper { margin: 0px; position: relative; min-height: 100%; overflow: hidden; }
#main-content { padding: 0px 0px 460px; min-height: 300px; }
.center-copy { text-align: center; }
h1 { margin-top: 50px; font-size: 5.063rem; font-family: "Helvetica Neue LT","Hiragino Kaku Gothic Pro","Helvetica Neue","Tahoma","Arial",sans-serif; font-weight: 600; }
h2 { font-size: 3rem; font-family: "Helvetica Neue LT","Hiragino Kaku Gothic Pro","Helvetica Neue","Tahoma","Arial",sans-serif; letter-spacing: -1px; font-weight: 600; }
h3 { font-size: 2.25rem; font-family: "Helvetica Neue LT","Hiragino Kaku Gothic Pro","Helvetica Neue","Tahoma","Arial",sans-serif; font-weight: 600; }
h4 { font-size: 1.5rem; font-family: "Helvetica Neue LT","Hiragino Kaku Gothic Pro","Helvetica Neue","Tahoma","Arial",sans-serif; }
h1, h2, h3, h4, h5, h6 { margin-bottom: 3rem; }
@media screen and (max-width: 820px) {
	html { font-size: 18px; }
}
.container { margin: 0px auto; position: relative; max-width: 1200px; width: 100%; clear: both; }
.comp-wrapper { margin: 0px auto; clear: both; position: relative; }
.comp-container { margin: 0px auto; position: relative; max-width: 1200px; width: 100%; height: 100%; }
@media screen and (max-width: 820px) {
}
.module { margin: 0px 0px 4.5rem; }
.module h4 { margin: calc(1.5rem + 5px) 0px 0px; font-family: "Helvetica Neue LT","Hiragino Kaku Gothic Pro","Helvetica Neue","Tahoma","Arial",sans-serif; font-size: 1.5rem; font-weight: 300; color: rgb(36, 41, 44); }
.module p { margin: 15px auto 18px; font-size: 1rem; line-height: 1.5rem; font-weight: 700; color: rgb(125, 142, 156); width: 100%; }
.module a { text-decoration: none; color: rgb(26, 139, 240); font-family: "Helvetica Neue LT","Hiragino Kaku Gothic Pro","Helvetica Neue","Tahoma","Arial",sans-serif; font-size: 1rem; font-weight: 600; }
.module a:hover { color: rgb(141, 40, 214); }
.module .copy-container { border-radius: 0px 0px 4px 4px; }
.module .copy-container .copy-inner { margin: calc(0.75rem) 0px 0px; }
.module .copy-container .copy-inner p { margin: 0px; display: inline; }
@media screen and (max-width: 1350px) {
	.module.list .copy-inner .members-list .members-list-avatars li:nth-child(3) { margin-right: 0px; }
}
@media screen and (max-width: 1200px) {
	.module.list .copy-inner .members-list .members-list-avatars li:nth-child(2) { margin-right: 0px; }
	.module.list .copy-inner .members-list .members-list-avatars li:nth-child(3) { display: none; }
}
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 820px) {
}
@media screen and (max-width: 600px) {
	.module.list .copy-inner .members-list .members-list-avatars li:nth-child(3) { margin-right: 0px ! important; }
}
@media screen and (max-width: 400px) {
	.module.list .copy-inner .members-list .members-list-avatars li:nth-child(2) { margin-right: 0px ! important; }
	.module.list .copy-inner .members-list .members-list-avatars li:nth-child(3) { display: none ! important; }
}
@media screen and (max-width: 350px) {
}
.btn-container { margin-bottom: 4.5rem; }
.ac-custom input[type="checkbox"], .ac-custom input[type="radio"], .ac-custom label::before { position: absolute; left: 0px; top: -3px; width: calc(1.5rem - 2px); height: calc(1.5rem - 2px); border: 1px solid rgb(204, 214, 221); border-radius: 4px; cursor: pointer; }
.ac-custom label::before { content: ""; border: 1px solid rgb(204, 214, 221); transition: opacity 0.3s ease 0s; }
.ac-custom label::after { content: ""; position: absolute; left: 1px; top: -2px; width: 2px; height: 2px; border-radius: 4em; background: rgb(26, 139, 240) none repeat scroll 0% 0%; opacity: 0; animation-duration: 0.3s; animation-fill-mode: forwards; z-index: 4; }
.ac-radio label::before { border-radius: 50%; }
.ac-custom input[type="checkbox"]:checked + label::after { width: calc(1.5rem - 1px); height: calc(1.5rem - 1px); animation-name: feedback-anim; }
.ac-custom input[type="radio"]:checked + label::after { width: 14px; height: 14px; left: 5px; top: 2px; animation-name: feedback-anim-radio; }
.ac-custom input[type="checkbox"]:disabled + label::before, .ac-custom input[type="radio"]:disabled + label::before { border: 1px solid rgb(197, 208, 216); }
.ac-custom.error input[type="checkbox"] + label::before, .ac-custom.error input[type="radio"] + label::before { border: 1px solid rgb(237, 32, 77); }
@media screen and (max-width: 820px) {
	.ac-custom input[type="radio"]:checked + label::after { width: 17px; height: 17px; left: 5px; top: 2px; }
}
.billboard { margin-bottom: 4.5rem; text-align: left; color: rgb(255, 255, 255); background-color: rgb(255, 255, 255); }
.billboard h2 { margin: calc(0.375rem - 4px) 0px calc(0.375rem); color: inherit; line-height: 1.1; }
.billboard .btn-container { margin-bottom: 0px; }
.billboard .copy-container a:link, .billboard .copy-container a:visited { color: rgb(26, 139, 240); text-decoration: none; }
.billboard .copy-container a:link:hover, .billboard .copy-container a:visited:hover { color: rgb(141, 40, 214); }
.billboard.no-img { background: rgb(26, 139, 240) none repeat scroll 0% 0%; color: rgb(255, 255, 255); min-height: 290px; height: auto ! important; }
.billboard.no-img .copy-container { padding: 3rem; box-sizing: border-box; height: 290px; }
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
.billboard.blue-gradient { background-color: rgb(86, 65, 219); background-image: linear-gradient(-60deg, rgb(86, 65, 219) 0px, rgb(31, 134, 239) 100%); }
.billboard.text-white, .billboard.white-text { color: rgb(255, 255, 255); }
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
	.billboard h2 { font-size: 2.25rem; }
}
.masthead { margin-bottom: 4.5rem; text-align: left; transition: all 0.8s ease 0s; opacity: 1; overflow: hidden; }
.masthead p { margin: 0.75rem auto; font-size: 1rem; line-height: 1.5rem; font-weight: 700; color: rgb(255, 255, 255); width: 100%; }
.masthead .btn-container { display: none; margin-bottom: 0px; }
.masthead.button .btn-container { margin-bottom: 0px; display: block; position: absolute; bottom: 0px; transition: all 0.8s ease 0.2s; }
.masthead .copy-container { transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.2s; }
.copy-wrapper { padding-left: 5.2%; padding-right: 5.2%; width: 89.6%; }
.nav-drawer header .header-right .signed-in_dropdown::before { position: absolute; top: -6px; right: 10px; content: " "; width: 7px; height: 7px; background: transparent url('signedin_triangle_002.svg') repeat scroll right 0px; z-index: 222; }
.nav-drawer .nav-drawer-menu dl:nth-child(1) { transition-delay: 0.05s; }
.nav-drawer .nav-drawer-menu dl:nth-child(2) { transition-delay: 0.1s; }
.nav-drawer .nav-drawer-menu dl:nth-child(3) { transition-delay: 0.15s; }
.nav-drawer .nav-drawer-menu dl:nth-child(4) { transition-delay: 0.2s; }
.nav-drawer .nav-drawer-menu dl:nth-child(5) { transition-delay: 0.25s; }
.nav-drawer .nav-drawer-menu dl:nth-child(6) { transition-delay: 0.3s; }
.nav-drawer .nav-drawer-menu dl:nth-child(7) { transition-delay: 0.35s; }
.nav-drawer .nav-drawer-menu dl:nth-child(8) { transition-delay: 0.4s; }
.nav-drawer .nav-drawer-menu dl:nth-child(6) { margin-right: 0px; }
.nav-icon { padding: calc(1.5rem - 15px) 1.5rem 0px 0px; position: absolute; right: 0px; top: 0px; cursor: pointer; transition: all 0.3s ease 0s; z-index: 2002; outline: medium none; display: none; }
.nav-icon span, .nav-icon span::before, .nav-icon span::after { cursor: pointer; border-radius: 0px; height: 2px; width: 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; display: block; content: ""; transition: all 0.3s ease 0s; }
.nav-icon span::before { top: -5px; }
.nav-icon span::after { bottom: -5px; }
.nav-icon:hover span, .nav-icon:hover span::before, .nav-icon:hover span::after { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.nav-icon.active span::before, .nav-icon.active span::after { top: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.nav-icon.active span::before { transform: rotate(45deg); }
.nav-icon.active span::after { transform: rotate(-45deg); }
@media screen and (max-width: 1600px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 820px) {
	.nav-drawer.transparent .nav-icon span::before, .nav-drawer.transparent .nav-icon span::after { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
	.masthead.masthead-slim.transparent .nav-icon span::before, .masthead.masthead-slim.transparent .nav-icon span::after { background: rgb(125, 142, 156) none repeat scroll 0% 0%; }
	.masthead.masthead-slim.transparent .nav-icon.active span::before, .masthead.masthead-slim.transparent .nav-icon.active span::after { top: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
	.masthead.masthead-slim.transparent .nav-icon.active span::before { transform: rotate(45deg); }
	.masthead.masthead-slim.transparent .nav-icon.active span::after { transform: rotate(-45deg); }
}
.filter::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.filter ul li:hover input[type="checkbox"]:checked + label::after { background: transparent url('check_white_002.svg') no-repeat scroll 0% 0%; }
.filter ul li input[type="checkbox"]:not(:checked), .filter ul li input[type="checkbox"]:checked { position: absolute; left: -9999px; }
.filter ul li input[type="checkbox"]:not(:checked) + label, .filter ul li input[type="checkbox"]:checked + label { padding: 1.06rem 0.75rem 1.06rem 52px; position: relative; cursor: pointer; }
.filter ul li input[type="checkbox"]:not(:checked) + label::before, .filter ul li input[type="checkbox"]:checked + label::before { content: ""; position: absolute; left: 15px; top: 12px; width: 22px; height: 22px; border: 1px solid rgb(197, 208, 216); border-radius: 4px; }
.filter ul li input[type="checkbox"]:not(:checked) + label::after, .filter ul li input[type="checkbox"]:checked + label::after { content: " "; position: absolute; top: 18px; left: 23px; width: 10px; height: 10px; font-size: 18px; line-height: 0.8; color: rgb(9, 173, 126); transition: all 0.2s ease 0s; background: transparent url('check_blue_002.svg') no-repeat scroll 0% 0%; }
.filter ul li input[type="checkbox"]:not(:checked) + label::after { opacity: 0; }
.filter ul li input[type="checkbox"]:checked + label::after { opacity: 1; }
.filter ul li label:hover::before { border: 1px solid rgb(197, 208, 216) ! important; }
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 820px) {
}
@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 820px) {
}
@media screen and (max-width: 820px) {
}
.bulleted-list ul li::before { content: " "; position: absolute; left: 3px; top: 11px; background-color: rgb(125, 142, 156); border-radius: 50%; width: 5px; height: 5px; }
@media screen and (max-width: 820px) {
}
.checklist-col ul li::before { content: " "; position: absolute; background: transparent url('check_002.png') repeat scroll 0% 0%; left: -40px; top: 0px; width: 29px; height: 29px; }
@media screen and (max-width: 820px) {
	.checklist-col ul li::before { left: -25px; }
}
@media screen and (max-width: 1620px) {
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 820px) {
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 500px) {
}
.nav-footer { margin: 0px; width: 100%; background: rgb(36, 41, 44) none repeat scroll 0% 0%; overflow: hidden; position: absolute; bottom: 0px; }
.nav-footer dl { margin: 3rem 0px; float: left; width: 400px; overflow: hidden; font-size: 1rem; box-sizing: border-box; list-style: outside none none; }
.nav-footer dl dt { margin: 4px 0px 36px; font-size: 1.5rem; color: rgb(125, 142, 156); }
.nav-footer dl dd { padding: 0px; width: 100%; font-size: 1rem; vertical-align: top; overflow: hidden; cursor: pointer; line-height: 1.93rem; color: rgb(125, 142, 156); box-sizing: border-box; }
.nav-footer dl dd a { color: rgb(221, 229, 234); text-decoration: none; }
.nav-footer dl dd a:hover { color: rgb(125, 142, 156); }
.footer-bottom { padding: 1.5rem 0px; float: left; position: relative; color: rgb(125, 142, 156); background: rgb(45, 51, 55) none repeat scroll 0% 0%; width: 100%; }
.footer-bottom .copyright { margin-right: 1.5rem; display: inline-block; font-size: 1rem; }
.footer-bottom ul { display: inline; font-size: 1rem; }
.footer-bottom ul li { margin-right: 1.5rem; display: inline-block; }
.footer-bottom ul li a { color: rgb(125, 142, 156); text-decoration: underline; }
.footer-bottom ul li a:hover { color: rgb(221, 229, 234); }
.footer-bottom .lang-flyout::after { position: absolute; bottom: -6px; right: 20px; content: " "; width: 7px; height: 7px; background: transparent url('flyout_triangle_002.svg') repeat scroll right 0px; z-index: 222; opacity: 0.9; }
@media screen and (max-width: 820px) {
	.nav-footer { padding: 1.5rem 0px 0px; }
	.nav-footer dl { margin: 1.5rem 0px 0px; }
	.nav-footer dl dt { margin: 0px; font-size: 1.25rem; }
	.nav-footer dl dd { display: none; }
	.footer-bottom { margin: 3rem 0px 0px; }
	.footer-bottom .copyright { font-size: 0.667rem; }
	.footer-bottom ul { margin: 1.5rem 0px 0px; display: block; font-size: 0.667rem; }
}
.content-dropdowns .cd-content ul li .cdi-content ul li::before { content: " "; position: absolute; left: 3px; top: 11px; background-color: rgb(125, 142, 156); border-radius: 50%; width: 5px; height: 5px; }
.tip-dropdowns .td-content ul li::before { content: " "; position: absolute; left: 3px; top: 7px; background-color: rgb(125, 142, 156); border-radius: 50%; width: 5px; height: 5px; }
.blog-feed .bf-content ul li:not(:first-child) { margin-top: 51px; }
@media screen and (max-width: 820px) {
	.blog-feed .bf-header::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
	.blog-feed .bf-content ul li:not(:first-child) { margin-top: 55px; }
}
@media screen and (max-width: 600px) {
}
.numbered-list ol li::before, .numbered-list ol li::after { position: absolute; left: 0px; top: 0px; color: rgb(26, 139, 240); font-size: 2.25rem; font-family: "Helvetica Neue LT","Hiragino Kaku Gothic Pro","Helvetica Neue","Tahoma","Arial",sans-serif; }
.numbered-list ol li::before { content: counter(step-counter, decimal); top: 9px; left: -1px; width: 43px; height: 35px; text-align: center; }
.numbered-list ol li::after { content: "|"; top: 1px; left: 46px; color: transparent; border-left: 1px solid rgb(26, 139, 240); height: 35px; }
@media screen and (max-width: 1300px) {
}
@media screen and (max-width: 820px) {
	.numbered-list ol li::before { width: 48px; }
	.numbered-list ol li::after { left: 56px; }
}
@media screen and (max-width: 1200px) {
}
.code-snippet.code-snippet-styleguide .cs-content .cs-code-actions .see::after { margin-left: 8px; margin-right: 0px; padding: 2px 0px 0px; content: ""; font-family: "tw-sg-icons"; font-style: normal; font-weight: normal; display: inline-block; text-decoration: inherit; font-size: 7px; width: 15px; text-align: center; font-variant: normal; text-transform: none; line-height: 1em; transform: rotate(-180deg); }
.code-snippet.code-snippet-styleguide .cs-content.grad::after { background: transparent none repeat scroll 0% 0%; }
.code-snippet .cs-content.grad::after { content: " "; position: absolute; margin-top: 0px; bottom: 106px; height: 87px; width: 90%; background: transparent linear-gradient(to bottom, rgba(244, 247, 249, 0) 0%, rgb(244, 247, 249) 50%, rgb(244, 247, 249) 100%) repeat scroll 0% 0%; }
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 820px) {
}
@media screen and (max-width: 600px) {
}
.alert.warning .comp-container .status-icon i::before { padding-top: 5px; font-family: "Helvetica Neue LT","Hiragino Kaku Gothic Pro","Helvetica Neue","Tahoma","Arial",sans-serif; font-size: 1rem; }
.alert.error .comp-container .status-icon i::before { padding-top: 4px; font-size: 1rem; }
.alert .comp-container .status-icon i::before { padding-top: 8px; font-size: 0.667rem; }
.alert .comp-container::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
.alert .icon-warning::before { content: "!"; }
@media screen and (max-width: 600px) {
	.alert.success .comp-container .status-icon i::before { padding-top: 6.5px; }
	.alert.error .comp-container .status-icon i::before { margin-left: 3.5px; padding-top: 3px; }
}
.notification .comp-container .status-icon i::before { padding-top: 8px; font-size: 0.667rem; }
.notification .comp-container::after { content: "."; visibility: hidden; display: block; height: 0px; clear: both; }
@media screen and (max-width: 820px) {
	.notification.global .comp-container .status-icon i::before { padding-top: 7px; }
}
.success-row .success-col:nth-child(3n), .success-row .success-col:last-child { margin-right: 0px; }
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 820px) {
}
.back-to-top .icon-navigation_side_back_arrow_mobile::before { transform: rotate(90deg); }
@media screen and (min-width: 1600px) {
}
@media screen and (max-width: 820px) {
}
.specs .copy-container ul li::before { position: static; content: none; }
@media screen and (max-width: 820px) {
	.specs .copy-container.col-specs:not(.comp-specs) { width: 48%; }
}
@media screen and (max-width: 820px) {
}
@media screen and (max-width: 600px) {
}
.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-user-select: none; }
.slick-list { position: relative; display: block; overflow: hidden; margin: 0px; padding: 0px; }
.slick-list:focus { outline: medium none; }
.slick-slider .slick-track, .slick-slider .slick-list { transform: translate3d(0px, 0px, 0px); }
.slick-track { position: relative; top: 0px; left: 0px; display: block; }
.slick-track::before, .slick-track::after { display: table; content: ""; }
.slick-track::after { clear: both; }
.slick-slide { display: none; float: left; height: 100%; min-height: 1px; }
.slick-slide img { display: block; }
.slick-initialized .slick-slide { display: block; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }
/* ::::: https://ton.twimg.com/dtc/8504dc03-f045-49a7-bf81-7aa8b104c088/_static/css/dtc.css ::::: */

body { color: rgb(36, 41, 44); }
a { font-family: "Helvetica Neue LT","Hiragino Kaku Gothic Pro","Helvetica","Tahoma","Arial",sans-serif; }
h3 { font-family: "Helvetica Neue LT","Hiragino Kaku Gothic Pro","Helvetica","Tahoma","Arial",sans-serif; }
.container { max-width: 1200px; }
.text-right { text-align: right; }
.masthead { background-repeat: no-repeat; background-size: cover; }
.masthead.button .btn-container { position: relative; }
.masthead .btn-container button { margin: 0.5em 0.5em 0px 0px; }
.masthead.slider { margin: 0px; font-family: "Helvetica Neue LT","Hiragino Kaku Gothic Pro","Helvetica","Tahoma","Arial",sans-serif; }
.masthead.slider .masthead__inner { min-height: 31.5rem; position: absolute; width: 100%; }
.masthead.slider .slides .slide { width: 100%; background-size: cover; background-repeat: no-repeat; min-height: 31.5rem; }
.masthead.slider .slides .copy-wrapper { position: relative; text-align: center; width: 65%; min-height: 31.5rem; }
.masthead.slider .slides .copy-container { position: absolute; bottom: 3rem; left: 25%; width: 75%; z-index: 2; text-align: center; font-family: "Helvetica Neue LT","Hiragino Kaku Gothic Pro","Helvetica","Tahoma","Arial",sans-serif; }
.masthead.slider .slides .copy-container h1 { color: rgb(255, 255, 255); font-size: 4rem; }
.masthead.slider .slides .copy-container h3 { margin-bottom: 1em; }
.masthead.slider .slides .copy-container h4 { color: rgb(255, 255, 255); }
.masthead.slider .slides .copy-container h4 span { font-weight: bold; font-family: "Helvetica Neue LT","Hiragino Kaku Gothic Pro","Helvetica","Tahoma","Arial",sans-serif; }
.masthead.slider .slides .copy-container img { margin: 0.5em auto; max-width: 500px; }
.masthead.slider .slides .copy-container .copy-inline { text-align: center; }
.masthead.slider .slides .copy-container .copy-inline > * { display: inline-block; vertical-align: middle; width: 48%; }
.masthead.slider .slides .copy-container .copy-inline img { width: auto; padding-right: 1rem; }
.masthead.slider .slides .copy-container .copy-inline h1 { text-align: left; margin: 0.25em auto; }
@media screen and (max-width: 1100px) {
	.masthead.slider .slides .copy-container { width: 90%; left: 10%; }
}
.masthead.slider .slides .btn-container { position: relative; }
.masthead.slider .slides .btn-container a { display: inline-block; margin: 0.5em; }
@media screen and (max-width: 820px) {
	.masthead.slider .slides .copy-wrapper { width: 100%; padding: 0px; min-height: 29.5rem; }
	.masthead.slider .slides .copy-container { width: 100%; left: 0px; bottom: 1rem; }
	.masthead.slider .slides .copy-container h1 { font-size: 3rem; }
	.masthead.slider .slides .copy-container .copy-inline > * { width: 100%; }
	.masthead.slider .slides .copy-container .copy-inline img { padding: 0px; margin: 0px auto; }
	.masthead.slider .slides .copy-container .copy-inline h1 { margin: 0px auto 0.5em; text-align: center; }
}
.masthead.slider .slides_nav { position: absolute; width: 25%; right: 3%; top: 25%; z-index: 2; }
.masthead.slider .slides_nav ul li { background-color: rgba(2, 82, 138, 0.6); color: rgb(255, 255, 255); font-weight: 400; font-family: "Helvetica Neue LT","Hiragino Kaku Gothic Pro","Helvetica","Tahoma","Arial",sans-serif; font-size: 1em; padding: 0.5em; margin: 0.25em auto; border-radius: 3px; cursor: pointer; }
.masthead.slider .slides_nav ul li.slick-current { background-color: rgb(2, 82, 138); }
@media screen and (max-width: 820px) {
	.masthead.slider .slides_nav { position: relative; width: 100%; margin: 100px auto; display: none; }
}
@media screen and (max-width: 820px) {
	.masthead .copy-container { width: 80%; }
	.masthead .btn-container a { margin-bottom: 1em; }
}
@media screen and (max-width: 820px) {
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 1100px) {
}
@media screen and (max-width: 820px) {
}
@media screen and (max-width: 820px) {
}
footer.nav-footer { position: relative; }
#main-content { padding: 0px; }
.module.dtc_mobile a, .module.dtc_mobile a:hover, .module.dtc_mobile a:active, .module.dtc_mobile i { color: rgb(2, 82, 138); }
.module.dtc_web a, .module.dtc_web a:hover, .module.dtc_web a:active, .module.dtc_web i { color: rgb(26, 139, 240); }
.module.dtc_data a, .module.dtc_data a:hover, .module.dtc_data a:active, .module.dtc_data i { color: rgb(19, 70, 95); }
.module.dtc_apis a, .module.dtc_apis a:hover, .module.dtc_apis a:active, .module.dtc_apis i { color: rgb(224, 36, 94); }
.module.dtc_ad a, .module.dtc_ad a:hover, .module.dtc_ad a:active, .module.dtc_ad i { color: rgb(121, 75, 196); }
.module .copy-container { padding: 0px 2em; }
.module p { color: rgb(36, 41, 44); font-weight: 400; }
.module.comp-wrapper { background-color: rgb(255, 255, 255); }
.module.comp-wrapper .link { padding: 2em 1em; }
@media screen and (max-width: 820px) {
}
.billboard { font-family: "Helvetica Neue LT","Hiragino Kaku Gothic Pro","Helvetica","Tahoma","Arial",sans-serif; }
.billboard.center { min-height: 290px; height: auto; text-align: center; }
.billboard.center .copy-container { padding: 1em; }
.billboard.center h2 { position: relative; width: 100%; margin: 1em auto; bottom: auto; left: auto; transform: none; }
.billboard.center .btn-container { margin: 1em auto; }
.billboard.center .btn-container button { position: relative; bottom: auto; left: auto; transform: none; }
.billboard.green-gradient, .billboard.purple-gradient, .billboard.blue-gradient { margin: 0px; }
@media screen and (max-width: 900px) {
}
.billboard.no-img h2 { font-size: 2.375rem; }
@media screen and (max-width: 900px) {
	.billboard h2 { font-size: 2rem; }
}
@media screen and (max-width: 500px) {
}
@media screen and (max-width: 900px) {
}
.whats-new { background-color: rgb(255, 255, 255); padding: 4.5rem 0px; }
.follow-us { margin: 4.5rem auto; }
.follow-us .twitter-follow-button { margin-bottom: 1em; }
.embedded-grid { width: 80%; margin: 0px auto; }
.products .product_collection { margin-bottom: 4.5rem; }
@media screen and (max-width: 600px) {
}
.products .module { margin: 1rem auto; min-height: 250px; }
.products .module .copy-container { padding: 1em; }
.products .module .copy-container h4 { margin: 0.5em 0px; transition: color 0.2s ease 0s; }
.products .module .copy-container p { line-height: 1.3em; }
@media screen and (max-width: 600px) {
	.products .module { height: auto; }
}
.dtc-home .products { margin-bottom: 3rem; padding-top: 3rem; }
.dtc-home .products .product_collection { margin-bottom: 0px; }
.dtc-home .products .product_collection .copy-container i { font-size: 3em; margin: 0.5em auto; display: block; }
.dtc-home .products .product_collection .comp-wrapper { min-height: 340px; background-color: rgb(255, 255, 255); transition: background-color 0.2s ease 0s; }
.dtc-home .products .product_collection .comp-wrapper.dtc_mobile:hover, .dtc-home .products .product_collection .comp-wrapper.dtc_mobile:focus { background-color: rgb(2, 82, 138); }
.dtc-home .products .product_collection .comp-wrapper.dtc_web:hover, .dtc-home .products .product_collection .comp-wrapper.dtc_web:focus { background-color: rgb(26, 139, 240); }
.dtc-home .products .product_collection .comp-wrapper.dtc_data:hover, .dtc-home .products .product_collection .comp-wrapper.dtc_data:focus { background-color: rgb(244, 93, 34); }
.dtc-home .products .product_collection .comp-wrapper.dtc_apis:hover, .dtc-home .products .product_collection .comp-wrapper.dtc_apis:focus { background-color: rgb(224, 36, 94); }
.dtc-home .products .product_collection .comp-wrapper.dtc_ad:hover, .dtc-home .products .product_collection .comp-wrapper.dtc_ad:focus { background-color: rgb(121, 75, 196); }
.dtc-home .products .product_collection .comp-wrapper:hover * { color: rgb(255, 255, 255); }
@media screen and (min-width: 1100px) {
	.dtc-home .products .product_collection { width: 20%; }
}
@media screen and (max-width: 1100px) {
	.dtc-home .products .product_collection { height: auto; }
}
@media screen and (max-width: 820px) {
	.dtc-home .products .product_collection { width: 48%; margin: 1%; }
}
@media screen and (max-width: 600px) {
	.dtc-home .products .product_collection { width: 100%; }
}
.left-navigation li.active a::before { content: ""; background: rgb(29, 161, 242) none repeat scroll 0% 0%; width: 2px; height: 100%; position: absolute; left: 0px; top: 0px; }
@media screen and (min-width: 820px) {
}
@media screen and (max-width: 820px) {
}
.nav-drawer-dtc { padding: 1.5rem 0px 4.5rem; position: absolute; top: 0px; left: 0px; width: 100%; background-color: transparent; box-sizing: border-box; max-height: 67px; z-index: 2; transition: background-color 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s, max-height 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
.nav-drawer-dtc.no-interaction .header-left .property-title { cursor: default; }
.nav-drawer-dtc.no-interaction .header-left .property-title a { color: rgb(255, 255, 255); text-decoration: none; transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
.nav-drawer-dtc.no-interaction .header-left .property-title a:hover, .nav-drawer-dtc.no-interaction .header-left .property-title a:hover .logo { color: rgb(100, 178, 248); }
.nav-drawer-dtc.no-interaction.transparent .header-left .property-title a { color: rgb(77, 92, 105); }
.nav-drawer-dtc.no-interaction.transparent .header-left .property-title a:hover, .nav-drawer-dtc.no-interaction.transparent .header-left .property-title a:hover .logo { color: rgb(100, 178, 248); }
.nav-drawer-dtc .nav-wrapper { padding-left: 5.2%; padding-right: 5.2%; }
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
.nav-drawer-dtc.transparent .header-left .property-title { color: rgb(77, 92, 105); }
.nav-drawer-dtc.transparent .header-left .logo:hover { color: rgb(100, 178, 248); }
.nav-drawer-dtc header { position: relative; height: 40px; }
.nav-drawer-dtc .header-left { opacity: 1; transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0s; }
.nav-drawer-dtc .header-left .nav-drawer-link { cursor: pointer; float: left; }
.nav-drawer-dtc .header-left .logo { display: block; margin: 3px 11px 0px 0px; float: left; width: 26px; height: 22px; color: rgb(255, 255, 255); font-size: 20px; text-decoration: none; transition: color 0.2s ease 0s; }
.nav-drawer-dtc .header-left .logo:hover { color: rgb(100, 178, 248); }
.nav-drawer-dtc .header-left .logo-and-title { display: inline-block; }
.nav-drawer-dtc .header-left .logo-and-title .logo { margin-top: 0px; }
.nav-drawer-dtc .header-left .property-title { margin: 0px; padding: 4px 10px 0px 0px; font-size: 1.25rem; font-weight: 400; line-height: 1.25rem; color: rgb(255, 255, 255); float: left; width: auto; cursor: pointer; transition: color 0.2s ease 0s; -moz-user-select: none; }
.nav-drawer-dtc .header-right { width: 300px; position: absolute; top: 0px; right: 0px; opacity: 1; transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) 0.1s; }
.nav-drawer-dtc .header-right .signed-in_dropdown::before { position: absolute; top: -5px; right: 10px; content: " "; width: 7px; height: 7px; background: transparent url('signedin_triangle_002.svg') repeat scroll right 0px; z-index: 222; }
.nav-drawer-dtc .nav-drawer-menu dl:nth-child(1) { transition-delay: 0.05s; }
.nav-drawer-dtc .nav-drawer-menu dl:nth-child(2) { transition-delay: 0.1s; }
.nav-drawer-dtc .nav-drawer-menu dl:nth-child(3) { transition-delay: 0.15s; }
.nav-drawer-dtc .nav-drawer-menu dl:nth-child(4) { transition-delay: 0.2s; }
.nav-drawer-dtc .nav-drawer-menu dl:nth-child(5) { transition-delay: 0.25s; }
.nav-drawer-dtc .nav-drawer-menu dl:nth-child(6) { transition-delay: 0.3s; }
.nav-drawer-dtc .nav-drawer-menu dl:nth-child(7) { transition-delay: 0.35s; }
.nav-drawer-dtc .nav-drawer-menu dl:nth-child(8) { transition-delay: 0.4s; }
.nav-icon { padding: calc(1.5rem - 15px) 1.5rem calc(1.5rem - 15px) 0px; position: absolute; right: 0px; top: 0px; cursor: pointer; transition: all 0.3s ease 0s; z-index: 2002; outline: 0px none; display: none; }
.nav-icon span, .nav-icon span::before, .nav-icon span::after { cursor: pointer; border-radius: 0px; height: 2px; width: 20px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; position: absolute; display: block; content: ""; transition: all 0.3s ease 0s; }
.nav-icon span::before { top: -5px; }
.nav-icon span::after { bottom: -5px; }
.nav-icon:hover span, .nav-icon:hover span::before, .nav-icon:hover span::after { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.nav-icon.active span::before, .nav-icon.active span::after { top: 0px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.nav-icon.active span::before { transform: rotate(45deg); }
.nav-icon.active span::after { transform: rotate(-45deg); }
@media screen and (min-width: 901px) {
	.nav-exposed .header-right { width: auto; }
	.nav-exposed__menu { max-width: 750px; margin: 0px 0px 0px 1rem; opacity: 1; visibility: visible; float: left; position: relative; top: 7px; z-index: 1; }
	.nav-main__list-item { display: block; float: left; will-change: transform; font-size: 1rem; font-weight: 500; }
	.nav-main__list-item:not(:last-child) { margin-right: 1rem; }
	.nav-main__list-item a { will-change: transform; position: relative; color: rgb(255, 255, 255); text-decoration: none; }
	.nav-main__list-item a::after { content: ""; position: absolute; width: 100%; height: 2px; bottom: -4px; left: 0px; background-color: rgb(255, 255, 255); visibility: hidden; opacity: 0; }
	.nav-main__list-item a:hover::after { visibility: visible; opacity: 1; transform: translateY(-2px); }
	.transparent .nav-exposed__menu .nav-main__list-item a { color: rgb(77, 92, 105); font-weight: 400; }
	.transparent .nav-exposed__menu .nav-main__list-item a::after { background-color: rgb(77, 92, 105); bottom: -3px; height: 1px; }
}
@media screen and (max-width: 1200px) {
}
@media screen and (max-width: 900px) {
	.nav-drawer-dtc.nav-exposed .nav-exposed__menu { width: 100%; opacity: 0; visibility: hidden; clear: both; }
	.nav-drawer-dtc.nav-exposed .nav-main__list-item { margin: 1.5rem calc(1.5rem + 20px) 0px 0px; }
	.nav-drawer-dtc.nav-exposed .nav-main__list-item a:link, .nav-drawer-dtc.nav-exposed .nav-main__list-item a:visited { color: rgb(255, 255, 255); font-size: 1.5rem; font-weight: 400; text-decoration: none; }
}
@media screen and (max-width: 900px) and (max-width: 300px) {
	.nav-drawer-dtc.nav-exposed .nav-main__list-item a:link, .nav-drawer-dtc.nav-exposed .nav-main__list-item a:visited { font-size: 1.125rem; }
}
@media screen and (max-width: 900px) {
	.nav-drawer-dtc.transparent { margin-bottom: 100px; }
	.nav-drawer-dtc.transparent .nav-icon span, .nav-drawer-dtc.transparent .nav-icon span::before, .nav-drawer-dtc.transparent .nav-icon span::after { background: rgb(77, 92, 105) none repeat scroll 0% 0%; }
	.nav-drawer-dtc.transparent.active .nav-icon span::before, .nav-drawer-dtc.transparent.active .nav-icon span::after { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
}
@media screen and (max-width: 900px) and (max-width: 300px) {
}
@media screen and (max-width: 900px) {
	.nav-drawer-dtc .nav-icon { display: block; }
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 900px) {
}
.nav-drawer-dtc .header-left .nav-drawer-link { margin-right: 3rem; }
.nav-main__list-item:not(:last-child) { margin-right: 3rem; }
.nav-drawer-dtc.transparent .nav-icon span, .nav-drawer-dtc.transparent .nav-icon span::before, .nav-drawer-dtc.transparent .nav-icon span::after { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.transparent .nav-exposed__menu .nav-main__list-item a { color: rgb(255, 255, 255); font-weight: 400; }
.transparent .nav-exposed__menu .nav-main__list-item a::after { background-color: rgb(255, 255, 255); bottom: -3px; height: 1px; }
.nav-drawer-dtc.no-interaction.transparent .header-left .property-title a { color: rgb(255, 255, 255); }
.nav-main__list-item.nav-cta { display: none; }
.nav-main__list-item.nav-cta a::after { display: none; }
@media screen and (max-width: 900px) {
	.nav-main__list-item.nav-cta { display: block; }
	.nav-main__list-item.nav-cta button { border: 1px solid rgb(255, 255, 255); color: rgb(255, 255, 255); }
	.header-right .nav-cta { display: none; }
}
@media screen and (max-width: 600px) {
	.col-xs-6 { width: 100%; }
}
@media screen and (max-width: 820px) {
}
@media screen and (max-width: 600px) {
}
