@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('wxrxja0c3kdtc7lmafg4drkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('opxuqto0ugqqhgj_sfdlwbkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('1hzf02poanh32k2vkgeoubkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('cdkhraxnqtovbaoxwdor9xkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('k23cxwvtrifd6djsevi07rkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('vszulfksk0lljjfeaxcrehkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 400;
	src: local("Roboto Italic"), local("Roboto-Italic"), url('vpcynsl0qhq_6dx7lkvbyxyhjbspvc47ee6xr_80hnw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('olffgbtaf0xfow1gnuhf0fzrar2tg8w2lzm7klnl0-w.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('olffgbtaf0xfow1gnuhf0v4syydjg5du2qzjevsuta0.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('olffgbtaf0xfow1gnuhf0vbw26qxpsj-_zkm_xt4hww.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('olffgbtaf0xfow1gnuhf0qt_rm691ltebkfy2zkksmi.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('olffgbtaf0xfow1gnuhf0ddinsr5a-9oe_ivpu8xwly.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('olffgbtaf0xfow1gnuhf0ae8km4xwr1_1byurrojrgc.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: italic;
	font-weight: 500;
	src: local("Roboto Medium Italic"), local("Roboto-MediumItalic"), url('olffgbtaf0xfow1gnuhf0ygp9q8gbyrhqglrav_ixfk.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('stdaa6j0psb920vjv-mrzh-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('uyecmkohco9x1wdmbyhim3-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('tnj4sb6dnbdaqnsm8cfqbx-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('_vyfx-s824kxq_ul2bhqyh-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('nj4vxlgwwwbesv18dahqnn-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('ks_cvxiciwuwvsfwfa3bjn-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto Regular"), local("Roboto-Regular"), url('ommgfzmqthoryqo9n22dcuvvdin1pk8aktelpez5c0a.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('zlqkeelybatg60epzbsdy4x0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('ohi30kwqwvpcwqahzhccsix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('rgvhdjnr2l75qb0ynd9nyix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('mx9uck6ub63vikfynemxryx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('mbmhprmh69zi6eepbyvfhyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('ooefwznlrtefzlymlvv1uix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('rxzjdnzeo3r5zsexge8uuzbw1xu1rkptjj_0jans920.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* ::::: https://s.ytimg.com/yts/cssbin/www-embed-player-vflDXx7qo.css ::::: */

html { overflow: hidden; }
body { font: 12px Roboto,Arial,sans-serif; background-color: rgb(0, 0, 0); color: rgb(255, 255, 255); height: 100%; width: 100%; overflow: hidden; position: absolute; margin: 0px; padding: 0px; }
.full-frame { width: 100%; height: 100%; }
#player-unavailable { display: none; }
.html5-video-player { position: relative; width: 100%; height: 100%; background-color: rgb(0, 0, 0); overflow: hidden; outline: 0px none; font-family: Roboto,Arial,Helvetica,sans-serif; color: rgb(238, 238, 238); text-align: left; direction: ltr; font-size: 11px; line-height: 1.3; }
.html5-video-player a { color: inherit; text-decoration: none; transition: color 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; outline: 0px none; }
.html5-video-player a:hover { color: rgb(255, 255, 255); transition: color 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.html5-video-player svg { pointer-events: none; }
.html5-video-container { z-index: 10; position: relative; }
.html5-main-video { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; outline: 0px none; }
@media screen and (max-width: 325px) {
}
.ytp-autohide .ytp-player-content:not(.html5-endscreen), .ytp-hide-info-bar .ytp-player-content { top: 0px; transition: bottom 0.1s cubic-bezier(0.4, 0, 1, 1) 0s, top 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-autohide:not(.ytp-ad-overlay-open) .ytp-iv-player-content, .ytp-hide-controls .ytp-iv-player-content { bottom: 12px; }
.ytp-big-mode.ytp-autohide:not(.ytp-ad-overlay-open) .ytp-iv-player-content, .ytp-big-mode.ytp-hide-controls .ytp-iv-player-content { bottom: 24px; }
.ytp-button { border: medium none; background-color: transparent; padding: 0px; color: inherit; text-align: inherit; font-size: 100%; font-family: inherit; cursor: default; line-height: inherit; }
.ytp-button:focus, .ytp-button { outline: 0px none; }
.ytp-button::-moz-focus-inner { padding: 0px; border: 0px none; }
.html5-video-player .ytp-button[aria-disabled="true"], .html5-video-player .ytp-button[disabled] { opacity: 0.5; }
.ytp-button:not([aria-disabled="true"]):not([disabled]):not([aria-hidden="true"]) { cursor: pointer; }
.ytp-chrome-top, .ytp-chrome-bottom { position: absolute; text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); }
.ytp-chrome-top { left: 12px; right: 12px; top: 0px; z-index: 60; }
.ytp-chrome-bottom { bottom: 0px; height: 36px; width: 100%; z-index: 61; padding-top: 3px; text-align: left; direction: ltr; }
.ytp-playlist-menu-button-icon, .ytp-chrome-top .ytp-button:not(.ytp-playlist-menu-button), .ytp-chrome-controls .ytp-button, .ytp-replay-button { opacity: 0.9; display: inline-block; width: 36px; transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; overflow: hidden; }
.ytp-chrome-top .ytp-button { padding-top: 6px; height: 42px; }
.ytp-chrome-controls .ytp-button { height: 100%; }
.ytp-big-mode .ytp-playlist-menu-button-icon, .ytp-big-mode .ytp-chrome-top .ytp-button:not(.ytp-playlist-menu-button), .ytp-big-mode .ytp-chrome-controls .ytp-button { width: 54px; }
.ytp-prev-button::before { content: ""; display: block; height: 100%; width: 12px; position: absolute; top: 0px; left: -12px; }
.ytp-play-button:not(.ytp-play-button-playlist)::before { content: ""; display: block; height: 100%; width: 12px; position: absolute; top: 0px; left: -12px; }
.ytp-big-mode .ytp-prev-button::before, .ytp-big-mode .ytp-play-button:not(.ytp-play-button-playlist)::before { width: 24px; left: -24px; }
.ytp-playlist-menu-button:hover .ytp-playlist-menu-button-icon, .ytp-chrome-top .ytp-button:hover:not(.ytp-playlist-menu-button), .ytp-chrome-controls .ytp-button:hover:not([aria-disabled="true"]):not([disabled]), .ytp-chrome-controls .ytp-button[aria-expanded="true"], .ytp-chrome-controls .ytp-button[aria-pressed="true"], .ytp-replay-button:hover { opacity: 1; transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-svg-fill { fill: rgb(255, 255, 255); }
.ytp-svg-shadow { stroke: rgb(0, 0, 0); stroke-opacity: 0.15; stroke-width: 2px; fill: none; }
.ytp-svg-shadow-fill { fill: rgb(0, 0, 0); fill-opacity: 0.15; stroke: none; }
.ytp-chrome-controls .ytp-button[aria-pressed]::after { content: ""; display: block; position: absolute; height: 2px; border-radius: 2px; width: 0px; left: 18px; bottom: 6px; background-color: rgb(241, 43, 36); transition: left 0.1s cubic-bezier(0.4, 0, 1, 1) 0s, width 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-big-mode .ytp-chrome-controls .ytp-button[aria-pressed]::after { height: 3px; border-radius: 3px; left: 27px; bottom: 10px; }
.ytp-dni .ytp-chrome-controls .ytp-button[aria-pressed]::after { background-color: rgb(255, 255, 255); }
.ytp-chrome-controls .ytp-button[aria-pressed="true"]::after { width: 18px; left: 9px; transition: left 0.25s cubic-bezier(0, 0, 0.2, 1) 0s, width 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-big-mode .ytp-chrome-controls .ytp-button[aria-pressed="true"]::after { width: 27px; left: 14px; }
.ytp-color-white .ytp-chrome-controls .ytp-button[aria-pressed]::after { background-color: rgb(221, 221, 221); }
.ytp-color-blue .ytp-chrome-controls .ytp-button[aria-pressed]::after { background-color: rgb(55, 147, 230); }
.ytp-color-party .ytp-chrome-controls .ytp-button[aria-pressed]::after { animation: 0.1s linear 0s normal none infinite running ytp-party-background-color; }
.ytp-chrome-top-buttons { position: absolute; top: 0px; right: 0px; }
.ytp-chrome-top:not(.ytp-share-button-visible) .ytp-share-button { display: none; }
.ytp-chrome-controls { height: 36px; line-height: 36px; font-size: 109%; text-align: left; direction: ltr; }
.ytp-left-controls { float: left; height: 100%; }
.ytp-right-controls { float: right; height: 100%; }
.ytp-chrome-top, .ytp-chrome-top-buttons, .ytp-playlist-menu-button, .ytp-chrome-bottom { transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-gradient-top, .ytp-gradient-bottom { height: 98px; width: 100%; position: absolute; background-repeat: repeat-x; background-image: url('undefined'); transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; pointer-events: none; }
.ytp-gradient-top { top: 0px; z-index: 21; background-position: center top; }
.ytp-gradient-bottom { bottom: 0px; z-index: 20; background-position: center bottom; }
.ytp-hide-info-bar .ytp-gradient-top, .ytp-hide-info-bar .ytp-chrome-top, .ytp-hide-controls .ytp-gradient-bottom, .ytp-hide-controls .ytp-chrome-bottom { display: none; }
.ytp-swatch-background-color, .ytp-swatch-background-color-secondary { background-color: rgb(241, 43, 36); }
@media not all {
	.ytp-swatch-background-color { background-color: rgb(0, 0, 0) ! important; }
}
@media not all {
	.ytp-swatch-background-color { background-color: rgb(255, 255, 255) ! important; }
}
.html5-video-player .video-click-tracking, .html5-video-player .video-stream { display: block; width: 100%; height: 100%; position: absolute; }
.html5-video-player .ad-overlay > :not(.ima-container) { z-index: 34; }
.html5-video-player:not(.ad-interrupting):not(.ad-showing) .ad-container { display: none; }
.ytp-ad-persistent-progress-bar-container { position: absolute; bottom: -3px; width: 100%; height: 3px; background-color: rgba(255, 255, 255, 0.2); opacity: 0; transition: bottom 0.1s cubic-bezier(0.4, 0, 1, 1) 0s, opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; z-index: 32; }
.ytp-ad-persistent-progress-bar { position: absolute; left: 0px; bottom: 0px; height: 100%; background-color: rgb(255, 204, 0); }
.annotation.iv-promo .iv-promo-contents .iv-promo-txt .iv-promo-link::after { position: absolute; top: 2px; right: 0px; opacity: 0.5; content: ""; background: transparent url('player-common-vflnywo8r.png') no-repeat scroll -73px -2340px; width: 10px; height: 10px; }
.annotation.iv-promo .iv-promo-contents .iv-promo-txt:hover .iv-promo-link::after { opacity: 1; }
.iv-button::-moz-focus-inner { border: 0px none; padding: 0px; }
a.iv-button::after { content: ""; display: inline-block; vertical-align: middle; height: 100%; }
.annotation.iv-promo .iv-promo-actions .iv-promo-close::after, .annotation.iv-promo .iv-promo-actions .iv-promo-expand::after { display: block; content: ""; }
.annotation.iv-promo .iv-promo-actions .iv-promo-close::after { margin: 16px 10px 15px 12px; opacity: 0.5; background: transparent url('player-common-vflnywo8r.png') no-repeat scroll -68px -2022px; width: 9px; height: 9px; }
.annotation.iv-promo .iv-promo-actions .iv-promo-expand::after { margin: 16px 12px 15px; background: transparent url('player-common-vflnywo8r.png') no-repeat scroll -34px -2240px; width: 4px; height: 9px; }
.annotation.iv-promo-website-card-cta .iv-promo-actions .iv-promo-close::after { background: transparent url('player-common-vflnywo8r.png') no-repeat scroll 0px -1241px; width: 4px; height: 9px; opacity: 1; }
.iv-drawer-close-button::after { display: block; content: ""; background: transparent url('player-common-vflnywo8r.png') no-repeat scroll -68px -593px; width: 12px; height: 12px; }
.webkit .iv-card h2::after, .webkit .iv-card-action::after { content: "‌"; position: static; visibility: hidden; }
.iv-card-content > :first-child { margin-top: 0px; }
.iv-card-content > :last-child { margin-bottom: 0px; }
.iv-card-playlist-video-count::after { display: block; margin: auto; opacity: 0.5; content: ""; background: transparent url('www-hitchhiker-vfl44vgwb.png') no-repeat scroll 0px -47px; width: 24px; height: 24px; }
.iv-ad-info-callout, .iv-ad-info-icon-container::after { left: 0px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid; width: 0px; height: 0px; }
.iv-ad-info-icon-container::after { content: ""; bottom: 17px; border-top-color: rgb(255, 255, 255); }
.iv-ad-info, .iv-ad-info-callout, .iv-ad-info-icon-container::after { visibility: hidden; position: absolute; transition: visibility 0s ease 0.1s; }
.iv-ad-info-container:hover .iv-ad-info-callout, .iv-ad-info-container:hover .iv-ad-info-icon-container::after, .iv-ad-info-container:hover .iv-ad-info { visibility: visible; transition-delay: 0s; }
.ytp-bezel { position: absolute; left: 50%; top: 50%; width: 52px; height: 52px; z-index: 17; margin-left: -26px; margin-top: -26px; background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; border-radius: 26px; animation: 0.5s linear 0s normal forwards 1 running ytp-bezel-fadeout; pointer-events: none; }
.ytp-bezel-icon { width: 36px; height: 36px; margin: 8px; }
.ytp-cards-button { opacity: 0.9; display: inline-block; width: 36px; height: 42px; position: absolute; padding-top: 6px; right: 12px; transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; overflow: hidden; pointer-events: all; z-index: 63; }
.ytp-cards-button:hover { opacity: 1; transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-autohide:not(.ytp-cards-teaser-shown) .ytp-cards-button, .ytp-cards-button[aria-hidden="true"] { opacity: 0; transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-cards-button .ytp-svg-shadow { transition: stroke-opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-cards-button .ytp-svg-shadow-fill { transition: fill-opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-cards-button-icon-shopping { display: none; }
.ytp-cards-teaser { position: absolute; top: 8.5px; right: 0px; border-right: 12px solid transparent; max-width: 90%; opacity: 0.75; cursor: pointer; z-index: 62; box-sizing: border-box; transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.html5-video-player.ad-interrupting:not(.videoAdUiRedesign) .ytp-cards-teaser { top: 40px; }
.ytp-autohide:not(.ytp-cards-teaser-shown) .ytp-cards-teaser { opacity: 0; transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0.33s; }
.ytp-cards-teaser .ytp-cards-teaser-box, .ytp-cards-teaser .ytp-cards-teaser-text { height: 31px; }
.ytp-cards-teaser .ytp-cards-teaser-box { position: absolute; top: 0px; right: 18px; border-radius: 2px; width: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-bottom: 1px solid rgb(241, 241, 241); transition: transform 0.33s cubic-bezier(0.4, 0, 1, 1) 0s; transform: scaleX(0) translateX(0px); transform-origin: right 0px 0px; }
.ytp-cards-teaser .ytp-cards-teaser-text { position: relative; padding: 0px 36px 0px 10px; max-width: 0px; opacity: 0; color: rgb(0, 0, 0); font-weight: 500; font-size: 109.091%; line-height: 31px; box-sizing: border-box; overflow: hidden; white-space: nowrap; overflow-wrap: normal; text-overflow: ellipsis; transition: opacity 0.165s cubic-bezier(0.4, 0, 1, 1) 0s, max-width 0s ease 0.165s; }
.yt-ui-ellipsis::before { background-color: inherit; position: absolute; }
.yt-ui-ellipsis::after { background-color: inherit; position: absolute; }
.yt-ui-ellipsis::before { content: "…"; right: 0px; }
.yt-ui-ellipsis::after { content: ""; height: 100%; width: 100%; }
.yt-ui-ellipsis-2::before { top: 1.3em; }
.yt-ui-ellipsis-3::before { top: 2.6em; }
.yt-ui-ellipsis-4::before { top: 3.9em; }
.yt-ui-ellipsis-10::before { top: 11.7em; }
.webkit .yt-ui-ellipsis::before { content: initial; }
.webkit .yt-ui-ellipsis::after { content: "‌"; position: static; visibility: hidden; }
.yt-ui-ellipsis[dir="rtl"]::before { left: 0px; right: auto; }
.ytp-ce-size-346 .ytp-ce-expanding-overlay-body-padding > :not(.ytp-ce-subscribe-container) { width: 115px; }
.ytp-ce-size-426 .ytp-ce-expanding-overlay-body-padding > :not(.ytp-ce-subscribe-container) { width: 115px; }
.ytp-ce-size-470 .ytp-ce-expanding-overlay-body-padding > :not(.ytp-ce-subscribe-container) { width: 136px; }
.ytp-ce-size-506 .ytp-ce-expanding-overlay-body-padding > :not(.ytp-ce-subscribe-container) { width: 136px; }
.ytp-ce-size-570 .ytp-ce-expanding-overlay-body-padding > :not(.ytp-ce-subscribe-container) { width: 136px; }
.ytp-ce-size-640 .ytp-ce-expanding-overlay-body-padding > :not(.ytp-ce-subscribe-container) { width: 136px; }
.ytp-ce-size-853 .ytp-ce-expanding-overlay-body-padding > :not(.ytp-ce-subscribe-container) { width: 176px; }
.ytp-ce-size-1280 .ytp-ce-expanding-overlay-body-padding > :not(.ytp-ce-subscribe-container) { width: 264px; }
.ytp-ce-size-1920 .ytp-ce-expanding-overlay-body-padding > :not(.ytp-ce-subscribe-container) { width: 392px; }
.ytp-copytext::-moz-selection { background-color: white; color: black; }
.ytp-thumbnail-overlay { position: absolute; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 12; background-position: center center; background-repeat: no-repeat; transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; background-size: cover; }
.ytp-thumbnail-overlay-image { background-size: cover; background-position: center center; background-repeat: no-repeat; width: 100%; height: 100%; position: absolute; }
.unstarted-mode:not(.playing-mode) .ytp-cued-thumbnail-overlay:not([aria-hidden="true"]), .ended-mode .ytp-cued-thumbnail-overlay:not([aria-hidden="true"]) { cursor: pointer; }
.ytp-videowall-still[data-is-list="true"]:not([data-is-mix="true"]) .ytp-videowall-still-listlabel-regular, .ytp-videowall-still[data-is-mix="true"] .ytp-videowall-still-listlabel-mix { display: block; }
.ytp-error { display: table; position: absolute; width: 100%; height: 100%; z-index: 40; font-size: 127%; line-height: 182%; background: rgb(0, 0, 0) none repeat scroll 0% 0%; cursor: default; -moz-user-select: none; }
.ytp-error-content { position: relative; display: table-cell; vertical-align: middle; }
.ytp-fullscreen-button::after { content: ""; display: block; height: 100%; width: 12px; position: absolute; top: 0px; left: 100%; }
.ytp-big-mode .ytp-fullscreen-button::after { width: 24px; }
.ytp-fullscreen-button-corner-0, .ytp-fullscreen-button-corner-1, .ytp-fullscreen-button-corner-2, .ytp-fullscreen-button-corner-3 { transform: none; }
.ytp-fullscreen-button:hover:not([aria-disabled="true"]) .ytp-fullscreen-button-corner-0 { animation: 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s normal none 1 running ytp-fullscreen-button-corner-0-animation; }
.ytp-fullscreen-button:hover:not([aria-disabled="true"]) .ytp-fullscreen-button-corner-1 { animation: 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s normal none 1 running ytp-fullscreen-button-corner-1-animation; }
.ytp-fullscreen-button:hover:not([aria-disabled="true"]) .ytp-fullscreen-button-corner-2 { animation: 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s normal none 1 running ytp-fullscreen-button-corner-2-animation; }
.ytp-fullscreen-button:hover:not([aria-disabled="true"]) .ytp-fullscreen-button-corner-3 { animation: 0.4s cubic-bezier(0.4, 0, 0.2, 1) 0s normal none 1 running ytp-fullscreen-button-corner-3-animation; }
.ytp-large-play-button { position: absolute; left: 50%; top: 50%; width: 68px; height: 48px; margin-left: -34px; margin-top: -24px; transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-large-play-button-bg { transition: fill 0.1s cubic-bezier(0.4, 0, 1, 1) 0s, fill-opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; fill: rgb(31, 31, 31); fill-opacity: 0.81; }
.ytp-large-play-button.ytp-touch-device .ytp-large-play-button-bg, .ytp-cued-thumbnail-overlay:hover .ytp-large-play-button-bg { transition: fill 0.1s cubic-bezier(0, 0, 0.2, 1) 0s, fill-opacity 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; fill: rgb(204, 24, 30); fill-opacity: 1; }
.ytp-multicam-menu { position: absolute; right: 0px; top: 0px; bottom: 0px; max-width: 100%; z-index: 71; background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%; overflow: hidden; transition: width 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; width: 175px; }
.ytp-multicam-menu-items { width: 175px; }
.ytp-multicam-menu-header { position: absolute; top: 16px; left: 16px; width: 143px; height: 22px; font-size: 105%; line-height: 22px; font-weight: 500; }
.ytp-multicam-menu-close { float: right; width: 22px; height: 100%; }
.ytp-multicam-menu-items { position: absolute; top: 54px; left: 0px; right: 0px; bottom: 0px; overflow-x: hidden; overflow-y: auto; }
.ytp-paid-content-overlay { bottom: 41px; display: inline-block; font-size: 109.091%; height: 30px; left: 25px; line-height: 30px; overflow: hidden; pointer-events: none; position: absolute; text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); z-index: 22; }
.ytp-paid-content-overlay-text { opacity: 1; transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-menuitem:not([aria-disabled="true"]) { cursor: pointer; }
.ytp-menuitem:hover:not([aria-disabled="true"]) { background-color: rgba(255, 255, 255, 0.1); }
.ytp-panel { position: absolute; bottom: 0px; right: 0px; overflow-y: auto; overflow-x: hidden; }
.ytp-popup { position: absolute; overflow: hidden; border-radius: 2px; background: rgba(28, 28, 28, 0.9) none repeat scroll 0% 0%; text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; -moz-user-select: none; }
.ytp-contextmenu .ytp-menuitem-toggle-checkbox::after { content: none; }
.ytp-contextmenu .ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox::before, .ytp-big-mode .ytp-contextmenu .ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox::before { transform: none; }
.ytp-menuitem-toggle-checkbox::after { content: ""; position: absolute; top: 0px; left: 0px; height: 20px; width: 20px; border-radius: 20px; margin-top: -3px; background-color: rgb(189, 189, 189); box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.6); transition: all 0.08s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-big-mode .ytp-menuitem-toggle-checkbox::after { left: 0px; height: 30px; width: 30px; border-radius: 30px; margin-top: -4.5px; }
.ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox::after { background-color: rgb(255, 255, 255); transform: translateX(16px); }
.ytp-big-mode .ytp-menuitem[aria-checked="true"] .ytp-menuitem-toggle-checkbox::after { transform: translateX(24px); }
.ytp-panel-menu { padding: 6px 0px; display: table; width: 100%; color: rgb(238, 238, 238); box-sizing: border-box; }
.ytp-chrome-controls .ytp-play-button { width: 46px; }
.ytp-playlist-menu { position: absolute; left: 0px; top: 0px; bottom: 0px; width: 400px; max-width: 100%; z-index: 71; background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%; transition: transform 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-playlist-menu-header { padding: 15px; border-bottom: 1px solid rgb(68, 68, 68); }
.ytp-playlist-menu-title { height: 20px; line-height: 20px; padding-right: 15px; font-size: 136%; overflow: hidden; white-space: nowrap; overflow-wrap: normal; text-overflow: ellipsis; }
.ytp-playlist-menu-subtitle { color: rgb(184, 184, 184); line-height: 17px; overflow: hidden; white-space: nowrap; overflow-wrap: normal; text-overflow: ellipsis; }
.ytp-playlist-menu-close { position: absolute; top: 15px; right: 15px; width: 24px; height: 24px; }
.ytp-playlist-menu-close path { fill: rgb(170, 170, 170); }
.ytp-playlist-menu-close:hover path { fill: rgb(255, 255, 255); }
.ytp-playlist-menu-items { position: absolute; top: 68px; bottom: 0px; left: 0px; right: 0px; overflow: auto; }
.ytp-playlist-menu-button { float: left; }
.ytp-playlist-menu-button-icon { height: 36px; }
.ytp-playlist-menu-button-text { display: inline-block; padding-right: 6px; line-height: 36px; }
.ytp-playlist-menu-button-icon, .ytp-playlist-menu-button-text { vertical-align: middle; }
.ytp-scrubber-container { position: absolute; top: -4px; left: -6.5px; z-index: 43; }
.ytp-scrubber-button { height: 13px; width: 13px; border-radius: 6.5px; transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; transform: scale(0); }
.ytp-progress-bar-container:hover:not([aria-disabled="true"]) .ytp-scrubber-button, .ytp-touch-mode .ytp-progress-bar-container:not([aria-disabled="true"]) .ytp-scrubber-button, .ytp-drag .ytp-scrubber-button { transform: none; transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-scrubber-pull-indicator { position: absolute; z-index: 42; bottom: 16.9px; left: 6.5px; transform: rotate(45deg); }
.ytp-scrubber-pull-indicator::before { display: block; position: absolute; content: ""; top: 0px; left: 0px; opacity: 0; width: 6.5px; height: 6.5px; border-style: solid; border-width: 2px 0px 0px 2px; border-color: rgb(234, 234, 234); }
.ytp-scrubber-pull-indicator::after { display: block; position: absolute; content: ""; top: 0px; left: 0px; opacity: 0; width: 6.5px; height: 6.5px; border-style: solid; border-width: 2px 0px 0px 2px; border-color: rgb(234, 234, 234); }
.ytp-big-mode .ytp-scrubber-pull-indicator::before, .ytp-big-mode .ytp-scrubber-pull-indicator::after { width: 10px; height: 10px; }
.ytp-scrubber-pull-indicator::after { transition: all 0.1s ease 0s; }
.ytp-scrubber-pull-indicator::before { transition: all 0.2s ease 0s; }
.ytp-pull-ui:not(.ytp-pulling) .ytp-scrubber-pull-indicator::before { opacity: 1; top: -4px; left: -4px; }
.ytp-big-mode .ytp-pull-ui:not(.ytp-pulling) .ytp-scrubber-pull-indicator::before { top: -9px; left: -9px; }
.ytp-pull-ui:not(.ytp-pulling) .ytp-scrubber-pull-indicator::after { opacity: 1; top: -8px; left: -8px; }
.ytp-big-mode .ytp-pull-ui:not(.ytp-pulling) .ytp-scrubber-pull-indicator::after { opacity: 1; top: -15px; left: -15px; }
.ytp-progress-list { z-index: 39; background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%; height: 100%; transform: scaleY(0.6); transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; position: relative; }
.ytp-progress-bar-container:hover:not([aria-disabled="true"]) .ytp-progress-list, .ytp-touch-mode .ytp-progress-bar-container:not([aria-disabled="true"]) .ytp-progress-list, .ytp-drag .ytp-progress-list { transform: none; transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-bound-time-left, .ytp-bound-time-right { position: absolute; display: none; top: -29px; z-index: 29; background-color: rgba(28, 28, 28, 0.9); text-align: center; color: rgb(227, 227, 227); padding: 5px 9px; opacity: 0; transition: opacity 0.1s ease-in 0s; }
.ytp-bound-time-left { left: 0px; }
.ytp-bound-time-right { right: 0px; }
.ytp-bound-time-left::after { position: absolute; content: ""; bottom: -5px; width: 0px; height: 0px; border-style: solid; }
.ytp-bound-time-right::after { position: absolute; content: ""; bottom: -5px; width: 0px; height: 0px; border-style: solid; }
.ytp-bound-time-left::after { left: 0px; border-width: 5px 5px 0px 0px; border-color: rgba(28, 28, 28, 0.9) transparent transparent; }
.ytp-bound-time-right::after { right: 0px; border-width: 0px 5px 5px 0px; border-color: transparent rgba(28, 28, 28, 0.9) transparent transparent; }
.ytp-ad-progress, .ytp-load-progress, .ytp-play-progress, .ytp-hover-progress { position: absolute; left: 0px; bottom: 0px; width: 100%; height: 100%; transform-origin: 0px 0px 0px; }
.ytp-chapter-marker, .ytp-time-marker, .ytp-clip-start-exclude, .ytp-clip-end-exclude { position: absolute; left: 0px; bottom: 0px; width: 100%; height: 100%; transform-origin: 0px 0px 0px; }
.ytp-clip-start-exclude, .ytp-clip-end-exclude { display: none; z-index: 37; background-color: rgba(255, 255, 255, 0); transition: background-color 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-load-progress { z-index: 33; background: rgba(255, 255, 255, 0.4) none repeat scroll 0% 0%; }
.playing-mode .ytp-progress-bar-container:not(.ytp-pull-ui) .ytp-load-progress { transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.playing-mode .ytp-progress-bar-container:not(.ytp-pull-ui) .ytp-load-progress.ytp-fast-load { transition: transform 1.2s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-play-progress { z-index: 34; }
.ytp-hover-progress { z-index: 35; background: rgba(0, 0, 0, 0.125) none repeat scroll 0% 0%; opacity: 0; transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-clip-start, .ytp-clip-end { display: none; position: absolute; width: 14px; height: 14px; bottom: -4.5px; margin-left: -7px; z-index: 44; transform: scaleY(0.214286); transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-progress-bar-container:hover:not([aria-disabled="true"]) .ytp-clip-start, .ytp-progress-bar-container:hover:not([aria-disabled="true"]) .ytp-clip-end, .ytp-touch-mode .ytp-progress-bar-container:not([aria-disabled="true"]) .ytp-clip-start, .ytp-touch-mode .ytp-progress-bar-container:not([aria-disabled="true"]) .ytp-clip-end, .ytp-drag .ytp-clip-start, .ytp-drag .ytp-clip-end { transform: none; transition: transform 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-clip-start svg, .ytp-clip-end svg { display: block; }
.ytp-clip-start-enabled:not(.ytp-drag) .ytp-clip-start, .ytp-clip-end-enabled:not(.ytp-drag) .ytp-clip-end { display: block; }
.ytp-progress-bar-container { display: block; position: absolute; width: 100%; bottom: 35px; height: 5px; }
.ytp-progress-bar-container:not([aria-disabled="true"]) { cursor: pointer; }
.ytp-progress-bar { position: absolute; bottom: 0px; left: 0px; width: 100%; height: 100%; z-index: 31; outline: medium none; }
.ytp-progress-bar-padding { position: absolute; width: 100%; height: 16px; bottom: 0px; z-index: 28; }
.ytp-progress-bar-container:hover:not([aria-disabled="true"]) .ytp-progress-bar-padding { height: 22px; bottom: -6px; }
.ytp-big-mode:not(.ytp-touch-mode) .ytp-progress-bar-container:hover:not([aria-disabled="true"]) .ytp-progress-bar-padding { height: 33px; bottom: -9px; }
.ytp-touch-mode .ytp-progress-bar-container:not([aria-disabled="true"]) .ytp-progress-bar-padding { height: 40px; bottom: -11px; }
.ytp-remote { position: absolute; left: 0px; right: 0px; bottom: 49px; transition: bottom 0.25s cubic-bezier(0, 0, 0.2, 1) 0s, opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; pointer-events: none; }
.ytp-hide-controls .ytp-remote { bottom: 12px; transition: bottom 0.25s cubic-bezier(0.4, 0, 1, 1) 0s, opacity 0.25s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-remote-display-status { z-index: 13; position: absolute; left: 35px; right: 35px; bottom: 0px; opacity: 0.7; }
.ytp-remote-display-status-icon { float: left; width: 80px; height: 80px; }
.ytp-remote-display-status-text, .ytp-remote-display-status-receiver { position: absolute; left: 70px; text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5); }
.ytp-remote-display-status-text { font-size: 130%; font-weight: 500; text-transform: uppercase; top: 20px; }
.ytp-remote-display-status-receiver { font-size: 250%; top: 35px; }
.ytp-settings-button { position: relative; }
.ytp-settings-button svg { transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-settings-button.ytp-hd-quality-badge::after, .ytp-settings-button.ytp-4k-quality-badge::after, .ytp-settings-button.ytp-5k-quality-badge::after, .ytp-settings-button.ytp-8k-quality-badge::after { content: ""; position: absolute; top: 10px; right: 5px; height: 9px; width: 13px; background-color: rgb(241, 43, 36); border-radius: 1px; line-height: normal; }
.ytp-settings-button.ytp-3d-badge-grey::after { content: ""; position: absolute; top: 10px; right: 5px; height: 9px; width: 13px; border-radius: 1px; line-height: normal; }
.ytp-settings-button.ytp-3d-badge::after { content: ""; position: absolute; top: 10px; right: 5px; height: 9px; width: 13px; background-color: rgb(241, 43, 36); border-radius: 1px; line-height: normal; }
.ytp-settings-button.ytp-3d-badge-grey::after { background-color: rgb(102, 102, 102); }
.ytp-color-white .ytp-settings-button.ytp-hd-quality-badge::after, .ytp-color-white .ytp-settings-button.ytp-4k-quality-badge::after, .ytp-color-white .ytp-settings-button.ytp-5k-quality-badge::after, .ytp-color-white .ytp-settings-button.ytp-8k-quality-badge::after, .ytp-color-white .ytp-settings-button.ytp-3d-badge-grey::after, .ytp-color-white .ytp-settings-button.ytp-3d-badge::after { background-color: rgb(221, 221, 221); }
.ytp-color-blue .ytp-settings-button.ytp-hd-quality-badge::after, .ytp-color-blue .ytp-settings-button.ytp-4k-quality-badge::after, .ytp-color-blue .ytp-settings-button.ytp-5k-quality-badge::after, .ytp-color-blue .ytp-settings-button.ytp-8k-quality-badge::after, .ytp-color-blue .ytp-settings-button.ytp-3d-badge-grey::after, .ytp-color-blue .ytp-settings-button.ytp-3d-badge::after { background-color: rgb(55, 147, 230); }
.ytp-color-party .ytp-settings-button.ytp-hd-quality-badge::after, .ytp-color-party .ytp-settings-button.ytp-4k-quality-badge::after, .ytp-color-party .ytp-settings-button.ytp-5k-quality-badge::after, .ytp-color-party .ytp-settings-button.ytp-8k-quality-badge::after, .ytp-color-party .ytp-settings-button.ytp-3d-badge-grey::after, .ytp-color-party .ytp-settings-button.ytp-3d-badge::after { animation: 0.1s linear 0s normal none infinite running ytp-party-background-color; }
.ytp-settings-button.ytp-hd-quality-badge::after { background-image: url('undefined'); }
.ytp-settings-button.ytp-4k-quality-badge::after { background-image: url('undefined'); }
.ytp-settings-button.ytp-5k-quality-badge::after { background-image: url('undefined'); }
.ytp-settings-button.ytp-8k-quality-badge::after { background-image: url('undefined'); }
.ytp-settings-button.ytp-3d-badge-grey::after, .ytp-settings-button.ytp-3d-badge::after { background-image: url('undefined'); }
.ytp-color-white .ytp-settings-button.ytp-hd-quality-badge::after { background-image: url('undefined'); }
.ytp-color-white .ytp-settings-button.ytp-4k-quality-badge::after { background-image: url('undefined'); }
.ytp-color-white .ytp-settings-button.ytp-5k-quality-badge::after { background-image: url('undefined'); }
.ytp-color-white .ytp-settings-button.ytp-8k-quality-badge::after { background-image: url('undefined'); }
.ytp-color-white .ytp-settings-button.ytp-3d-badge-grey::after, .ytp-color-white .ytp-settings-button.ytp-3d-badge::after { background-image: url('undefined'); }
.ytp-big-mode .ytp-settings-button.ytp-hd-quality-badge::after, .ytp-big-mode .ytp-settings-button.ytp-4k-quality-badge::after, .ytp-big-mode .ytp-settings-button.ytp-5k-quality-badge::after, .ytp-big-mode .ytp-settings-button.ytp-8k-quality-badge::after, .ytp-big-mode .ytp-settings-button.ytp-3d-badge-grey::after, .ytp-big-mode .ytp-settings-button.ytp-3d-badge::after { top: 15px; right: 6px; padding: 2px; font-family: Verdana,sans-serif; font-size: 10px; font-weight: bold; color: rgb(255, 255, 255); text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.6); background-image: none; border-radius: 1.5px; height: auto; width: auto; }
.ytp-color-white.ytp-big-mode .ytp-settings-button.ytp-hd-quality-badge::after, .ytp-color-white.ytp-big-mode .ytp-settings-button.ytp-4k-quality-badge::after, .ytp-color-white.ytp-big-mode .ytp-settings-button.ytp-5k-quality-badge::after, .ytp-color-white.ytp-big-mode .ytp-settings-button.ytp-8k-quality-badge::after, .ytp-color-white.ytp-big-mode .ytp-settings-button.ytp-3d-badge-grey::after, .ytp-color-white.ytp-big-mode .ytp-settings-button.ytp-3d-badge::after { color: rgb(0, 0, 0); text-shadow: none; }
.ytp-big-mode .ytp-settings-button.ytp-hd-quality-badge::after { content: "HD"; }
.ytp-big-mode .ytp-settings-button.ytp-4k-quality-badge::after { content: "4K"; }
.ytp-big-mode .ytp-settings-button.ytp-5k-quality-badge::after { content: "5K"; }
.ytp-big-mode .ytp-settings-button.ytp-8k-quality-badge::after { content: "8K"; }
.ytp-big-mode .ytp-settings-button.ytp-3d-badge-grey::after, .ytp-big-mode .ytp-settings-button.ytp-3d-badge::after { content: "3D"; }
.ytp-settings-menu { right: 12px; bottom: 49px; z-index: 69; will-change: width, height; }
.ytp-share-panel { position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; z-index: 72; background: rgba(0, 0, 0, 0.8) none repeat scroll 0% 0%; text-align: center; transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-share-panel-inner-content { position: absolute; top: 50%; margin-top: -65px; left: 0px; right: 0px; padding: 0px 10%; }
.ytp-share-panel-loading-spinner { display: none; margin: 20px auto 0px; width: 32px; height: 32px; }
.ytp-share-panel-close { position: absolute; top: 6px; right: 12px; padding: 6px; width: 36px; height: 36px; }
.ytp-share-panel-close path { fill: rgb(170, 170, 170); }
.ytp-share-panel-close:hover path { fill: rgb(255, 255, 255); }
.ytp-share-panel-title { font-size: 155%; line-height: 20px; }
.ytp-share-panel-link { display: block; height: 28px; margin-top: 18px; text-overflow: ellipsis; font-size: 218%; font-weight: 500; letter-spacing: 1px; white-space: nowrap; overflow: hidden; outline: medium none; }
.ytp-share-panel-include-playlist { display: none; line-height: 15px; margin-top: 12px; font-size: 118%; color: rgb(153, 153, 153); }
.ytp-share-panel-include-playlist input[type="checkbox"] { margin: 0px 8px 0px 0px; }
.ytp-share-panel-service-buttons { margin-top: 20px; height: 44px; }
.ytp-share-panel-error { display: none; margin-top: 20px; font-size: 109%; }
.ytp-webgl-spherical-control { position: absolute; top: 48px; left: 12px; opacity: 0.6; cursor: pointer; width: 50px; height: 50px; transition: top 0.25s cubic-bezier(0, 0, 0.2, 1) 0s, opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; z-index: 37; outline: medium none; }
.ytp-webgl-spherical-control:hover, .ytp-webgl-spherical-control.ytp-dragging { opacity: 1; }
.ytp-webgl-spherical:not(.ytp-menu-shown) .html5-video-container { cursor: grab; }
.ytp-webgl-spherical.ytp-dragging:not(.ytp-menu-shown) .html5-video-container { cursor: grabbing; }
.ytp-spinner { position: absolute; left: 50%; top: 50%; width: 10%; height: 10%; min-width: 32px; min-height: 32px; z-index: 16; pointer-events: none; transform: translate(-50%, -50%); }
.ytp-spinner-message { position: absolute; left: 50%; top: 100%; width: 300px; font-size: 127%; line-height: 182%; margin-left: -150px; display: none; text-align: center; background-color: black; opacity: 0.5; }
.ytp-spinner-svg svg { position: absolute; }
.ytp-spinner-dot { animation: 0.8s ease 0s normal none infinite running ytp-spinner-dot-fade; opacity: 0; fill: rgb(204, 204, 204); transform-origin: 4px 4px 0px; }
.ytp-spinner-dot-1 { animation-delay: 0.1s; }
.ytp-spinner-dot-2 { animation-delay: 0.2s; }
.ytp-spinner-dot-3 { animation-delay: 0.3s; }
.ytp-spinner-dot-4 { animation-delay: 0.4s; }
.ytp-spinner-dot-5 { animation-delay: 0.5s; }
.ytp-spinner-dot-6 { animation-delay: 0.6s; }
.ytp-spinner-dot-7 { animation-delay: 0.7s; }
.ytp-storyboard { position: absolute; left: 0px; bottom: 51px; z-index: 59; transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; pointer-events: none; }
.ytp-storyboard-lens { position: absolute; overflow: hidden; padding: 2px; background-color: rgba(22, 22, 22, 0.8); border-radius: 4px; bottom: -2px; }
.ytp-storyboard-lens-timestamp-wrapper { position: absolute; width: 100%; line-height: 12px; text-align: center; bottom: 2px; margin-left: -2px; }
.ytp-storyboard-lens-timestamp { display: inline-block; height: 12px; background-color: rgba(28, 28, 28, 0.9); border-radius: 2px 2px 0px 0px; padding: 5px 9px; }
.ytp-storyboard-framepreview { position: absolute; top: 0px; left: 0px; z-index: 14; background: rgb(0, 0, 0) none repeat scroll 0% 0%; transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-storyboard-framepreview-img { opacity: 0.4; }
.ytp-time-display { font-size: 109%; display: inline-block; vertical-align: top; padding: 0px 5px; white-space: nowrap; line-height: 35px; }
.ytp-time-separator, .ytp-time-duration { color: rgb(221, 221, 221); }
.ytp-chrome-controls .ytp-live-badge, .ytp-big-mode .ytp-chrome-controls .ytp-live-badge { display: none; width: auto; text-transform: uppercase; }
.ytp-live-badge::before { display: inline-block; width: 6px; height: 6px; vertical-align: 4%; margin-right: 5px; background: rgb(117, 117, 117) none repeat scroll 0% 0%; content: ""; border-radius: 6px; }
.ytp-big-mode .ytp-live-badge::before { width: 9px; height: 9px; border-radius: 9px; }
.html5-video-player .ytp-live-badge[aria-disabled="true"], .html5-video-player .ytp-live-badge[disabled] { opacity: 1; }
.ytp-live-badge[disabled]::before { background: rgb(241, 43, 36) none repeat scroll 0% 0%; }
.ytp-title { font-size: 163%; overflow: hidden; white-space: nowrap; }
.ytp-watch-later-button-visible .ytp-title, .ytp-share-button-visible .ytp-title { padding-right: 36px; }
.ytp-watch-later-button-visible.ytp-share-button-visible .ytp-title { padding-right: 72px; }
.ytp-title-channel-logo { width: 40px; height: 40px; padding-top: 12px; background-size: contain; background-repeat: no-repeat; margin-left: -40px; background-origin: content-box; display: none; }
.ytp-title-text { display: inline-block; line-height: 1.1; vertical-align: top; max-width: 100%; transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-title-channel-logo { transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-title-playlist-icon { display: inline-block; vertical-align: text-top; margin-top: -9px; width: 36px; height: 36px; }
.ytp-title-link, .ytp-title-channel-name { height: 1.2em; max-width: 100%; overflow: hidden; white-space: nowrap; overflow-wrap: normal; text-overflow: ellipsis; float: left; padding-left: 4px; }
.ytp-title-link { padding-top: 14px; }
.ytp-title-channel-name { margin-top: 4px; font-size: 73%; clear: left; display: none; }
.ytp-tooltip:not([aria-hidden="true"]) { opacity: 1; transform: none; transition: transform 0.1s cubic-bezier(0.4, 0, 1, 1) 0s, opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-tooltip-text-wrapper { border-radius: 3px; }
.ytp-tooltip.ytp-preview:not(.ytp-text-detail) .ytp-tooltip-text-wrapper { position: absolute; bottom: 5px; left: 0px; width: 100%; text-align: center; }
.ytp-tooltip-text { display: block; background-color: rgba(28, 28, 28, 0.9); border-radius: 2px; padding: 5px 9px; }
.ytp-tooltip-bg { background-color: rgb(0, 0, 0); background-repeat: no-repeat; position: relative; display: none; }
.ytp-tooltip-duration { display: none; }
.ytp-tooltip-title { display: none; }
.ytp-tooltip-image { width: 20px; height: 20px; border: 0px none; border-radius: 10px; position: absolute; display: none; top: 2px; left: 7px; background-size: contain; }
.ytp-volume-panel { display: inline-block; width: 0px; height: 100%; transition: margin 0.2s cubic-bezier(0.4, 0, 1, 1) 0s, width 0.2s cubic-bezier(0.4, 0, 1, 1) 0s; cursor: pointer; outline: 0px none; }
.ytp-volume-slider { height: 100%; position: relative; overflow: hidden; }
.ytp-volume-slider-handle { position: absolute; top: 50%; width: 12px; height: 12px; border-radius: 6px; margin-top: -6px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.ytp-volume-slider-handle::before, .ytp-volume-slider-handle::after { content: ""; position: absolute; display: block; top: 50%; height: 3px; margin-top: -2px; width: 64px; }
.ytp-big-mode .ytp-volume-slider-handle::before, .ytp-big-mode .ytp-volume-slider-handle::after { height: 4px; margin-top: -2px; width: 96px; }
.ytp-volume-slider-handle::before { left: -58px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.ytp-big-mode .ytp-volume-slider-handle::before { left: -87px; }
.ytp-volume-slider-handle::after { left: 6px; background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%; }
.ytp-big-mode .ytp-volume-slider-handle::after { left: 9px; background: rgba(255, 255, 255, 0.2) none repeat scroll 0% 0%; }
.ytp-chrome-controls .ytp-button.ytp-youtube-button { width: 51px; }
.ytp-svg-fill-logo-tube-lozenge { transition: fill 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-svg-fill-logo-tube-text { opacity: 0; transition: opacity 0.1s cubic-bezier(0.4, 0, 1, 1) 0s; }
.ytp-chrome-controls .ytp-button.ytp-youtube-button:hover:not([aria-disabled="true"]):not([disabled]) .ytp-svg-fill-logo-tube-lozenge { fill: rgb(241, 43, 36); transition: fill 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-color-party .ytp-chrome-controls .ytp-button.ytp-youtube-button:hover:not([aria-disabled="true"]):not([disabled]) .ytp-svg-fill-logo-tube-lozenge { animation: 0.15s linear 0s normal none infinite running ytp-party-fill; }
.ytp-chrome-controls .ytp-button.ytp-youtube-button:hover:not([aria-disabled="true"]):not([disabled]) .ytp-svg-fill-logo-tube-text { opacity: 1; transition: opacity 0.1s cubic-bezier(0, 0, 0.2, 1) 0s; }
.ytp-drawer-open-button::after { display: inline-block; border-width: 5px 5px 5px medium; border-style: solid solid solid none; border-color: transparent rgb(170, 170, 170) transparent -moz-use-text-color; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; content: ""; }
.ytp-big-mode .ytp-drawer-open-button::after { border-bottom-width: 8px; border-right-width: 8px; border-top-width: 8px; }
@media all and (max-width: 656px) {
}
.videoAdUiWhyThisAdControl::after { content: ""; background-image: url('undefined'); background-position: right center; background-repeat: no-repeat; background-size: 10px auto; padding-left: 12px; }
@media all and (min-width: 800px) and (min-height: 400px) {
}
.yt-uix-button::-moz-focus-inner { border: 0px none; padding: 0px; }
.yt-uix-button-has-icon::before { content: ""; display: inline-block; vertical-align: middle; }
a.yt-uix-button::after { content: ""; display: inline-block; vertical-align: middle; height: 100%; }
.yt-uix-button-icon-wrapper, .yt-uix-button-has-icon.no-icon-markup::before { margin-right: 6px; }
.yt-uix-button-empty .yt-uix-button-icon-wrapper, .yt-uix-button-empty.yt-uix-button-has-icon.no-icon-markup::before { margin-right: 0px; }
.yt-uix-button-default::before, .yt-uix-button-default .yt-uix-button-icon { opacity: 0.5; }
.yt-uix-button-default:hover .yt-uix-button-icon, .yt-uix-button-default:hover::before { opacity: 0.6; }
.yt-uix-button-default:active .yt-uix-button-icon, .yt-uix-button-default:active::before, .yt-uix-button-default.yt-uix-button-active .yt-uix-button-icon, .yt-uix-button-default.yt-uix-button-active::before, .yt-uix-button-default.yt-uix-button-toggled .yt-uix-button-icon, .yt-uix-button-default.yt-uix-button-toggled::before { opacity: 0.8; }
.yt-uix-button-default:active:hover .yt-uix-button-icon, .yt-uix-button-default:active:hover::before, .yt-uix-button-default.yt-uix-button-active:hover .yt-uix-button-icon, .yt-uix-button-default.yt-uix-button-active:hover::before, .yt-uix-button-default.yt-uix-button-toggled:hover .yt-uix-button-icon, .yt-uix-button-default.yt-uix-button-toggled:hover::before { opacity: 1; }
.yt-uix-button-dark .yt-uix-button-icon, .yt-uix-button-dark::before { opacity: 0.4; }
.yt-uix-button-dark:hover .yt-uix-button-icon, .yt-uix-button-dark:hover::before { opacity: 0.55; }
.yt-uix-button-dark:active .yt-uix-button-icon, .yt-uix-button-dark:active::before, .yt-uix-button-dark.yt-uix-button-active .yt-uix-button-icon, .yt-uix-button-dark.yt-uix-button-active::before, .yt-uix-button-dark.yt-uix-button-toggled .yt-uix-button-icon, .yt-uix-button-dark.yt-uix-button-toggled::before { opacity: 0.85; }
.yt-uix-button-dark:active:hover .yt-uix-button-icon, .yt-uix-button-dark:active:hover::before, .yt-uix-button-dark.yt-uix-button-active:hover .yt-uix-button-icon, .yt-uix-button-dark.yt-uix-button-active:hover::before, .yt-uix-button-dark.yt-uix-button-toggled:hover .yt-uix-button-icon .yt-uix-button-dark.yt-uix-button-toggled:hover::before { opacity: 1; }
@media only screen and (min-width: 850px) {
}
.yt-uix-button-subscribe-branded.ypc-enabled.ypc-music-subscription-button::before, .yt-uix-button-subscribe-branded.ypc-enabled.ypc-freetrial-eligible::before { display: none; }
.yt-uix-button-subscribe-unbranded.ypc-enabled.ypc-music-subscription-button::before, .yt-uix-button-subscribe-unbranded.ypc-enabled.ypc-freetrial-eligible::before { display: none; }
.yt-uix-button-subscribe-branded::before { background: transparent url('www-hitchhiker-vfl44vgwb.png') no-repeat scroll -298px -53px; width: 16px; height: 12px; }
.yt-uix-button-subscribe-branded.ypc-enabled::before { background: transparent url('www-hitchhiker-vfl44vgwb.png') no-repeat scroll 0px -168px; width: 16px; height: 12px; }
.yt-uix-button-subscribe-branded.ypc-unavailable::before { background: transparent url('www-hitchhiker-vfl44vgwb.png') no-repeat scroll -375px 0px; width: 16px; height: 12px; }
.yt-uix-button-subscribe-unbranded.ypc-enabled::before { background: transparent url('www-hitchhiker-vfl44vgwb.png') no-repeat scroll -483px -354px; width: 16px; height: 12px; }
.yt-uix-button-subscribe-unbranded.ypc-enabled:hover::before { background: transparent url('www-hitchhiker-vfl44vgwb.png') no-repeat scroll -375px -16px; width: 16px; height: 12px; }
.yt-uix-button-subscribed-branded::before { background: transparent url('www-hitchhiker-vfl44vgwb.png') no-repeat scroll -375px -178px; width: 16px; height: 12px; }
.yt-uix-button-subscribed-branded.hover-enabled:hover::before { background: transparent url('www-hitchhiker-vfl44vgwb.png') no-repeat scroll -830px -303px; width: 16px; height: 12px; }
.yt-uix-button-subscribed-branded.external::before { background: transparent url('www-hitchhiker-vfl44vgwb.png') no-repeat scroll -417px -303px; width: 16px; height: 12px; }
.yt-uix-button-subscribed-branded.hover-enabled.external:hover::before { background: transparent url('www-hitchhiker-vfl44vgwb.png') no-repeat scroll -162px -136px; width: 16px; height: 12px; }
.yt-uix-subscription-preferences-button::before { background: transparent url('www-hitchhiker-vfl44vgwb.png') no-repeat scroll -134px -114px; width: 18px; height: 18px; }
.yt-uix-subscription-preferences-button.yt-uix-subscription-notifications-all::before { background: transparent url('www-hitchhiker-vfl44vgwb.png') no-repeat scroll -375px -32px; width: 18px; height: 18px; }
.yt-uix-subscription-preferences-button.yt-uix-subscription-notifications-none::before { background: transparent url('www-hitchhiker-vfl44vgwb.png') no-repeat scroll -298px -230px; width: 18px; height: 18px; }
