body { color: rgb(0, 0, 0); }
a { color: rgb(0, 0, 255); text-decoration: none; }
#lp-pom-image-25-holder { background-image: url('37d53fec-radius-company-logos.png'); position: absolute; }
#lp-pom-root { display: block; background: transparent linear-gradient(rgb(210, 49, 49), rgb(111, 145, 235)) repeat scroll 0% 0%; border-style: none; margin: auto; padding-top: 0px; border-radius: 0px; min-width: 940px; height: 3607px; }
#lp-pom-block-8 { display: block; background: rgba(114, 97, 209, 0.94) url('/img/cda1ed25-radius-bg-2.png') no-repeat fixed center center / cover ; border-style: none; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; width: 100%; height: 671px; position: relative; }
#lp-pom-image-9 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 424px; top: 25px; z-index: 1; position: absolute; }
#lp-pom-image-25 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 530px; top: 400px; z-index: 3; position: absolute; }
#lp-pom-box-27 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: solid none none; border-width: 1px; border-color: rgb(121, 118, 209); border-radius: 0px; left: 0px; top: 91px; z-index: 4; width: 940px; height: 48px; position: absolute; }
#lp-pom-text-30 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 66px; top: 68px; z-index: 5; width: 808px; height: 46px; position: absolute; }
#lp-pom-box-28 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: solid none none; border-width: 1px; border-color: rgb(121, 118, 209); border-radius: 0px; left: 0px; top: 324px; z-index: 7; width: 940px; height: 99px; position: absolute; }
#lp-pom-box-29 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none solid none none; border-width: 1px; border-color: rgb(121, 118, 209); border-radius: 0px; left: 362px; top: 324px; z-index: 8; width: 113px; height: 347px; position: absolute; }
#lp-pom-text-31 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 171px; top: 210px; z-index: 9; width: 609px; height: 58px; position: absolute; }
#lp-pom-text-32 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 544px; top: 574px; z-index: 10; width: 396px; height: 55px; position: absolute; }
#lp-pom-box-45 { display: block; background: rgb(100, 50, 149) none repeat scroll 0% 0%; border-style: none; border-radius: 148px; left: 281px; top: 577px; z-index: 6; width: 143px; height: 45px; position: absolute; }
#lp-pom-image-46 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 209px; top: 559px; z-index: 13; position: absolute; }
#lp-pom-block-84 { display: block; background: rgba(132, 91, 210, 0.83) url('/img/d31eee61-radius-bg-1.png') no-repeat fixed center center / cover ; border-style: none; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; width: 100%; height: 389px; position: relative; }
#lp-pom-text-85 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 167px; top: 766px; z-index: 24; width: 606px; height: 126px; position: absolute; }
#lp-pom-text-86 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 448px; top: 920px; z-index: 25; width: 137px; height: 50px; position: absolute; }
#lp-pom-box-87 { display: block; background: rgba(255, 255, 255, 0.25) none repeat scroll 0% 0%; border-style: none; border-radius: 5px; left: 374px; top: 915px; z-index: 26; width: 59px; height: 59px; position: absolute; }
#lp-pom-image-88 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 5px; top: 5px; z-index: 27; position: absolute; }
#lp-pom-block-70 { display: block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-style: none; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; width: 100%; height: 426px; position: relative; }
#lp-pom-image-71 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 503px; top: 1136px; z-index: 16; position: absolute; }
#lp-pom-image-72 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 60px; top: 1303px; z-index: 17; position: absolute; }
#lp-pom-image-73 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 60px; top: 1136px; z-index: 18; position: absolute; }
#lp-pom-image-74 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 489px; top: 1303px; z-index: 19; position: absolute; }
#lp-pom-text-75 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 122px; top: 1147px; z-index: 20; width: 300px; height: 103px; position: absolute; }
#lp-pom-text-76 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 559px; top: 1147px; z-index: 21; width: 300px; height: 103px; position: absolute; }
#lp-pom-text-77 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 122px; top: 1310px; z-index: 22; width: 300px; height: 103px; position: absolute; }
#lp-pom-text-78 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 559px; top: 1310px; z-index: 23; width: 300px; height: 103px; position: absolute; }
#lp-pom-block-89 { display: block; background: rgba(132, 91, 210, 0.83) url('/img/d31eee61-radius-bg-1.png') no-repeat fixed center center / cover ; border-style: none; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; width: 100%; height: 389px; position: relative; }
#lp-pom-text-90 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 167px; top: 1581px; z-index: 28; width: 606px; height: 126px; position: absolute; }
#lp-pom-text-91 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 448px; top: 1735px; z-index: 29; width: 137px; height: 50px; position: absolute; }
#lp-pom-box-92 { display: block; background: rgba(255, 255, 255, 0.25) none repeat scroll 0% 0%; border-style: none; border-radius: 5px; left: 374px; top: 1730px; z-index: 30; width: 59px; height: 59px; position: absolute; }
#lp-pom-image-93 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 5px; top: 5px; z-index: 31; position: absolute; }
#lp-pom-block-94 { display: block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-style: none; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; width: 100%; height: 426px; position: relative; }
#lp-pom-image-95 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 503px; top: 1951px; z-index: 32; position: absolute; }
#lp-pom-image-96 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 60px; top: 2118px; z-index: 33; position: absolute; }
#lp-pom-image-97 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 60px; top: 1951px; z-index: 34; position: absolute; }
#lp-pom-image-98 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 489px; top: 2118px; z-index: 35; position: absolute; }
#lp-pom-text-99 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 122px; top: 1962px; z-index: 36; width: 300px; height: 103px; position: absolute; }
#lp-pom-text-100 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 559px; top: 1962px; z-index: 37; width: 300px; height: 103px; position: absolute; }
#lp-pom-text-101 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 122px; top: 2125px; z-index: 38; width: 300px; height: 103px; position: absolute; }
#lp-pom-text-102 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 559px; top: 2125px; z-index: 39; width: 300px; height: 103px; position: absolute; }
#lp-pom-block-79 { display: block; background: rgba(132, 91, 210, 0.83) url('/img/d31eee61-radius-bg-1.png') no-repeat fixed center center / cover ; border-style: none; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; width: 100%; height: 389px; position: relative; }
#lp-pom-video-112 { display: block; left: 158px; top: 2321px; z-index: 40; width: 623px; height: 350px; position: absolute; }
#lp-pom-block-103 { display: block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-style: none; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; width: 100%; height: 426px; position: relative; }
#lp-pom-block-12 { display: block; background: rgba(132, 91, 210, 0.83) url('/img/d31eee61-radius-bg-1.png') no-repeat fixed center center / cover ; border-style: none; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; width: 100%; height: 389px; position: relative; }
#lp-pom-block-14 { display: block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-style: none; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; width: 100%; height: 102px; position: relative; }
#lp-pom-image-20 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 0px; top: 3541px; z-index: 2; position: absolute; }
#lp-pom-text-39 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 640px; top: 3552px; z-index: 11; width: 300px; height: 22px; position: absolute; }
#lp-pom-text-40 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 98px; top: 3552px; z-index: 12; width: 159px; height: 22px; position: absolute; }
#lp-pom-button-66 { display: block; border-style: none; border-radius: 100px; left: 245px; top: 175px; z-index: 15; width: 142px; height: 42px; position: absolute; background: rgb(255, 255, 255) none no-repeat scroll 0% 0%; box-shadow: none; text-shadow: none; color: rgb(89, 92, 206); font-size: 16px; line-height: 19px; font-weight: bold; font-family: Cabin; text-align: center; }
#lp-pom-root .lp-positioned-content { top: 0px; width: 940px; margin-left: -470px; }
#lp-pom-block-8 .lp-pom-block-content { margin-left: auto; margin-right: auto; width: 940px; height: 671px; }
#lp-pom-image-9 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 103px; height: 36px; }
.lp-pom-image-container-daftar { border-style: none; border-radius: 0px; width: 103px; height: 36px;}
.img-fotter { margin: auto;}
#lp-pom-image-9 .lp-pom-image-container img { width: 103px; height: 36px; }
#lp-pom-block-84 .lp-pom-block-content { margin-left: auto; margin-right: auto; width: 940px; height: 389px; }
#lp-pom-block-70 .lp-pom-block-content { margin-left: auto; margin-right: auto; width: 940px; height: 426px; }
#lp-pom-block-89 .lp-pom-block-content { margin-left: auto; margin-right: auto; width: 940px; height: 389px; }
#lp-pom-block-94 .lp-pom-block-content { margin-left: auto; margin-right: auto; width: 940px; height: 426px; }
#lp-pom-block-79 .lp-pom-block-content { margin-left: auto; margin-right: auto; width: 940px; height: 389px; }
#lp-pom-block-103 .lp-pom-block-content { margin-left: auto; margin-right: auto; width: 940px; height: 426px; }
#lp-pom-block-12 .lp-pom-block-content { margin-left: auto; margin-right: auto; width: 940px; height: 389px; }
#lp-pom-block-14 .lp-pom-block-content { margin-left: auto; margin-right: auto; width: 940px; height: 102px; }
#lp-pom-image-20 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 82px; height: 29px; }
#lp-pom-image-20 .lp-pom-image-container img { width: 82px; height: 29px; }
#lp-pom-image-25 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 410px; height: 133px; }
#lp-pom-image-25 .lp-pom-image-container img { width: 410px; height: 133px; }
#lp-pom-image-46 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 77px; height: 77px; }
#lp-pom-image-46 .lp-pom-image-container img { width: 77px; height: 77px; }
#lp-pom-button-66:hover { background: rgb(242, 194, 194) none repeat scroll 0% 0%; box-shadow: none; color: rgb(89, 92, 206); }
#lp-pom-button-66:active { background: rgb(230, 161, 161) none repeat scroll 0% 0%; box-shadow: none; color: rgb(89, 92, 206); }
#lp-pom-button-66 > .label { margin-top: -10px; }
#lp-pom-image-71 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 36px; height: 49px; }
#lp-pom-image-71 .lp-pom-image-container img { width: 36px; height: 49px; }
#lp-pom-image-72 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 42px; height: 31px; }
#lp-pom-image-72 .lp-pom-image-container img { width: 42px; height: 31px; }
#lp-pom-image-73 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 31px; height: 44px; }
#lp-pom-image-73 .lp-pom-image-container img { width: 31px; height: 44px; }
#lp-pom-image-74 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 50px; height: 33px; }
#lp-pom-image-74 .lp-pom-image-container img { width: 50px; height: 33px; }
#lp-pom-image-88 .lp-pom-image-container { border-style: none; border-radius: 2px; width: 49px; height: 49px; }
#lp-pom-image-88 .lp-pom-image-container img { width: 49px; height: 49px; }
#lp-pom-image-93 .lp-pom-image-container { border-style: none; border-radius: 2px; width: 49px; height: 49px; }
#lp-pom-image-93 .lp-pom-image-container img { width: 49px; height: 49px; }
#lp-pom-image-95 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 36px; height: 49px; }
#lp-pom-image-95 .lp-pom-image-container img { width: 36px; height: 49px; }
#lp-pom-image-96 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 42px; height: 31px; }
#lp-pom-image-96 .lp-pom-image-container img { width: 42px; height: 31px; }
#lp-pom-image-97 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 31px; height: 44px; }
#lp-pom-image-97 .lp-pom-image-container img { width: 31px; height: 44px; }
#lp-pom-image-98 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 50px; height: 33px; }
#lp-pom-image-98 .lp-pom-image-container img { width: 50px; height: 33px; }
#lp-pom-root-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; top: 0px; width: 100%; height: 3607px; min-height: 100%; }
#lp-pom-block-8-color-overlay { position: absolute; background: rgba(114, 97, 209, 0.94) none repeat scroll 0% 0%; height: 671px; width: 100%; }
#lp-pom-block-84-color-overlay { position: absolute; background: rgba(132, 91, 210, 0.83) none repeat scroll 0% 0%; height: 389px; width: 100%; }
#lp-pom-block-70-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; height: 426px; width: 100%; }
#lp-pom-block-89-color-overlay { position: absolute; background: rgba(132, 91, 210, 0.83) none repeat scroll 0% 0%; height: 389px; width: 100%; }
#lp-pom-block-94-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; height: 426px; width: 100%; }
#lp-pom-block-79-color-overlay { position: absolute; background: rgba(132, 91, 210, 0.83) none repeat scroll 0% 0%; height: 389px; width: 100%; }
#lp-pom-block-103-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; height: 426px; width: 100%; }
#lp-pom-block-12-color-overlay { position: absolute; background: rgba(132, 91, 210, 0.83) none repeat scroll 0% 0%; height: 389px; width: 100%; }
#lp-pom-block-14-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; height: 102px; width: 100%; }
#lp-pom-box-27-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; height: 48px; width: 940px; }
#lp-pom-box-28-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; height: 99px; width: 940px; }
#lp-pom-box-29-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; height: 347px; width: 113px; }
#lp-pom-box-45-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; border-radius: 148px; height: 45px; width: 143px; }
#lp-pom-box-87-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; border-radius: 5px; height: 59px; width: 59px; }
#lp-pom-box-92-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; border-radius: 5px; height: 59px; width: 59px; }
#lp-pom-form-65 { display: block; left: 37px; top: 401px; z-index: 14; width: 387px; position: absolute; }
#lp-pom-form-65 .lp-pom-form-field label { margin-top: 12px; font-family: Cabin; font-weight: normal; font-size: 16px; line-height: 18px; color: rgb(255, 255, 255); }
#lp-pom-form-65 .lp-pom-form-field input.text { background-color: rgb(114, 97, 209); color: rgb(255, 255, 255); border-radius: 5px; }
#lp-pom-form-65 .lp-pom-form-field input[type="text"] { border-style: solid; border-width: 2px; border-color: rgb(255, 255, 255); }
#lp-pom-form-65 .form_elem_name { top: 0px; left: 119px; width: 270px; font-size: 15px; line-height: 15px; height: 37px; padding-left: 11px; padding-right: 11px;  }
#lp-pom-form-65 .form_elem_email { top: 0px; left: 119px; width: 270px; font-size: 15px; line-height: 15px; height: 37px; padding-left: 11px; padding-right: 11px; }
#lp-pom-form-65 .form_elem_phone_number { top: 0px; left: 119px; width: 270px; font-size: 15px; line-height: 15px; height: 37px; padding-left: 11px; padding-right: 11px; }
#lp-pom-form-65 #label_name { height: 22px; top: 0px; width: 107px; }
#lp-pom-form-65 #label_email { height: 22px; top: 0px; width: 107px; }
#lp-pom-form-65 #label_phone_number { height: 22px; top: 0px; width: 107px; }
#lp-pom-form-65 #container_name { width: 387px; height: 41px; top: 0px; }
#lp-pom-form-65 #container_email { width: 387px; height: 41px; top: 59px; }
#lp-pom-form-65 #container_phone_number { width: 387px; height: 41px; top: 118px; }
@media only screen and (max-width: 600px) {
	#lp-pom-image-25-holder { background-image: url('/img/37d53fec-radius-company-logos_08302m08302m000000.png'); position: absolute; }
	#lp-pom-image-9 { left: 108px; top: 26px; display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; z-index: 1; position: absolute; }
	#lp-pom-root { display: block; background: transparent linear-gradient(rgb(210, 49, 49), rgb(111, 145, 235)) repeat scroll 0% 0%; border-style: none; margin: auto; padding-top: 0px; border-radius: 0px; min-width: 320px; height: 5185px; }
	#lp-pom-block-8 { display: block; background: rgba(114, 97, 209, 0.94) url('/img/cda1ed25-radius-bg-2.png') no-repeat scroll center center / cover ; border-style: none; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; width: 100%; height: 978px; position: relative; }
	#lp-pom-image-25 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 14px; top: 768px; z-index: 3; position: absolute; }
	#lp-pom-box-27 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: solid none none; border-width: 1px; border-color: rgb(121, 118, 209); border-radius: 0px; left: 0px; top: 91px; z-index: 4; width: 320px; height: 48px; position: absolute; }
	#lp-pom-text-30 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 31px; top: 17px; z-index: 5; width: 300px; height: 138px; transform: scale(0.78); transform-origin: 0px 0px 0px; position: absolute; }
	#lp-pom-box-28 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: solid none none; border-width: 1px; border-color: rgb(121, 118, 209); border-radius: 0px; left: 0px; top: 394px; z-index: 7; width: 320px; height: 99px; position: absolute; }
	#lp-pom-box-29 { display: none; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none solid none none; border-width: 1px; border-color: rgb(121, 118, 209); border-radius: 0px; left: 59px; top: 155px; z-index: 8; width: 113px; height: 347px; position: absolute; }
	#lp-pom-text-31 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 14px; top: 245px; z-index: 9; width: 291px; height: 116px; position: absolute; }
	#lp-pom-text-32 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 28px; top: 896px; z-index: 10; width: 264px; height: 77px; position: absolute; }
	#lp-pom-box-45 { display: block; background: rgb(100, 50, 149) none repeat scroll 0% 0%; border-style: none; border-radius: 148px; left: 14px; top: 680px; z-index: 6; width: 291px; height: 45px; position: absolute; }
	#lp-pom-image-46 { display: none; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 209px; top: 559px; z-index: 13; position: absolute; }
	#lp-pom-block-84 { display: block; background: rgba(132, 91, 210, 0.83) url('/img/d31eee61-radius-bg-1.png') no-repeat scroll center center / cover ; border-style: none; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; width: 100%; height: 464px; position: relative; }
	#lp-pom-text-85 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 17px; top: 1041px; z-index: 24; width: 286px; height: 252px; position: absolute; }
	#lp-pom-text-86 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 128px; top: 1317px; z-index: 25; width: 137px; height: 50px; position: absolute; }
	#lp-pom-box-87 { display: block; background: rgba(255, 255, 255, 0.25) none repeat scroll 0% 0%; border-style: none; border-radius: 5px; left: 54px; top: 1312px; z-index: 26; width: 59px; height: 59px; position: absolute; }
	#lp-pom-image-88 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 5px; top: 5px; z-index: 27; position: absolute; }
	#lp-pom-block-70 { display: block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-style: none; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; width: 100%; height: 810px; position: relative; }
	#lp-pom-image-71 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 15px; top: 1852px; z-index: 16; position: absolute; }
	#lp-pom-image-72 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 12px; top: 1686px; z-index: 17; position: absolute; }
	#lp-pom-image-73 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 22px; top: 1518px; z-index: 18; position: absolute; }
	#lp-pom-image-74 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 8px; top: 2025px; z-index: 19; position: absolute; }
	#lp-pom-text-75 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 74px; top: 1527px; z-index: 20; width: 234px; height: 129px; position: absolute; }
	#lp-pom-text-76 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 74px; top: 1693px; z-index: 21; width: 234px; height: 129px; position: absolute; }
	#lp-pom-text-77 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 74px; top: 1866px; z-index: 22; width: 234px; height: 129px; position: absolute; }
	#lp-pom-text-78 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 74px; top: 2037px; z-index: 23; width: 234px; height: 129px; position: absolute; }
	#lp-pom-block-89 { display: block; background: rgba(132, 91, 210, 0.83) url('/img/d31eee61-radius-bg-1.png') no-repeat scroll center center / cover ; border-style: none; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; width: 100%; height: 464px; position: relative; }
	#lp-pom-text-90 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 17px; top: 2315px; z-index: 28; width: 286px; height: 252px; position: absolute; }
	#lp-pom-text-91 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 128px; top: 2591px; z-index: 29; width: 137px; height: 50px; position: absolute; }
	#lp-pom-box-92 { display: block; background: rgba(255, 255, 255, 0.25) none repeat scroll 0% 0%; border-style: none; border-radius: 5px; left: 54px; top: 2586px; z-index: 30; width: 59px; height: 59px; position: absolute; }
	#lp-pom-image-93 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 5px; top: 5px; z-index: 31; position: absolute; }
	#lp-pom-block-94 { display: block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-style: none; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; width: 100%; height: 810px; position: relative; }
	#lp-pom-image-95 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 15px; top: 3126px; z-index: 32; position: absolute; }
	#lp-pom-image-96 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 12px; top: 2960px; z-index: 33; position: absolute; }
	#lp-pom-image-97 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 22px; top: 2792px; z-index: 34; position: absolute; }
	#lp-pom-image-98 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 8px; top: 3299px; z-index: 35; position: absolute; }
	#lp-pom-text-99 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 74px; top: 2801px; z-index: 36; width: 234px; height: 129px; position: absolute; }
	#lp-pom-text-100 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 74px; top: 2967px; z-index: 37; width: 234px; height: 129px; position: absolute; }
	#lp-pom-text-101 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 74px; top: 3140px; z-index: 38; width: 234px; height: 129px; position: absolute; }
	#lp-pom-text-102 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 74px; top: 3311px; z-index: 39; width: 234px; height: 129px; position: absolute; }
	#lp-pom-block-79 { display: block; background: rgba(132, 91, 210, 0.83) url('/img/d31eee61-radius-bg-1.png') no-repeat scroll center center / cover ; border-style: none; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; width: 100%; height: 191px; position: relative; }
	#lp-pom-video-112 { display: block; left: 26px; top: 3551px; z-index: 40; width: 268px; height: 151px; position: absolute; }
	#lp-pom-block-103 { display: block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-style: none; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; width: 100%; height: 810px; position: relative; }
	#lp-pom-block-12 { display: block; background: rgba(132, 91, 210, 0.83) url('/img/d31eee61-radius-bg-1.png') no-repeat scroll center center / cover ; border-style: none; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; width: 100%; height: 464px; position: relative; }
	#lp-pom-block-14 { display: block; background: rgb(255, 255, 255) none repeat scroll 0% 0%; border-style: none; margin-left: auto; margin-right: auto; margin-bottom: 0px; border-radius: 0px; width: 100%; height: 194px; position: relative; }
	#lp-pom-image-20 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; left: 119px; top: 5022px; z-index: 2; position: absolute; }
	#lp-pom-text-39 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 13px; top: 5155px; z-index: 11; width: 275px; height: 22px; position: absolute; }
	#lp-pom-text-40 { display: block; background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%; border-style: none; border-radius: 0px; left: 93px; top: 5059px; z-index: 12; width: 159px; height: 22px; position: absolute; }
	#lp-pom-button-66 { display: block; border-style: none; border-radius: 100px; left: 5px; top: 248px; z-index: 15; width: 289px; height: 42px; position: absolute; background: rgb(255, 255, 255) none no-repeat scroll 0% 0%; box-shadow: none; text-shadow: none; color: rgb(89, 92, 206); font-size: 16px; line-height: 19px; font-weight: bold; font-family: Cabin; text-align: center; }
	body { color: rgb(0, 0, 0); }
	a { color: rgb(0, 0, 255); text-decoration: none; }
	#lp-pom-root .lp-positioned-content { top: 0px; width: 320px; margin-left: -160px; }
	#lp-pom-block-8 .lp-pom-block-content { margin-left: auto; margin-right: auto; width: 320px; height: 978px; }
	#lp-pom-image-9 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 103px; height: 36px; }
	#lp-pom-image-9 .lp-pom-image-container img { width: 103px; height: 36px; }
	#lp-pom-block-84 .lp-pom-block-content { margin-left: auto; margin-right: auto; width: 320px; height: 464px; }
	#lp-pom-block-70 .lp-pom-block-content { margin-left: auto; margin-right: auto; width: 320px; height: 810px; }
	#lp-pom-block-89 .lp-pom-block-content { margin-left: auto; margin-right: auto; width: 320px; height: 464px; }
	#lp-pom-block-94 .lp-pom-block-content { margin-left: auto; margin-right: auto; width: 320px; height: 810px; }
	#lp-pom-block-79 .lp-pom-block-content { margin-left: auto; margin-right: auto; width: 320px; height: 191px; }
	#lp-pom-block-103 .lp-pom-block-content { margin-left: auto; margin-right: auto; width: 320px; height: 810px; }
	#lp-pom-block-12 .lp-pom-block-content { margin-left: auto; margin-right: auto; width: 320px; height: 464px; }
	#lp-pom-block-14 .lp-pom-block-content { margin-left: auto; margin-right: auto; width: 320px; height: 194px; }
	#lp-pom-image-20 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 82px; height: 29px; }
	#lp-pom-image-20 .lp-pom-image-container img { width: 82px; height: 29px; }
	#lp-pom-image-25 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 291px; height: 94px; }
	#lp-pom-image-25 .lp-pom-image-container img { width: 291px; height: 94px; }
	#lp-pom-image-46 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 77px; height: 77px; }
	#lp-pom-image-46 .lp-pom-image-container img { width: 77px; height: 77px; }
	#lp-pom-button-66:hover { background: rgb(242, 194, 194) none repeat scroll 0% 0%; box-shadow: none; color: rgb(89, 92, 206); }
	#lp-pom-button-66:active { background: rgb(230, 161, 161) none repeat scroll 0% 0%; box-shadow: none; color: rgb(89, 92, 206); }
	#lp-pom-button-66 .label { margin-top: -10px; }
	#lp-pom-image-71 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 36px; height: 49px; }
	#lp-pom-image-71 .lp-pom-image-container img { width: 36px; height: 49px; }
	#lp-pom-image-72 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 42px; height: 31px; }
	#lp-pom-image-72 .lp-pom-image-container img { width: 42px; height: 31px; }
	#lp-pom-image-73 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 31px; height: 44px; }
	#lp-pom-image-73 .lp-pom-image-container img { width: 31px; height: 44px; }
	#lp-pom-image-74 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 50px; height: 33px; }
	#lp-pom-image-74 .lp-pom-image-container img { width: 50px; height: 33px; }
	#lp-pom-image-88 .lp-pom-image-container { border-style: none; border-radius: 2px; width: 49px; height: 49px; }
	#lp-pom-image-88 .lp-pom-image-container img { width: 49px; height: 49px; }
	#lp-pom-image-93 .lp-pom-image-container { border-style: none; border-radius: 2px; width: 49px; height: 49px; }
	#lp-pom-image-93 .lp-pom-image-container img { width: 49px; height: 49px; }
	#lp-pom-image-95 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 36px; height: 49px; }
	#lp-pom-image-95 .lp-pom-image-container img { width: 36px; height: 49px; }
	#lp-pom-image-96 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 42px; height: 31px; }
	#lp-pom-image-96 .lp-pom-image-container img { width: 42px; height: 31px; }
	#lp-pom-image-97 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 31px; height: 44px; }
	#lp-pom-image-97 .lp-pom-image-container img { width: 31px; height: 44px; }
	#lp-pom-image-98 .lp-pom-image-container { border-style: none; border-radius: 0px; width: 50px; height: 33px; }
	#lp-pom-image-98 .lp-pom-image-container img { width: 50px; height: 33px; }
	#lp-pom-root-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; top: 0px; width: 100%; height: 5185px; min-height: 100%; }
	#lp-pom-block-8-color-overlay { position: absolute; background: rgba(114, 97, 209, 0.94) none repeat scroll 0% 0%; height: 978px; width: 100%; }
	#lp-pom-block-84-color-overlay { position: absolute; background: rgba(132, 91, 210, 0.83) none repeat scroll 0% 0%; height: 464px; width: 100%; }
	#lp-pom-block-70-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; height: 810px; width: 100%; }
	#lp-pom-block-89-color-overlay { position: absolute; background: rgba(132, 91, 210, 0.83) none repeat scroll 0% 0%; height: 464px; width: 100%; }
	#lp-pom-block-94-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; height: 810px; width: 100%; }
	#lp-pom-block-79-color-overlay { position: absolute; background: rgba(132, 91, 210, 0.83) none repeat scroll 0% 0%; height: 191px; width: 100%; }
	#lp-pom-block-103-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; height: 810px; width: 100%; }
	#lp-pom-block-12-color-overlay { position: absolute; background: rgba(132, 91, 210, 0.83) none repeat scroll 0% 0%; height: 464px; width: 100%; }
	#lp-pom-block-14-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; height: 194px; width: 100%; }
	#lp-pom-box-27-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; height: 48px; width: 320px; }
	#lp-pom-box-28-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; height: 99px; width: 320px; }
	#lp-pom-box-29-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; height: 347px; width: 113px; }
	#lp-pom-box-45-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; border-radius: 148px; height: 45px; width: 291px; }
	#lp-pom-box-87-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; border-radius: 5px; height: 59px; width: 59px; }
	#lp-pom-box-92-color-overlay { position: absolute; background: transparent none repeat scroll 0% 0%; border-radius: 5px; height: 59px; width: 59px; }
	#lp-pom-form-65 { display: block; left: 10px; top: 430px; z-index: 14; width: 295px; position: absolute; }
	#lp-pom-form-65 .lp-pom-form-field label { margin-top: 0px; font-family: Cabin; font-weight: normal; font-size: 16px; line-height: 18px; color: rgb(255, 255, 255); }
	#lp-pom-form-65 .lp-pom-form-field input.text { background-color: rgb(114, 97, 209); color: rgb(255, 255, 255); border-radius: 5px; }
	#lp-pom-form-65 .lp-pom-form-field input[type="text"] { border-style: solid; border-width: 2px; border-color: rgb(255, 255, 255); }
	#lp-pom-form-65 .form_elem_name { top: 22px; left: 0px; width: 269px; font-size: 15px; line-height: 15px; height: 37px; padding-left: 11px; padding-right: 11px; }
	#lp-pom-form-65 .form_elem_email { top: 22px; left: 0px; width: 269px; font-size: 15px; line-height: 15px; height: 37px; padding-left: 11px; padding-right: 11px; }
	#lp-pom-form-65 .form_elem_phone_number { top: 22px; left: 0px; width: 269px; font-size: 15px; line-height: 15px; height: 37px; padding-left: 11px; padding-right: 11px; }
	#lp-pom-form-65 #label_name { height: 22px; top: 0px; width: auto; }
	#lp-pom-form-65 #label_email { height: 22px; top: 0px; width: auto; }
	#lp-pom-form-65 #label_phone_number { height: 22px; top: 0px; width: auto; }
	#lp-pom-form-65 #container_name { width: 295px; height: 59px; top: 0px; }
	#lp-pom-form-65 #container_email { width: 295px; height: 59px; top: 81px; }
	#lp-pom-form-65 #container_phone_number { width: 295px; height: 59px; top: 162px; }
}
/* ::::: http://builder-assets.unbounce.com/published/page-defaults-c1acb70.z.css ::::: */

html { color: rgb(0, 0, 0); background: transparent none repeat scroll 0% 0%; }
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0px; padding: 0px; }
button::-moz-focus-inner { padding: 0px; border: medium none; }
fieldset, img { border: 0px none; }
address, caption, cite, code, dfn, em, strong, th, var, optgroup { font-style: inherit; font-weight: inherit; }
q::before, q::after { content: ""; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
:focus { outline: 0px none; }
.clearfix::after { content: ""; display: table; clear: both; }
html { opacity: 0; }
html { opacity: 1; transition: transform 0.4s ease-in-out 0s, opacity 0.4s ease-in-out 0s; }
html, body, .lp-pom-body { height: 100%; }
body.lp-pom-body:not(.lp-convertable-page) { background-color: rgb(255, 255, 255); }
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	* { -moz-text-size-adjust: none; }
}
div.lp-pom-root { min-height: 100%; position: relative; top: 0px; }
div.lp-pom-root, .cke-text { font-family: "helvetica","arial",sans-serif; font-size: 14px; line-height: 17px; }
.lp-positioned-content { position: absolute; left: 50%; top: 0px; height: 0px; z-index: 1; }
.lp-pom-block-content { position: relative; height: 100%; }
div.lp-pom-root .lp-pom-form-field { position: absolute; left: 0px; top: 0px; margin-bottom: 12px; }
div.lp-pom-root .lp-pom-form-field label { position: absolute; left: 0px; top: 0px; }
div.lp-pom-root .lp-pom-form-field textarea, div.lp-pom-root .lp-pom-form-field input[type="text"] { position: absolute; left: 0px; top: 0px; padding: 0px; margin: 0px; border: 1px solid rgb(102, 102, 102); font-family: "helvetica","arial",sans-serif; }
div.lp-pom-root .lp-pom-form-field input[type="text"]::-moz-focus-inner { padding: 0px; border: medium none; }
div.lp-pom-root .lp-pom-form-field select::-moz-focus-inner { padding: 0px; border: medium none; }
div.lp-pom-root .lp-pom-button { text-decoration: none; display: block; cursor: pointer; }
div.lp-pom-root .lp-pom-button span { position: absolute; top: 50%; display: block; text-align: center; left: 0px; right: 0px; padding: 0px 8px; cursor: pointer; }
div.lp-pom-root .lp-pom-button { background: transparent none repeat scroll 0% 0%; }
div.lp-pom-root .lp-pom-text span { line-height: 0; }
div.lp-pom-root .lp-pom-text p, .cke-text p { font-size: 14px; line-height: 17px; }
div.lp-pom-root .lp-pom-text.nlh p, .cke-text.nlh p { font-size: 14px; line-height: 22px; }
div.lp-pom-root .lp-pom-text a, .cke-text a { text-decoration: underline; }
div.lp-pom-root .lp-pom-text .lplh-9, div.lp-pom-root .lp-pom-text.nlh .lplh-9, .cke-text .lplh-9, .cke-text.nlh .lplh-9 { line-height: 9px; }
div.lp-pom-root .lp-pom-text .lplh-15, div.lp-pom-root .lp-pom-text.nlh .lplh-15, .cke-text .lplh-15, .cke-text.nlh .lplh-15 { line-height: 15px; }
div.lp-pom-root .lp-pom-text .lplh-20, div.lp-pom-root .lp-pom-text.nlh .lplh-20, .cke-text .lplh-20, .cke-text.nlh .lplh-20 { line-height: 20px; }
div.lp-pom-root .lp-pom-text .lplh-22, div.lp-pom-root .lp-pom-text.nlh .lplh-22, .cke-text .lplh-22, .cke-text.nlh .lplh-22 { line-height: 22px; }
div.lp-pom-root .lp-pom-text .lplh-26, div.lp-pom-root .lp-pom-text.nlh .lplh-26, .cke-text .lplh-26, .cke-text.nlh .lplh-26 { line-height: 26px; }
div.lp-pom-root .lp-pom-text p, .cke-text p, div.lp-pom-root .lp-pom-text blockquote, .cke-text blockquote, div.lp-pom-root .lp-pom-text ul, .cke-text ul, div.lp-pom-root .lp-pom-text dl, .cke-text dl { margin-bottom: 16px; }
div.lp-pom-root .lp-pom-text > p:last-child, div.lp-pom-root .lp-pom-text > blockquote:last-child, div.lp-pom-root .lp-pom-text > ul:last-child, div.lp-pom-root .lp-pom-text > dl:last-child, div.lp-pom-root .lp-pom-text > h1:last-child, div.lp-pom-root .lp-pom-text > h2:last-child, div.lp-pom-root .lp-pom-text > h3:last-child, div.lp-pom-root .lp-pom-text > h4:last-child, div.lp-pom-root .lp-pom-text > h5:last-child, div.lp-pom-root .lp-pom-text > h6:last-child, div.lp-pom-root .lp-pom-text .text-content > p:last-child, div.lp-pom-root .lp-pom-text .text-content > blockquote:last-child, div.lp-pom-root .lp-pom-text .text-content > ul:last-child, div.lp-pom-root .lp-pom-text .text-content > dl:last-child, div.lp-pom-root .lp-pom-text .text-content > h1:last-child, div.lp-pom-root .lp-pom-text .text-content > h2:last-child, div.lp-pom-root .lp-pom-text .text-content > h3:last-child, div.lp-pom-root .lp-pom-text .text-content > h4:last-child, div.lp-pom-root .lp-pom-text .text-content > h5:last-child, div.lp-pom-root .lp-pom-text .text-content > h6:last-child { margin-bottom: 0px; }
div.lp-pom-root .lp-pom-text em, .cke-text em { font-style: italic; }
.lp-form-errors { position: absolute; display: none; z-index: 999999; }
.lp-form-errors div.content { background-color: rgb(204, 204, 204); font-family: "helvetica","arial","verdana",sans-serif; }
.lp-form-errors div.content div.error { background-color: rgb(223, 57, 53); padding: 5px 20px; font-size: 12px; font-weight: bold; color: rgb(255, 255, 255); }
.lp-form-errors div.content div.error .error-msg { padding-right: 50px; }
.lp-form-errors div.content div.error .error-button { position: absolute; right: 20px; top: 5px; }
.lp-form-errors div.content div.error .error-button .error-toggle { float: right; margin-right: 3px; text-decoration: underline; cursor: pointer; color: rgb(255, 255, 255); }
.lp-form-errors div.content div.error .error-button .error-toggle-arrow { float: right; width: 9px; height: 10px; margin-top: 2px; cursor: pointer; background-image: url('triangle-toggle.png'); background-repeat: no-repeat; background-position: 0px 1px; background-size: cover; }
.lp-form-errors div.content ul { display: block ! important; background-color: rgb(255, 208, 208); padding: 8px 15px; font-size: 12px; line-height: 16px; font-weight: normal; color: rgb(223, 57, 53); }
.lp-pom-root .lp-pom-image img { vertical-align: top; }
#ubpoverlay-outer { height: auto ! important; }
@media only screen and (max-width: 600px) {
	#ubpoverlay-content { overflow: auto ! important; }
}
/* ::::: http://builder-assets.unbounce.com/published/jquery.ubpoverlay-63159c9.z.css ::::: */

#ubpoverlay-loading { position: fixed; top: 50%; left: 50%; width: 40px; height: 40px; margin-top: -20px; margin-left: -20px; cursor: pointer; overflow: hidden; z-index: 1104; display: none; }
#ubpoverlay-loading div { position: absolute; top: 0px; left: 0px; width: 40px; height: 480px; background-image: url('/img/ubpoverlay.png'); }
#ubpoverlay-overlay { position: absolute; top: 0px; left: 0px; width: 100%; z-index: 1100; display: none; }
#ubpoverlay-tmp { padding: 0px; margin: 0px; border: 0px none; overflow: auto; display: none; }
#ubpoverlay-wrap { position: absolute; top: 0px; left: 0px; padding: 20px; z-index: 1101; outline: medium none; display: none; }
#ubpoverlay-outer { position: relative; width: 100%; height: 100%; background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
#ubpoverlay-content { width: 0px; height: 0px; padding: 0px; outline: medium none; position: relative; overflow: hidden; z-index: 1102; border: 0px solid rgb(255, 255, 255); }
#ubpoverlay-close { position: absolute; top: -15px; right: -15px; width: 30px; height: 30px; background: transparent url('/img/ubpoverlay.png') repeat scroll -40px 0px; cursor: pointer; z-index: 1103; display: none; }
#ubpoverlay-left, #ubpoverlay-right { position: absolute; bottom: 0px; height: 100%; width: 35%; cursor: pointer; outline: medium none; background: transparent url('/img/blank.gif') repeat scroll 0% 0%; z-index: 1102; display: none; }
#ubpoverlay-left { left: 0px; }
#ubpoverlay-right { right: 0px; }
#ubpoverlay-left-ico, #ubpoverlay-right-ico { position: absolute; top: 50%; left: -9999px; width: 30px; height: 30px; margin-top: -15px; cursor: pointer; z-index: 1102; display: block; }
#ubpoverlay-left-ico { background-image: url('/img/ubpoverlay.png'); background-position: -40px -30px; }
#ubpoverlay-right-ico { background-image: url('/img/ubpoverlay.png'); background-position: -40px -60px; }
#ubpoverlay-left:hover, #ubpoverlay-right:hover { visibility: visible; }
#ubpoverlay-left:hover span { left: 20px; }
#ubpoverlay-right:hover span { left: auto; right: 20px; }
.ubpoverlay-bg { position: absolute; padding: 0px; margin: 0px; border: 0px none; width: 20px; height: 20px; z-index: 1001; }
#ubpoverlay-bg-n { top: -20px; left: 0px; width: 100%; background-image: url('/img/ubpoverlay-x.png'); }
#ubpoverlay-bg-ne { top: -20px; right: -20px; background-image: url('/img/ubpoverlay.png'); background-position: -40px -162px; }
#ubpoverlay-bg-e { top: 0px; right: -20px; height: 100%; background-image: url('/img/ubpoverlay-y.png'); background-position: -20px 0px; }
#ubpoverlay-bg-se { bottom: -20px; right: -20px; background-image: url('/img/ubpoverlay.png'); background-position: -40px -182px; }
#ubpoverlay-bg-s { bottom: -20px; left: 0px; width: 100%; background-image: url('/img/ubpoverlay-x.png'); background-position: 0px -20px; }
#ubpoverlay-bg-sw { bottom: -20px; left: -20px; background-image: url('ubpoverlay.png'); background-position: -40px -142px; }
#ubpoverlay-bg-w { top: 0px; left: -20px; height: 100%; background-image: url('/img/ubpoverlay-y.png'); }
#ubpoverlay-bg-nw { top: -20px; left: -20px; background-image: url('/img/ubpoverlay.png'); background-position: -40px -122px; }
#ubpoverlay-title { font-family: Helvetica; font-size: 12px; z-index: 1102; }
/* ::::: http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700,700italic%7CCabin:400,400italic,700,700italic%7CArvo:400,400italic,700,700italic%7CCabin:400,400italic,700,700italic%7CLato:400,400italic,700,700italic ::::: */

@font-face {
	font-family: "Arvo";
	font-style: normal;
	font-weight: 400;
	src: local("Arvo"), url('rc7kkhy-eudy-ucistif5peszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Arvo";
	font-style: normal;
	font-weight: 700;
	src: local("Arvo Bold"), local("Arvo-Bold"), url('uo-jo7kf010hxopu_-jk8qluueptyoustqem5amljo4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Arvo";
	font-style: italic;
	font-weight: 400;
	src: local("Arvo Italic"), local("Arvo-Italic"), url('xoql5uxizh27ccigy9pivevvdin1pk8aktelpez5c0a.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Arvo";
	font-style: italic;
	font-weight: 700;
	src: local("Arvo Bold Italic"), local("Arvo-BoldItalic"), url('vj6jek1yzr8j8r8h2j0b-pbw1xu1rkptjj_0jans920.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Cabin";
	font-style: normal;
	font-weight: 400;
	src: local("Cabin"), local("Cabin-Regular"), url('srnyxnrtweojaj2__qjvzidgdugfdkxyfkzvdelzffk.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Cabin";
	font-style: normal;
	font-weight: 400;
	src: local("Cabin"), local("Cabin-Regular"), url('sy_kbtyyuewt-sd7kqupfodgdugfdkxyfkzvdelzffk.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Cabin";
	font-style: normal;
	font-weight: 400;
	src: local("Cabin"), local("Cabin-Regular"), url('4vmqlg5uae3m5rr_emmaqacwcynf_cdxxwclxiixg1c.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Cabin";
	font-style: normal;
	font-weight: 700;
	src: local("Cabin Bold"), local("Cabin-Bold"), url('uxghljkiqzg6tofp8immurkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Cabin";
	font-style: normal;
	font-weight: 700;
	src: local("Cabin Bold"), local("Cabin-Bold"), url('x3m-u6jeqcwjgsnylxqv4xkaz4ryn47zy2rvigwqf6w.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Cabin";
	font-style: normal;
	font-weight: 700;
	src: local("Cabin Bold"), local("Cabin-Bold"), url('82b-3ylzwjm8zbcrvemc_nyhjbspvc47ee6xr_80hnw.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Cabin";
	font-style: italic;
	font-weight: 400;
	src: local("Cabin Italic"), local("Cabin-Italic"), url('y97sbvpu_e74rmxwstbiwvkpgs1zzpmvnhx-7fpouac.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Cabin";
	font-style: italic;
	font-weight: 400;
	src: local("Cabin Italic"), local("Cabin-Italic"), url('2jxvcjveeyeojsl6pnkmg1kpgs1zzpmvnhx-7fpouac.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Cabin";
	font-style: italic;
	font-weight: 400;
	src: local("Cabin Italic"), local("Cabin-Italic"), url('h0pnhiw5sx0_yshgvze93qluueptyoustqem5amljo4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Cabin";
	font-style: italic;
	font-weight: 700;
	src: local("Cabin Bold Italic"), local("Cabin-BoldItalic"), url('hu5_wp_wn_gab92a2zi6basybbcjybihxartljt7fru.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Cabin";
	font-style: italic;
	font-weight: 700;
	src: local("Cabin Bold Italic"), local("Cabin-BoldItalic"), url('deis1sismo5mbfjq7alpgqsybbcjybihxartljt7fru.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Cabin";
	font-style: italic;
	font-weight: 700;
	src: local("Cabin Bold Italic"), local("Cabin-BoldItalic"), url('ww23lqnlhn4dam9uegpaxwzydmxhdd8saj6oajtfsbi.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	src: local("Lato Regular"), local("Lato-Regular"), url('8qcew_nrk_5heccpydju8btbgvql8ndjpwnre27mub0.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	src: local("Lato Regular"), local("Lato-Regular"), url('mdadn8dq_3ot6kvnuq_2r_eszw2xoq-xsnqo47m55da.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	src: local("Lato Bold"), local("Lato-Bold"), url('rzpi2ghxi8zxujnybc2zqfkpgs1zzpmvnhx-7fpouac.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Lato";
	font-style: normal;
	font-weight: 700;
	src: local("Lato Bold"), local("Lato-Bold"), url('mgnnr5y1c_tieulemiclmwluueptyoustqem5amljo4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Lato";
	font-style: italic;
	font-weight: 400;
	src: local("Lato Italic"), local("Lato-Italic"), url('ct2gn3krbux69gvj2b2hxn-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Lato";
	font-style: italic;
	font-weight: 400;
	src: local("Lato Italic"), local("Lato-Italic"), url('1kwmyx7m-l0fkqgwyhwwuuvvdin1pk8aktelpez5c0a.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "Lato";
	font-style: italic;
	font-weight: 700;
	src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url('acvtq8q0lykknxrll28rn4x0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Lato";
	font-style: italic;
	font-weight: 700;
	src: local("Lato Bold Italic"), local("Lato-BoldItalic"), url('hkf_qi1x_noxlxhrhmqyejbw1xu1rkptjj_0jans920.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans"), local("PTSans-Regular"), url('fhnmdcnjccouyyu4zasalvkpgs1zzpmvnhx-7fpouac.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans"), local("PTSans-Regular"), url('bjvwev7_auvaq__ou8qih1kpgs1zzpmvnhx-7fpouac.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans"), local("PTSans-Regular"), url('oysrohftu1etz74hcf8v-vkpgs1zzpmvnhx-7fpouac.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 400;
	src: local("PT Sans"), local("PTSans-Regular"), url('cwlc_g68bgydsgdpjvpktgluueptyoustqem5amljo4.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: local("PT Sans Bold"), local("PTSans-Bold"), url('ktyfcwjhlldpf5lng4znhasybbcjybihxartljt7fru.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: local("PT Sans Bold"), local("PTSans-Bold"), url('g46x4vh_khowaaa-hpngpgsybbcjybihxartljt7fru.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: local("PT Sans Bold"), local("PTSans-Bold"), url('hporcvlztemlh8gi-1s-7gsybbcjybihxartljt7fru.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "PT Sans";
	font-style: normal;
	font-weight: 700;
	src: local("PT Sans Bold"), local("PTSans-Bold"), url('0xxgqssc1g4rdrdjjkzrnazydmxhdd8saj6oajtfsbi.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	src: local("PT Sans Italic"), local("PTSans-Italic"), url('gpwpm_6s4vqlpnaq3iwvvyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	src: local("PT Sans Italic"), local("PTSans-Italic"), url('7dsh6bcuqdlzs2qaasieuox0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	src: local("PT Sans Italic"), local("PTSans-Italic"), url('dvkqjxmmc9wf_oplmzlqqyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 400;
	src: local("PT Sans Italic"), local("PTSans-Italic"), url('pipmhy90p7jtyjpxuz2cljbw1xu1rkptjj_0jans920.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 700;
	src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url('lillydvubyemzyzn7gblka7ac6sjiaopawokfjdfvry.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 700;
	src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url('lillydvubyemzyzn7gblkbdwxcxfzpko5kwax_74bhs.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 700;
	src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url('lillydvubyemzyzn7gblkijoyw3ytyktccer_ilolhe.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "PT Sans";
	font-style: italic;
	font-weight: 700;
	src: local("PT Sans Bold Italic"), local("PTSans-BoldItalic"), url('lillydvubyemzyzn7gblkbampu5_7cjhw5spxoen3vs.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.label-tessy {
    font-size: 16px;
    color: rgb(89, 92, 206);
    margin-top: -10px;
}
@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
	* { -moz-text-size-adjust: none; }
}

.footer-daftar-text {
    font-size: 10px;
}    
.footer-daftar {
    margin: auto;
}