/* ::::: https://fonts.googleapis.com/css?family=Fira+Mono ::::: */

@font-face {
	font-family: "Fira Mono";
	font-style: normal;
	font-weight: 400;
	src: local("Fira Mono"), local("FiraMono"), url('zu7wtkudyj3kyp83wutnrix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Fira Mono";
	font-style: normal;
	font-weight: 400;
	src: local("Fira Mono"), local("FiraMono"), url('1ci0a82nc1vmnbgz40jtdix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Fira Mono";
	font-style: normal;
	font-weight: 400;
	src: local("Fira Mono"), local("FiraMono"), url('15jcs9lpil7lstp978ndcox0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Fira Mono";
	font-style: normal;
	font-weight: 400;
	src: local("Fira Mono"), local("FiraMono"), url('4jbdq56cmku462bp0t-w9ix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Fira Mono";
	font-style: normal;
	font-weight: 400;
	src: local("Fira Mono"), local("FiraMono"), url('slrwfq1zeqxiywan-lng-pbw1xu1rkptjj_0jans920.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* ::::: https://realm.io/assets/css/vendors/bootstrap.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary { display: block; }
audio, canvas, progress, video { display: inline-block; vertical-align: baseline; }
audio:not([controls]) { display: none; height: 0px; }
a { background: transparent none repeat scroll 0% 0%; }
a:active, a:hover { outline: 0px none; }
h1 { margin: 0.67em 0px; font-size: 2em; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button, input, optgroup, select, textarea { margin: 0px; font: inherit; color: inherit; }
button { overflow: visible; }
button, select { text-transform: none; }
button, html input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; }
button::-moz-focus-inner, input::-moz-focus-inner { padding: 0px; border: 0px none; }
input { line-height: normal; }
* { box-sizing: border-box; }
*::before, *::after { box-sizing: border-box; }
html { font-size: 62.5%; }
body { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif; font-size: 14px; line-height: 1.42857; color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); }
input, button, select, textarea { font-family: inherit; font-size: inherit; line-height: inherit; }
a { color: rgb(66, 139, 202); text-decoration: none; }
a:hover, a:focus { color: rgb(42, 100, 150); text-decoration: underline; }
a:focus { outline: thin dotted; outline-offset: -2px; }
img { vertical-align: middle; }
.sr-only { position: absolute; width: 1px; height: 1px; padding: 0px; margin: -1px; overflow: hidden; clip: rect(0px, 0px, 0px, 0px); border: 0px none; }
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 { font-family: inherit; font-weight: 500; line-height: 1.1; color: inherit; }
h1, .h1, h2, .h2, h3, .h3 { margin-top: 20px; margin-bottom: 10px; }
h4, .h4, h5, .h5, h6, .h6 { margin-top: 10px; margin-bottom: 10px; }
h1, .h1 { font-size: 36px; }
h3, .h3 { font-size: 24px; }
h4, .h4 { font-size: 18px; }
p { margin: 0px 0px 10px; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
ul, ol { margin-top: 0px; margin-bottom: 10px; }
ul ul, ol ul, ul ol, ol ol { margin-bottom: 0px; }
blockquote footer::before, blockquote small::before, blockquote .small::before { content: "— "; }
.blockquote-reverse footer::before, blockquote.pull-right footer::before, .blockquote-reverse small::before, blockquote.pull-right small::before, .blockquote-reverse .small::before, blockquote.pull-right .small::before { content: ""; }
.blockquote-reverse footer::after, blockquote.pull-right footer::after, .blockquote-reverse small::after, blockquote.pull-right small::after, .blockquote-reverse .small::after, blockquote.pull-right .small::after { content: " —"; }
blockquote::before, blockquote::after { content: ""; }
.container { padding-right: 15px; padding-left: 15px; margin-right: auto; margin-left: auto; }
.row { margin-right: -15px; margin-left: -15px; }
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 { position: relative; min-height: 1px; padding-right: 15px; padding-left: 15px; }
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 { float: left; }
.col-xs-12 { width: 100%; }
.col-xs-10 { width: 83.3333%; }
.col-xs-6 { width: 50%; }
.col-xs-3 { width: 25%; }
.table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th { background-color: rgb(249, 249, 249); }
.form-control { display: block; width: 100%; height: 34px; padding: 6px 12px; font-size: 14px; line-height: 1.42857; color: rgb(85, 85, 85); background-color: rgb(255, 255, 255); background-image: none; border: 1px solid rgb(204, 204, 204); border-radius: 4px; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset; transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s; }
.form-control:focus { border-color: rgb(102, 175, 233); outline: 0px none; box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6); }
.form-control::-moz-placeholder { color: rgb(153, 153, 153); opacity: 1; }
.btn { display: inline-block; padding: 6px 12px; margin-bottom: 0px; font-size: 14px; font-weight: normal; line-height: 1.42857; text-align: center; white-space: nowrap; vertical-align: middle; cursor: pointer; -moz-user-select: none; background-image: none; border: 1px solid transparent; border-radius: 4px; }
.btn:focus, .btn:active:focus, .btn.active:focus { outline: thin dotted; outline-offset: -2px; }
.btn:hover, .btn:focus { color: rgb(51, 51, 51); text-decoration: none; }
.btn:active, .btn.active { background-image: none; outline: 0px none; box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.125) inset; }
.btn-primary { color: rgb(255, 255, 255); background-color: rgb(66, 139, 202); border-color: rgb(53, 126, 189); }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary { color: rgb(255, 255, 255); background-color: rgb(50, 118, 177); border-color: rgb(40, 94, 142); }
.btn-primary:active, .btn-primary.active, .open .dropdown-toggle.btn-primary { background-image: none; }
.btn-link { font-weight: normal; color: rgb(66, 139, 202); cursor: pointer; border-radius: 0px; }
.btn-link, .btn-link:active, .btn-link[disabled], fieldset[disabled] .btn-link { background-color: transparent; box-shadow: none; }
.btn-link, .btn-link:hover, .btn-link:focus, .btn-link:active { border-color: transparent; }
.btn-link:hover, .btn-link:focus { color: rgb(42, 100, 150); text-decoration: underline; background-color: transparent; }
.collapse { display: none; }
@font-face {
	font-family: "Glyphicons Halflings";
	src: url('glyphicons-halflings-regular.eot') format("embedded-opentype"), url('glyphicons-halflings-regular.woff') format("woff"), url('glyphicons-halflings-regular.ttf') format("truetype"), url('glyphicons-halflings-regular.svg') format("svg");
}
.glyphicon-asterisk::before { content: "*"; }
.glyphicon-plus::before { content: "+"; }
.glyphicon-euro::before { content: "€"; }
.glyphicon-minus::before { content: "−"; }
.glyphicon-cloud::before { content: "☁"; }
.glyphicon-envelope::before { content: "✉"; }
.glyphicon-pencil::before { content: "✏"; }
.glyphicon-glass::before { content: ""; }
.glyphicon-music::before { content: ""; }
.glyphicon-search::before { content: ""; }
.glyphicon-heart::before { content: ""; }
.glyphicon-star::before { content: ""; }
.glyphicon-star-empty::before { content: ""; }
.glyphicon-user::before { content: ""; }
.glyphicon-film::before { content: ""; }
.glyphicon-th-large::before { content: ""; }
.glyphicon-th::before { content: ""; }
.glyphicon-th-list::before { content: ""; }
.glyphicon-ok::before { content: ""; }
.glyphicon-remove::before { content: ""; }
.glyphicon-zoom-in::before { content: ""; }
.glyphicon-zoom-out::before { content: ""; }
.glyphicon-off::before { content: ""; }
.glyphicon-signal::before { content: ""; }
.glyphicon-cog::before { content: ""; }
.glyphicon-trash::before { content: ""; }
.glyphicon-home::before { content: ""; }
.glyphicon-file::before { content: ""; }
.glyphicon-time::before { content: ""; }
.glyphicon-road::before { content: ""; }
.glyphicon-download-alt::before { content: ""; }
.glyphicon-download::before { content: ""; }
.glyphicon-upload::before { content: ""; }
.glyphicon-inbox::before { content: ""; }
.glyphicon-play-circle::before { content: ""; }
.glyphicon-repeat::before { content: ""; }
.glyphicon-refresh::before { content: ""; }
.glyphicon-list-alt::before { content: ""; }
.glyphicon-lock::before { content: ""; }
.glyphicon-flag::before { content: ""; }
.glyphicon-headphones::before { content: ""; }
.glyphicon-volume-off::before { content: ""; }
.glyphicon-volume-down::before { content: ""; }
.glyphicon-volume-up::before { content: ""; }
.glyphicon-qrcode::before { content: ""; }
.glyphicon-barcode::before { content: ""; }
.glyphicon-tag::before { content: ""; }
.glyphicon-tags::before { content: ""; }
.glyphicon-book::before { content: ""; }
.glyphicon-bookmark::before { content: ""; }
.glyphicon-print::before { content: ""; }
.glyphicon-camera::before { content: ""; }
.glyphicon-font::before { content: ""; }
.glyphicon-bold::before { content: ""; }
.glyphicon-italic::before { content: ""; }
.glyphicon-text-height::before { content: ""; }
.glyphicon-text-width::before { content: ""; }
.glyphicon-align-left::before { content: ""; }
.glyphicon-align-center::before { content: ""; }
.glyphicon-align-right::before { content: ""; }
.glyphicon-align-justify::before { content: ""; }
.glyphicon-list::before { content: ""; }
.glyphicon-indent-left::before { content: ""; }
.glyphicon-indent-right::before { content: ""; }
.glyphicon-facetime-video::before { content: ""; }
.glyphicon-picture::before { content: ""; }
.glyphicon-map-marker::before { content: ""; }
.glyphicon-adjust::before { content: ""; }
.glyphicon-tint::before { content: ""; }
.glyphicon-edit::before { content: ""; }
.glyphicon-share::before { content: ""; }
.glyphicon-check::before { content: ""; }
.glyphicon-move::before { content: ""; }
.glyphicon-step-backward::before { content: ""; }
.glyphicon-fast-backward::before { content: ""; }
.glyphicon-backward::before { content: ""; }
.glyphicon-play::before { content: ""; }
.glyphicon-pause::before { content: ""; }
.glyphicon-stop::before { content: ""; }
.glyphicon-forward::before { content: ""; }
.glyphicon-fast-forward::before { content: ""; }
.glyphicon-step-forward::before { content: ""; }
.glyphicon-eject::before { content: ""; }
.glyphicon-chevron-left::before { content: ""; }
.glyphicon-chevron-right::before { content: ""; }
.glyphicon-plus-sign::before { content: ""; }
.glyphicon-minus-sign::before { content: ""; }
.glyphicon-remove-sign::before { content: ""; }
.glyphicon-ok-sign::before { content: ""; }
.glyphicon-question-sign::before { content: ""; }
.glyphicon-info-sign::before { content: ""; }
.glyphicon-screenshot::before { content: ""; }
.glyphicon-remove-circle::before { content: ""; }
.glyphicon-ok-circle::before { content: ""; }
.glyphicon-ban-circle::before { content: ""; }
.glyphicon-arrow-left::before { content: ""; }
.glyphicon-arrow-right::before { content: ""; }
.glyphicon-arrow-up::before { content: ""; }
.glyphicon-arrow-down::before { content: ""; }
.glyphicon-share-alt::before { content: ""; }
.glyphicon-resize-full::before { content: ""; }
.glyphicon-resize-small::before { content: ""; }
.glyphicon-exclamation-sign::before { content: ""; }
.glyphicon-gift::before { content: ""; }
.glyphicon-leaf::before { content: ""; }
.glyphicon-fire::before { content: ""; }
.glyphicon-eye-open::before { content: ""; }
.glyphicon-eye-close::before { content: ""; }
.glyphicon-warning-sign::before { content: ""; }
.glyphicon-plane::before { content: ""; }
.glyphicon-calendar::before { content: ""; }
.glyphicon-random::before { content: ""; }
.glyphicon-comment::before { content: ""; }
.glyphicon-magnet::before { content: ""; }
.glyphicon-chevron-up::before { content: ""; }
.glyphicon-chevron-down::before { content: ""; }
.glyphicon-retweet::before { content: ""; }
.glyphicon-shopping-cart::before { content: ""; }
.glyphicon-folder-close::before { content: ""; }
.glyphicon-folder-open::before { content: ""; }
.glyphicon-resize-vertical::before { content: ""; }
.glyphicon-resize-horizontal::before { content: ""; }
.glyphicon-hdd::before { content: ""; }
.glyphicon-bullhorn::before { content: ""; }
.glyphicon-bell::before { content: ""; }
.glyphicon-certificate::before { content: ""; }
.glyphicon-thumbs-up::before { content: ""; }
.glyphicon-thumbs-down::before { content: ""; }
.glyphicon-hand-right::before { content: ""; }
.glyphicon-hand-left::before { content: ""; }
.glyphicon-hand-up::before { content: ""; }
.glyphicon-hand-down::before { content: ""; }
.glyphicon-circle-arrow-right::before { content: ""; }
.glyphicon-circle-arrow-left::before { content: ""; }
.glyphicon-circle-arrow-up::before { content: ""; }
.glyphicon-circle-arrow-down::before { content: ""; }
.glyphicon-globe::before { content: ""; }
.glyphicon-wrench::before { content: ""; }
.glyphicon-tasks::before { content: ""; }
.glyphicon-filter::before { content: ""; }
.glyphicon-briefcase::before { content: ""; }
.glyphicon-fullscreen::before { content: ""; }
.glyphicon-dashboard::before { content: ""; }
.glyphicon-paperclip::before { content: ""; }
.glyphicon-heart-empty::before { content: ""; }
.glyphicon-link::before { content: ""; }
.glyphicon-phone::before { content: ""; }
.glyphicon-pushpin::before { content: ""; }
.glyphicon-usd::before { content: ""; }
.glyphicon-gbp::before { content: ""; }
.glyphicon-sort::before { content: ""; }
.glyphicon-sort-by-alphabet::before { content: ""; }
.glyphicon-sort-by-alphabet-alt::before { content: ""; }
.glyphicon-sort-by-order::before { content: ""; }
.glyphicon-sort-by-order-alt::before { content: ""; }
.glyphicon-sort-by-attributes::before { content: ""; }
.glyphicon-sort-by-attributes-alt::before { content: ""; }
.glyphicon-unchecked::before { content: ""; }
.glyphicon-expand::before { content: ""; }
.glyphicon-collapse-down::before { content: ""; }
.glyphicon-collapse-up::before { content: ""; }
.glyphicon-log-in::before { content: ""; }
.glyphicon-flash::before { content: ""; }
.glyphicon-log-out::before { content: ""; }
.glyphicon-new-window::before { content: ""; }
.glyphicon-record::before { content: ""; }
.glyphicon-save::before { content: ""; }
.glyphicon-open::before { content: ""; }
.glyphicon-saved::before { content: ""; }
.glyphicon-import::before { content: ""; }
.glyphicon-export::before { content: ""; }
.glyphicon-send::before { content: ""; }
.glyphicon-floppy-disk::before { content: ""; }
.glyphicon-floppy-saved::before { content: ""; }
.glyphicon-floppy-remove::before { content: ""; }
.glyphicon-floppy-save::before { content: ""; }
.glyphicon-floppy-open::before { content: ""; }
.glyphicon-credit-card::before { content: ""; }
.glyphicon-transfer::before { content: ""; }
.glyphicon-cutlery::before { content: ""; }
.glyphicon-header::before { content: ""; }
.glyphicon-compressed::before { content: ""; }
.glyphicon-earphone::before { content: ""; }
.glyphicon-phone-alt::before { content: ""; }
.glyphicon-tower::before { content: ""; }
.glyphicon-stats::before { content: ""; }
.glyphicon-sd-video::before { content: ""; }
.glyphicon-hd-video::before { content: ""; }
.glyphicon-subtitles::before { content: ""; }
.glyphicon-sound-stereo::before { content: ""; }
.glyphicon-sound-dolby::before { content: ""; }
.glyphicon-sound-5-1::before { content: ""; }
.glyphicon-sound-6-1::before { content: ""; }
.glyphicon-sound-7-1::before { content: ""; }
.glyphicon-copyright-mark::before { content: ""; }
.glyphicon-registration-mark::before { content: ""; }
.glyphicon-cloud-download::before { content: ""; }
.glyphicon-cloud-upload::before { content: ""; }
.glyphicon-tree-conifer::before { content: ""; }
.glyphicon-tree-deciduous::before { content: ""; }
.caret { display: inline-block; width: 0px; height: 0px; margin-left: 2px; vertical-align: middle; border-top: 4px solid; border-right: 4px solid transparent; border-left: 4px solid transparent; }
.dropdown-toggle:focus { outline: 0px none; }
.dropdown-menu { position: absolute; top: 100%; left: 0px; z-index: 1000; display: none; float: left; min-width: 160px; padding: 5px 0px; margin: 2px 0px 0px; font-size: 14px; list-style: outside none none; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.15); border-radius: 4px; box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176); }
.dropdown-menu > li > a { display: block; padding: 3px 20px; clear: both; font-weight: normal; line-height: 1.42857; color: rgb(51, 51, 51); white-space: nowrap; }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { color: rgb(38, 38, 38); text-decoration: none; background-color: rgb(245, 245, 245); }
.dropdown-menu-right { right: 0px; left: auto; }
.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu { top: auto; bottom: 100%; margin-bottom: 1px; }
.btn-group > .btn:not(:first-child):not(:last-child):not(.dropdown-toggle) { border-radius: 0px; }
.btn-group > .btn:first-child:not(:last-child):not(.dropdown-toggle) { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.btn-group > .btn:last-child:not(:first-child), .btn-group > .dropdown-toggle:not(:first-child) { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
.btn-group > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0px; }
.btn-group-vertical > .btn:not(:first-child):not(:last-child) { border-radius: 0px; }
.btn-group-vertical > .btn:first-child:not(:last-child) { border-top-right-radius: 4px; border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
.btn-group-vertical > .btn:last-child:not(:first-child) { border-top-left-radius: 0px; border-top-right-radius: 0px; border-bottom-left-radius: 4px; }
.btn-group-vertical > .btn-group:not(:first-child):not(:last-child) > .btn { border-radius: 0px; }
.btn-group-vertical > .btn-group:first-child:not(:last-child) > .btn:last-child, .btn-group-vertical > .btn-group:first-child:not(:last-child) > .dropdown-toggle { border-bottom-right-radius: 0px; border-bottom-left-radius: 0px; }
.btn-group-vertical > .btn-group:last-child:not(:first-child) > .btn:first-child { border-top-left-radius: 0px; border-top-right-radius: 0px; }
.input-group { position: relative; display: table; border-collapse: separate; }
.input-group .form-control { position: relative; z-index: 2; float: left; width: 100%; margin-bottom: 0px; }
.input-group-lg > .form-control, .input-group-lg > .input-group-addon, .input-group-lg > .input-group-btn > .btn { height: 46px; padding: 10px 16px; font-size: 18px; line-height: 1.33; border-radius: 6px; }
.input-group-addon, .input-group-btn, .input-group .form-control { display: table-cell; }
.input-group-addon:not(:first-child):not(:last-child), .input-group-btn:not(:first-child):not(:last-child), .input-group .form-control:not(:first-child):not(:last-child) { border-radius: 0px; }
.input-group-addon, .input-group-btn { width: 1%; white-space: nowrap; vertical-align: middle; }
.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group > .btn, .input-group-btn:first-child > .dropdown-toggle, .input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle), .input-group-btn:last-child > .btn-group:not(:last-child) > .btn { border-top-right-radius: 0px; border-bottom-right-radius: 0px; }
.input-group .form-control:last-child, .input-group-addon:last-child, .input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group > .btn, .input-group-btn:last-child > .dropdown-toggle, .input-group-btn:first-child > .btn:not(:first-child), .input-group-btn:first-child > .btn-group:not(:first-child) > .btn { border-top-left-radius: 0px; border-bottom-left-radius: 0px; }
.input-group-btn { position: relative; font-size: 0px; white-space: nowrap; }
.input-group-btn > .btn { position: relative; }
.input-group-btn > .btn:hover, .input-group-btn > .btn:focus, .input-group-btn > .btn:active { z-index: 2; }
.input-group-btn:first-child > .btn, .input-group-btn:first-child > .btn-group { margin-right: -1px; }
.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group { margin-left: -1px; }
.nav { padding-left: 0px; margin-bottom: 0px; list-style: outside none none; }
.nav > li { position: relative; display: block; }
.nav > li > a { position: relative; display: block; padding: 10px 15px; }
.nav > li > a:hover, .nav > li > a:focus { text-decoration: none; background-color: rgb(238, 238, 238); }
.nav-pills > li { float: left; }
.nav-pills > li > a { border-radius: 4px; }
.nav-pills > li + li { margin-left: 2px; }
.navbar { position: relative; min-height: 50px; margin-bottom: 20px; border: 1px solid transparent; }
.navbar-collapse { max-height: 340px; padding-right: 15px; padding-left: 15px; overflow-x: visible; border-top: 1px solid transparent; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.1) inset; }
.navbar-brand { float: left; height: 50px; padding: 15px; font-size: 18px; line-height: 20px; }
.navbar-brand:hover, .navbar-brand:focus { text-decoration: none; }
.navbar-toggle { position: relative; float: right; padding: 9px 10px; margin-top: 8px; margin-right: 15px; margin-bottom: 8px; background-color: transparent; background-image: none; border: 1px solid transparent; border-radius: 4px; }
.navbar-toggle:focus { outline: medium none; }
.navbar-default { background-color: rgb(248, 248, 248); border-color: rgb(231, 231, 231); }
.navbar-default .navbar-brand { color: rgb(119, 119, 119); }
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus { color: rgb(94, 94, 94); background-color: transparent; }
.navbar-default .navbar-toggle { border-color: rgb(221, 221, 221); }
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus { background-color: rgb(221, 221, 221); }
.navbar-default .navbar-collapse, .navbar-default .navbar-form { border-color: rgb(231, 231, 231); }
.breadcrumb > li + li::before { padding: 0px 5px; color: rgb(204, 204, 204); content: "/ "; }
@media screen and (min-width: 768px) {
}
.close { float: right; font-size: 21px; font-weight: bold; line-height: 1; color: rgb(0, 0, 0); text-shadow: 0px 1px 0px rgb(255, 255, 255); opacity: 0.2; }
.close:hover, .close:focus { color: rgb(0, 0, 0); text-decoration: none; cursor: pointer; opacity: 0.5; }
button.close { padding: 0px; cursor: pointer; background: transparent none repeat scroll 0% 0%; border: 0px none; }
.modal { position: fixed; top: 0px; right: 0px; bottom: 0px; left: 0px; z-index: 1050; display: none; overflow-x: auto; overflow-y: scroll; outline: 0px none; }
.modal-dialog { position: relative; width: auto; margin: 10px; }
.modal-content { position: relative; background-color: rgb(255, 255, 255); background-clip: padding-box; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 6px; outline: medium none; box-shadow: 0px 3px 9px rgba(0, 0, 0, 0.5); }
.modal-header { min-height: 16.4286px; padding: 15px; border-bottom: 1px solid rgb(229, 229, 229); }
.modal-header .close { margin-top: -2px; }
.modal-title { margin: 0px; line-height: 1.42857; }
.modal-body { position: relative; padding: 20px; }
.popover > .arrow, .popover > .arrow::after { position: absolute; display: block; width: 0px; height: 0px; border-color: transparent; border-style: solid; }
.popover > .arrow::after { content: ""; border-width: 10px; }
.popover.top > .arrow::after { bottom: 1px; margin-left: -10px; content: " "; border-top-color: rgb(255, 255, 255); border-bottom-width: 0px; }
.popover.right > .arrow::after { bottom: -10px; left: 1px; content: " "; border-right-color: rgb(255, 255, 255); border-left-width: 0px; }
.popover.bottom > .arrow::after { top: 1px; margin-left: -10px; content: " "; border-top-width: 0px; border-bottom-color: rgb(255, 255, 255); }
.popover.left > .arrow::after { right: 1px; bottom: -10px; content: " "; border-right-width: 0px; border-left-color: rgb(255, 255, 255); }
.carousel-control .icon-prev::before { content: "‹"; }
.carousel-control .icon-next::before { content: "›"; }
@media screen and (min-width: 768px) {
}
.clearfix::before, .clearfix::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-footer::before, .modal-footer::after { display: table; content: " "; }
.clearfix::after, .container::after, .container-fluid::after, .row::after, .form-horizontal .form-group::after, .btn-toolbar::after, .btn-group-vertical > .btn-group::after, .nav::after, .navbar::after, .navbar-header::after, .navbar-collapse::after, .pager::after, .panel-body::after, .modal-footer::after { clear: both; }
.pull-right { float: right ! important; }
.visible-xs, .visible-sm, .visible-md, .visible-lg { display: none ! important; }
/* ::::: https://realm.io/assets/css/site.css ::::: */

@font-face {
	font-family: "FontAwesome";
	font-style: normal;
	font-weight: normal;
	src: url('fontawesome-webfont.eot') format("embedded-opentype"), url('fontawesome-webfont.woff2') format("woff2"), url('fontawesome-webfont.woff') format("woff"), url('fontawesome-webfont.ttf') format("truetype"), url('fontawesome-webfont.svg') format("svg");
}
.fa { display: inline-block; font-family: FontAwesome; font-style: normal; font-weight: normal; line-height: 1; font-size-adjust: none; font-stretch: normal; font-feature-settings: normal; font-language-override: normal; font-kerning: auto; font-synthesis: weight style; font-variant: normal; font-size: inherit; text-rendering: auto; -moz-osx-font-smoothing: grayscale; transform: translate(0px, 0px); }
.fa-lg { font-size: 1.33333em; line-height: 0.75em; vertical-align: -15%; }
.pull-right { float: right; }
.fa-glass::before { content: ""; }
.fa-music::before { content: ""; }
.fa-search::before { content: ""; }
.fa-envelope-o::before { content: ""; }
.fa-heart::before { content: ""; }
.fa-star::before { content: ""; }
.fa-star-o::before { content: ""; }
.fa-user::before { content: ""; }
.fa-film::before { content: ""; }
.fa-th-large::before { content: ""; }
.fa-th::before { content: ""; }
.fa-th-list::before { content: ""; }
.fa-check::before { content: ""; }
.fa-remove::before, .fa-close::before, .fa-times::before { content: ""; }
.fa-search-plus::before { content: ""; }
.fa-search-minus::before { content: ""; }
.fa-power-off::before { content: ""; }
.fa-signal::before { content: ""; }
.fa-gear::before, .fa-cog::before { content: ""; }
.fa-trash-o::before { content: ""; }
.fa-home::before { content: ""; }
.fa-file-o::before { content: ""; }
.fa-clock-o::before { content: ""; }
.fa-road::before { content: ""; }
.fa-download::before { content: ""; }
.fa-arrow-circle-o-down::before { content: ""; }
.fa-arrow-circle-o-up::before { content: ""; }
.fa-inbox::before { content: ""; }
.fa-play-circle-o::before { content: ""; }
.fa-rotate-right::before, .fa-repeat::before { content: ""; }
.fa-refresh::before { content: ""; }
.fa-list-alt::before { content: ""; }
.fa-lock::before { content: ""; }
.fa-flag::before { content: ""; }
.fa-headphones::before { content: ""; }
.fa-volume-off::before { content: ""; }
.fa-volume-down::before { content: ""; }
.fa-volume-up::before { content: ""; }
.fa-qrcode::before { content: ""; }
.fa-barcode::before { content: ""; }
.fa-tag::before { content: ""; }
.fa-tags::before { content: ""; }
.fa-book::before { content: ""; }
.fa-bookmark::before { content: ""; }
.fa-print::before { content: ""; }
.fa-camera::before { content: ""; }
.fa-font::before { content: ""; }
.fa-bold::before { content: ""; }
.fa-italic::before { content: ""; }
.fa-text-height::before { content: ""; }
.fa-text-width::before { content: ""; }
.fa-align-left::before { content: ""; }
.fa-align-center::before { content: ""; }
.fa-align-right::before { content: ""; }
.fa-align-justify::before { content: ""; }
.fa-list::before { content: ""; }
.fa-dedent::before, .fa-outdent::before { content: ""; }
.fa-indent::before { content: ""; }
.fa-video-camera::before { content: ""; }
.fa-photo::before, .fa-image::before, .fa-picture-o::before { content: ""; }
.fa-pencil::before { content: ""; }
.fa-map-marker::before { content: ""; }
.fa-adjust::before { content: ""; }
.fa-tint::before { content: ""; }
.fa-edit::before, .fa-pencil-square-o::before { content: ""; }
.fa-share-square-o::before { content: ""; }
.fa-check-square-o::before { content: ""; }
.fa-arrows::before { content: ""; }
.fa-step-backward::before { content: ""; }
.fa-fast-backward::before { content: ""; }
.fa-backward::before { content: ""; }
.fa-play::before { content: ""; }
.fa-pause::before { content: ""; }
.fa-stop::before { content: ""; }
.fa-forward::before { content: ""; }
.fa-fast-forward::before { content: ""; }
.fa-step-forward::before { content: ""; }
.fa-eject::before { content: ""; }
.fa-chevron-left::before { content: ""; }
.fa-chevron-right::before { content: ""; }
.fa-plus-circle::before { content: ""; }
.fa-minus-circle::before { content: ""; }
.fa-times-circle::before { content: ""; }
.fa-check-circle::before { content: ""; }
.fa-question-circle::before { content: ""; }
.fa-info-circle::before { content: ""; }
.fa-crosshairs::before { content: ""; }
.fa-times-circle-o::before { content: ""; }
.fa-check-circle-o::before { content: ""; }
.fa-ban::before { content: ""; }
.fa-arrow-left::before { content: ""; }
.fa-arrow-right::before { content: ""; }
.fa-arrow-up::before { content: ""; }
.fa-arrow-down::before { content: ""; }
.fa-mail-forward::before, .fa-share::before { content: ""; }
.fa-expand::before { content: ""; }
.fa-compress::before { content: ""; }
.fa-plus::before { content: ""; }
.fa-minus::before { content: ""; }
.fa-asterisk::before { content: ""; }
.fa-exclamation-circle::before { content: ""; }
.fa-gift::before { content: ""; }
.fa-leaf::before { content: ""; }
.fa-fire::before { content: ""; }
.fa-eye::before { content: ""; }
.fa-eye-slash::before { content: ""; }
.fa-warning::before, .fa-exclamation-triangle::before { content: ""; }
.fa-plane::before { content: ""; }
.fa-calendar::before { content: ""; }
.fa-random::before { content: ""; }
.fa-comment::before { content: ""; }
.fa-magnet::before { content: ""; }
.fa-chevron-up::before { content: ""; }
.fa-chevron-down::before { content: ""; }
.fa-retweet::before { content: ""; }
.fa-shopping-cart::before { content: ""; }
.fa-folder::before { content: ""; }
.fa-folder-open::before { content: ""; }
.fa-arrows-v::before { content: ""; }
.fa-arrows-h::before { content: ""; }
.fa-bar-chart-o::before, .fa-bar-chart::before { content: ""; }
.fa-twitter-square::before { content: ""; }
.fa-facebook-square::before { content: ""; }
.fa-camera-retro::before { content: ""; }
.fa-key::before { content: ""; }
.fa-gears::before, .fa-cogs::before { content: ""; }
.fa-comments::before { content: ""; }
.fa-thumbs-o-up::before { content: ""; }
.fa-thumbs-o-down::before { content: ""; }
.fa-star-half::before { content: ""; }
.fa-heart-o::before { content: ""; }
.fa-sign-out::before { content: ""; }
.fa-linkedin-square::before { content: ""; }
.fa-thumb-tack::before { content: ""; }
.fa-external-link::before { content: ""; }
.fa-sign-in::before { content: ""; }
.fa-trophy::before { content: ""; }
.fa-github-square::before { content: ""; }
.fa-upload::before { content: ""; }
.fa-lemon-o::before { content: ""; }
.fa-phone::before { content: ""; }
.fa-square-o::before { content: ""; }
.fa-bookmark-o::before { content: ""; }
.fa-phone-square::before { content: ""; }
.fa-twitter::before { content: ""; }
.fa-facebook-f::before, .fa-facebook::before { content: ""; }
.fa-github::before { content: ""; }
.fa-unlock::before { content: ""; }
.fa-credit-card::before { content: ""; }
.fa-rss::before { content: ""; }
.fa-hdd-o::before { content: ""; }
.fa-bullhorn::before { content: ""; }
.fa-bell::before { content: ""; }
.fa-certificate::before { content: ""; }
.fa-hand-o-right::before { content: ""; }
.fa-hand-o-left::before { content: ""; }
.fa-hand-o-up::before { content: ""; }
.fa-hand-o-down::before { content: ""; }
.fa-arrow-circle-left::before { content: ""; }
.fa-arrow-circle-right::before { content: ""; }
.fa-arrow-circle-up::before { content: ""; }
.fa-arrow-circle-down::before { content: ""; }
.fa-globe::before { content: ""; }
.fa-wrench::before { content: ""; }
.fa-tasks::before { content: ""; }
.fa-filter::before { content: ""; }
.fa-briefcase::before { content: ""; }
.fa-arrows-alt::before { content: ""; }
.fa-group::before, .fa-users::before { content: ""; }
.fa-chain::before, .fa-link::before { content: ""; }
.fa-cloud::before { content: ""; }
.fa-flask::before { content: ""; }
.fa-cut::before, .fa-scissors::before { content: ""; }
.fa-copy::before, .fa-files-o::before { content: ""; }
.fa-paperclip::before { content: ""; }
.fa-save::before, .fa-floppy-o::before { content: ""; }
.fa-square::before { content: ""; }
.fa-navicon::before, .fa-reorder::before, .fa-bars::before { content: ""; }
.fa-list-ul::before { content: ""; }
.fa-list-ol::before { content: ""; }
.fa-strikethrough::before { content: ""; }
.fa-underline::before { content: ""; }
.fa-table::before { content: ""; }
.fa-magic::before { content: ""; }
.fa-truck::before { content: ""; }
.fa-pinterest::before { content: ""; }
.fa-pinterest-square::before { content: ""; }
.fa-google-plus-square::before { content: ""; }
.fa-google-plus::before { content: ""; }
.fa-money::before { content: ""; }
.fa-caret-down::before { content: ""; }
.fa-caret-up::before { content: ""; }
.fa-caret-left::before { content: ""; }
.fa-caret-right::before { content: ""; }
.fa-columns::before { content: ""; }
.fa-unsorted::before, .fa-sort::before { content: ""; }
.fa-sort-down::before, .fa-sort-desc::before { content: ""; }
.fa-sort-up::before, .fa-sort-asc::before { content: ""; }
.fa-envelope::before { content: ""; }
.fa-linkedin::before { content: ""; }
.fa-rotate-left::before, .fa-undo::before { content: ""; }
.fa-legal::before, .fa-gavel::before { content: ""; }
.fa-dashboard::before, .fa-tachometer::before { content: ""; }
.fa-comment-o::before { content: ""; }
.fa-comments-o::before { content: ""; }
.fa-flash::before, .fa-bolt::before { content: ""; }
.fa-sitemap::before { content: ""; }
.fa-umbrella::before { content: ""; }
.fa-paste::before, .fa-clipboard::before { content: ""; }
.fa-lightbulb-o::before { content: ""; }
.fa-exchange::before { content: ""; }
.fa-cloud-download::before { content: ""; }
.fa-cloud-upload::before { content: ""; }
.fa-user-md::before { content: ""; }
.fa-stethoscope::before { content: ""; }
.fa-suitcase::before { content: ""; }
.fa-bell-o::before { content: ""; }
.fa-coffee::before { content: ""; }
.fa-cutlery::before { content: ""; }
.fa-file-text-o::before { content: ""; }
.fa-building-o::before { content: ""; }
.fa-hospital-o::before { content: ""; }
.fa-ambulance::before { content: ""; }
.fa-medkit::before { content: ""; }
.fa-fighter-jet::before { content: ""; }
.fa-beer::before { content: ""; }
.fa-h-square::before { content: ""; }
.fa-plus-square::before { content: ""; }
.fa-angle-double-left::before { content: ""; }
.fa-angle-double-right::before { content: ""; }
.fa-angle-double-up::before { content: ""; }
.fa-angle-double-down::before { content: ""; }
.fa-angle-left::before { content: ""; }
.fa-angle-right::before { content: ""; }
.fa-angle-up::before { content: ""; }
.fa-angle-down::before { content: ""; }
.fa-desktop::before { content: ""; }
.fa-laptop::before { content: ""; }
.fa-tablet::before { content: ""; }
.fa-mobile-phone::before, .fa-mobile::before { content: ""; }
.fa-circle-o::before { content: ""; }
.fa-quote-left::before { content: ""; }
.fa-quote-right::before { content: ""; }
.fa-spinner::before { content: ""; }
.fa-circle::before { content: ""; }
.fa-mail-reply::before, .fa-reply::before { content: ""; }
.fa-github-alt::before { content: ""; }
.fa-folder-o::before { content: ""; }
.fa-folder-open-o::before { content: ""; }
.fa-smile-o::before { content: ""; }
.fa-frown-o::before { content: ""; }
.fa-meh-o::before { content: ""; }
.fa-gamepad::before { content: ""; }
.fa-keyboard-o::before { content: ""; }
.fa-flag-o::before { content: ""; }
.fa-flag-checkered::before { content: ""; }
.fa-terminal::before { content: ""; }
.fa-code::before { content: ""; }
.fa-mail-reply-all::before, .fa-reply-all::before { content: ""; }
.fa-star-half-empty::before, .fa-star-half-full::before, .fa-star-half-o::before { content: ""; }
.fa-location-arrow::before { content: ""; }
.fa-crop::before { content: ""; }
.fa-code-fork::before { content: ""; }
.fa-unlink::before, .fa-chain-broken::before { content: ""; }
.fa-question::before { content: ""; }
.fa-info::before { content: ""; }
.fa-exclamation::before { content: ""; }
.fa-superscript::before { content: ""; }
.fa-subscript::before { content: ""; }
.fa-eraser::before { content: ""; }
.fa-puzzle-piece::before { content: ""; }
.fa-microphone::before { content: ""; }
.fa-microphone-slash::before { content: ""; }
.fa-shield::before { content: ""; }
.fa-calendar-o::before { content: ""; }
.fa-fire-extinguisher::before { content: ""; }
.fa-rocket::before { content: ""; }
.fa-maxcdn::before { content: ""; }
.fa-chevron-circle-left::before { content: ""; }
.fa-chevron-circle-right::before { content: ""; }
.fa-chevron-circle-up::before { content: ""; }
.fa-chevron-circle-down::before { content: ""; }
.fa-html5::before { content: ""; }
.fa-css3::before { content: ""; }
.fa-anchor::before { content: ""; }
.fa-unlock-alt::before { content: ""; }
.fa-bullseye::before { content: ""; }
.fa-ellipsis-h::before { content: ""; }
.fa-ellipsis-v::before { content: ""; }
.fa-rss-square::before { content: ""; }
.fa-play-circle::before { content: ""; }
.fa-ticket::before { content: ""; }
.fa-minus-square::before { content: ""; }
.fa-minus-square-o::before { content: ""; }
.fa-level-up::before { content: ""; }
.fa-level-down::before { content: ""; }
.fa-check-square::before { content: ""; }
.fa-pencil-square::before { content: ""; }
.fa-external-link-square::before { content: ""; }
.fa-share-square::before { content: ""; }
.fa-compass::before { content: ""; }
.fa-toggle-down::before, .fa-caret-square-o-down::before { content: ""; }
.fa-toggle-up::before, .fa-caret-square-o-up::before { content: ""; }
.fa-toggle-right::before, .fa-caret-square-o-right::before { content: ""; }
.fa-euro::before, .fa-eur::before { content: ""; }
.fa-gbp::before { content: ""; }
.fa-dollar::before, .fa-usd::before { content: ""; }
.fa-rupee::before, .fa-inr::before { content: ""; }
.fa-cny::before, .fa-rmb::before, .fa-yen::before, .fa-jpy::before { content: ""; }
.fa-ruble::before, .fa-rouble::before, .fa-rub::before { content: ""; }
.fa-won::before, .fa-krw::before { content: ""; }
.fa-bitcoin::before, .fa-btc::before { content: ""; }
.fa-file::before { content: ""; }
.fa-file-text::before { content: ""; }
.fa-sort-alpha-asc::before { content: ""; }
.fa-sort-alpha-desc::before { content: ""; }
.fa-sort-amount-asc::before { content: ""; }
.fa-sort-amount-desc::before { content: ""; }
.fa-sort-numeric-asc::before { content: ""; }
.fa-sort-numeric-desc::before { content: ""; }
.fa-thumbs-up::before { content: ""; }
.fa-thumbs-down::before { content: ""; }
.fa-youtube-square::before { content: ""; }
.fa-youtube::before { content: ""; }
.fa-xing::before { content: ""; }
.fa-xing-square::before { content: ""; }
.fa-youtube-play::before { content: ""; }
.fa-dropbox::before { content: ""; }
.fa-stack-overflow::before { content: ""; }
.fa-instagram::before { content: ""; }
.fa-flickr::before { content: ""; }
.fa-adn::before { content: ""; }
.fa-bitbucket::before { content: ""; }
.fa-bitbucket-square::before { content: ""; }
.fa-tumblr::before { content: ""; }
.fa-tumblr-square::before { content: ""; }
.fa-long-arrow-down::before { content: ""; }
.fa-long-arrow-up::before { content: ""; }
.fa-long-arrow-left::before { content: ""; }
.fa-long-arrow-right::before { content: ""; }
.fa-apple::before { content: ""; }
.fa-windows::before { content: ""; }
.fa-android::before { content: ""; }
.fa-linux::before { content: ""; }
.fa-dribbble::before { content: ""; }
.fa-skype::before { content: ""; }
.fa-foursquare::before { content: ""; }
.fa-trello::before { content: ""; }
.fa-female::before { content: ""; }
.fa-male::before { content: ""; }
.fa-gittip::before, .fa-gratipay::before { content: ""; }
.fa-sun-o::before { content: ""; }
.fa-moon-o::before { content: ""; }
.fa-archive::before { content: ""; }
.fa-bug::before { content: ""; }
.fa-vk::before { content: ""; }
.fa-weibo::before { content: ""; }
.fa-renren::before { content: ""; }
.fa-pagelines::before { content: ""; }
.fa-stack-exchange::before { content: ""; }
.fa-arrow-circle-o-right::before { content: ""; }
.fa-arrow-circle-o-left::before { content: ""; }
.fa-toggle-left::before, .fa-caret-square-o-left::before { content: ""; }
.fa-dot-circle-o::before { content: ""; }
.fa-wheelchair::before { content: ""; }
.fa-vimeo-square::before { content: ""; }
.fa-turkish-lira::before, .fa-try::before { content: ""; }
.fa-plus-square-o::before { content: ""; }
.fa-space-shuttle::before { content: ""; }
.fa-slack::before { content: ""; }
.fa-envelope-square::before { content: ""; }
.fa-wordpress::before { content: ""; }
.fa-openid::before { content: ""; }
.fa-institution::before, .fa-bank::before, .fa-university::before { content: ""; }
.fa-mortar-board::before, .fa-graduation-cap::before { content: ""; }
.fa-yahoo::before { content: ""; }
.fa-google::before { content: ""; }
.fa-reddit::before { content: ""; }
.fa-reddit-square::before { content: ""; }
.fa-stumbleupon-circle::before { content: ""; }
.fa-stumbleupon::before { content: ""; }
.fa-delicious::before { content: ""; }
.fa-digg::before { content: ""; }
.fa-pied-piper::before { content: ""; }
.fa-pied-piper-alt::before { content: ""; }
.fa-drupal::before { content: ""; }
.fa-joomla::before { content: ""; }
.fa-language::before { content: ""; }
.fa-fax::before { content: ""; }
.fa-building::before { content: ""; }
.fa-child::before { content: ""; }
.fa-paw::before { content: ""; }
.fa-spoon::before { content: ""; }
.fa-cube::before { content: ""; }
.fa-cubes::before { content: ""; }
.fa-behance::before { content: ""; }
.fa-behance-square::before { content: ""; }
.fa-steam::before { content: ""; }
.fa-steam-square::before { content: ""; }
.fa-recycle::before { content: ""; }
.fa-automobile::before, .fa-car::before { content: ""; }
.fa-cab::before, .fa-taxi::before { content: ""; }
.fa-tree::before { content: ""; }
.fa-spotify::before { content: ""; }
.fa-deviantart::before { content: ""; }
.fa-soundcloud::before { content: ""; }
.fa-database::before { content: ""; }
.fa-file-pdf-o::before { content: ""; }
.fa-file-word-o::before { content: ""; }
.fa-file-excel-o::before { content: ""; }
.fa-file-powerpoint-o::before { content: ""; }
.fa-file-photo-o::before, .fa-file-picture-o::before, .fa-file-image-o::before { content: ""; }
.fa-file-zip-o::before, .fa-file-archive-o::before { content: ""; }
.fa-file-sound-o::before, .fa-file-audio-o::before { content: ""; }
.fa-file-movie-o::before, .fa-file-video-o::before { content: ""; }
.fa-file-code-o::before { content: ""; }
.fa-vine::before { content: ""; }
.fa-codepen::before { content: ""; }
.fa-jsfiddle::before { content: ""; }
.fa-life-bouy::before, .fa-life-buoy::before, .fa-life-saver::before, .fa-support::before, .fa-life-ring::before { content: ""; }
.fa-circle-o-notch::before { content: ""; }
.fa-ra::before, .fa-rebel::before { content: ""; }
.fa-ge::before, .fa-empire::before { content: ""; }
.fa-git-square::before { content: ""; }
.fa-git::before { content: ""; }
.fa-hacker-news::before { content: ""; }
.fa-tencent-weibo::before { content: ""; }
.fa-qq::before { content: ""; }
.fa-wechat::before, .fa-weixin::before { content: ""; }
.fa-send::before, .fa-paper-plane::before { content: ""; }
.fa-send-o::before, .fa-paper-plane-o::before { content: ""; }
.fa-history::before { content: ""; }
.fa-genderless::before, .fa-circle-thin::before { content: ""; }
.fa-header::before { content: ""; }
.fa-paragraph::before { content: ""; }
.fa-sliders::before { content: ""; }
.fa-share-alt::before { content: ""; }
.fa-share-alt-square::before { content: ""; }
.fa-bomb::before { content: ""; }
.fa-soccer-ball-o::before, .fa-futbol-o::before { content: ""; }
.fa-tty::before { content: ""; }
.fa-binoculars::before { content: ""; }
.fa-plug::before { content: ""; }
.fa-slideshare::before { content: ""; }
.fa-twitch::before { content: ""; }
.fa-yelp::before { content: ""; }
.fa-newspaper-o::before { content: ""; }
.fa-wifi::before { content: ""; }
.fa-calculator::before { content: ""; }
.fa-paypal::before { content: ""; }
.fa-google-wallet::before { content: ""; }
.fa-cc-visa::before { content: ""; }
.fa-cc-mastercard::before { content: ""; }
.fa-cc-discover::before { content: ""; }
.fa-cc-amex::before { content: ""; }
.fa-cc-paypal::before { content: ""; }
.fa-cc-stripe::before { content: ""; }
.fa-bell-slash::before { content: ""; }
.fa-bell-slash-o::before { content: ""; }
.fa-trash::before { content: ""; }
.fa-copyright::before { content: ""; }
.fa-at::before { content: ""; }
.fa-eyedropper::before { content: ""; }
.fa-paint-brush::before { content: ""; }
.fa-birthday-cake::before { content: ""; }
.fa-area-chart::before { content: ""; }
.fa-pie-chart::before { content: ""; }
.fa-line-chart::before { content: ""; }
.fa-lastfm::before { content: ""; }
.fa-lastfm-square::before { content: ""; }
.fa-toggle-off::before { content: ""; }
.fa-toggle-on::before { content: ""; }
.fa-bicycle::before { content: ""; }
.fa-bus::before { content: ""; }
.fa-ioxhost::before { content: ""; }
.fa-angellist::before { content: ""; }
.fa-cc::before { content: ""; }
.fa-shekel::before, .fa-sheqel::before, .fa-ils::before { content: ""; }
.fa-meanpath::before { content: ""; }
.fa-buysellads::before { content: ""; }
.fa-connectdevelop::before { content: ""; }
.fa-dashcube::before { content: ""; }
.fa-forumbee::before { content: ""; }
.fa-leanpub::before { content: ""; }
.fa-sellsy::before { content: ""; }
.fa-shirtsinbulk::before { content: ""; }
.fa-simplybuilt::before { content: ""; }
.fa-skyatlas::before { content: ""; }
.fa-cart-plus::before { content: ""; }
.fa-cart-arrow-down::before { content: ""; }
.fa-diamond::before { content: ""; }
.fa-ship::before { content: ""; }
.fa-user-secret::before { content: ""; }
.fa-motorcycle::before { content: ""; }
.fa-street-view::before { content: ""; }
.fa-heartbeat::before { content: ""; }
.fa-venus::before { content: ""; }
.fa-mars::before { content: ""; }
.fa-mercury::before { content: ""; }
.fa-transgender::before { content: ""; }
.fa-transgender-alt::before { content: ""; }
.fa-venus-double::before { content: ""; }
.fa-mars-double::before { content: ""; }
.fa-venus-mars::before { content: ""; }
.fa-mars-stroke::before { content: ""; }
.fa-mars-stroke-v::before { content: ""; }
.fa-mars-stroke-h::before { content: ""; }
.fa-neuter::before { content: ""; }
.fa-facebook-official::before { content: ""; }
.fa-pinterest-p::before { content: ""; }
.fa-whatsapp::before { content: ""; }
.fa-server::before { content: ""; }
.fa-user-plus::before { content: ""; }
.fa-user-times::before { content: ""; }
.fa-hotel::before, .fa-bed::before { content: ""; }
.fa-viacoin::before { content: ""; }
.fa-train::before { content: ""; }
.fa-subway::before { content: ""; }
.fa-medium::before { content: ""; }
@font-face {
	font-family: "Realm";
	font-style: normal;
	font-weight: normal;
	src: url('realm.eot') format("embedded-opentype"), url('realm.woff') format("woff"), url('realm.ttf') format("truetype"), url('realm.svg') format("svg");
}
.fa-hatena::before { content: ""; }
.fa-pocket::before { content: ""; }
* { box-sizing: border-box; }
header, footer, nav, section, article, hgroup, figure { display: block; }
a { color: rgb(44, 138, 247); text-decoration: none; cursor: pointer; outline: 0px none; overflow-wrap: break-word; }
a:hover, a:focus { color: rgb(44, 138, 247); text-decoration: underline; }
a:link, a:visited, a:active { color: rgb(44, 138, 247); }
a.btn:link, a.btn:visited, a.btn:hover, a.btn:active { color: rgb(255, 255, 255); text-decoration: none; }
a[href^="https://twitter.com/home?status"]:hover::after, a[href^="http://twitter.com/home?status"]:hover::after { text-decoration: none; }
a[href^="https://twitter.com/home?status"]::after, a[href^="http://twitter.com/home?status"]::after { font-family: FontAwesome; font-style: normal; content: ""; display: inline-block; padding-left: 0.13em; vertical-align: -0.12em; }
a.link-arrow::after, a.link-arrow:link::after, a.link-arrow:visited::after, a.link-arrow:active::after { content: ""; background-image: url('general_link_arrow.svg'); padding: 0px 0px 0px 12px; height: 100%; background-repeat: no-repeat; background-size: 7px auto; background-position: right center; transition: all 0.2s ease 0s; }
a.link-arrow:hover::after, a.link-arrow:link:hover::after, a.link-arrow:visited:hover::after, a.link-arrow:active:hover::after { padding: 0px 0px 0px 15px; }
main { margin: 50px 0px; width: 100%; }
.nav_transparent main { margin: 0px 0px 50px; }
.flex, .card.flex { padding: 0px; margin: 0px; list-style: outside none none; display: flex; }
.flex.column { flex-direction: column; }
.flex.center { align-items: center; justify-content: center; }
img, video, object { max-width: 100%; height: auto; }
img { -moz-user-select: none; pointer-events: none; }
button, input, select, textarea { font-family: inherit; font-size: 100%; margin: 0px 1px; }
input, textarea, .form-control { width: 100%; border: 2px solid rgb(235, 235, 242); border-radius: 6px; box-shadow: none; padding: 4px 10px; height: 40px; font-weight: 400; font-size: 13px; }
input:focus, textarea:focus, .form-control:focus { border-color: rgb(67, 84, 151); outline: 0px none; box-shadow: none ! important; }
button, input[type="submit"] { cursor: pointer; }
.order-0 { animation-delay: 0s; }
.order-2 { animation-delay: 0.5s; }
.fadeInUp { animation: 0.35s ease 0s normal none 1 running fadeInUp; }
html { font-size: 100%; }
body { font-family: "Realm","Lato",Helvetica,Arial,sans-serif; font-feature-settings: "liga", "kern"; -moz-osx-font-smoothing: grayscale; color: rgb(28, 35, 63); line-height: 1.5; font-size: 18px; }
*::-moz-selection { background: rgb(235, 235, 242) none repeat scroll 0% 0%; color: rgb(28, 35, 63); }
h2::before, h3::before, h4::before { padding-top: 70px; margin-top: -70px; display: block; content: " "; position: relative; visibility: hidden; }
.centered, .center { text-align: center; }
p { font-size: 18px; font-weight: 500; line-height: 1.6; margin-bottom: 0px; }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 { font-family: inherit; color: rgb(28, 35, 63); font-weight: 500; }
h1 { font-size: 64px; font-weight: 500; }
h3 { font-size: 36px; font-weight: 500; }
h4 { font-size: 28px; font-weight: 500; }
p, h1, h2, h3, h4, h5, h6, ul.list { margin-bottom: 20px; }
.sub-bar p, li h4, li h5, li h6 { margin-bottom: 0px; }
@media screen and (max-width: 768px) {
	h1, h2, h3 { line-height: 1.25; }
	h1 { font-size: 42px; }
	h3 { font-size: 24px; }
}
.navbar { position: fixed; top: 0px; z-index: 100; width: 100%; color: rgb(89, 86, 158); background-color: rgb(255, 255, 255); border-width: 0px 0px 1px; border-style: none none solid; border-color: -moz-use-text-color -moz-use-text-color rgb(235, 235, 242); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; font-weight: 500; transition: all 0.3s ease 0s; }
.navbar .navbar-toggle { border: medium none; background: transparent none repeat scroll 0% 0% ! important; margin: 0px; padding: 13px 20px 8px; }
.navbar .nav-pills li a.dropdown-toggle { padding: 10px; }
.navbar .nav-pills li a, .navbar .nav-pills li .navbar-toggle { color: rgb(89, 86, 158); }
.navbar .nav-pills li a:hover, .navbar .nav-pills li a:focus, .navbar .nav-pills li a:active, .navbar .nav-pills li .navbar-toggle:hover, .navbar .nav-pills li .navbar-toggle:focus, .navbar .nav-pills li .navbar-toggle:active { color: rgb(28, 35, 63); background: transparent none repeat scroll 0% 0% ! important; }
.navbar .nav-pills li a:hover .caret, .navbar .nav-pills li a:focus .caret, .navbar .nav-pills li a:active .caret, .navbar .nav-pills li .navbar-toggle:hover .caret, .navbar .nav-pills li .navbar-toggle:focus .caret, .navbar .nav-pills li .navbar-toggle:active .caret { opacity: 1; transition: all 0.3s ease 0s; }
.navbar .navbar-brand { height: 40px; }
.navbar .navbar-brand img { width: 80px; margin: -3px 0px; }
.navbar .caret { border-color: transparent; background: transparent url('general_link_arrow_indigo.svg') no-repeat scroll center center / 7px auto; width: 10px; margin-left: 6px; opacity: 0.5; height: 14px; transform: rotate(90deg); }
.navbar .top-banner { margin: 0px; display: none; color: rgb(28, 35, 63); left: 0px; font-style: italic; text-decoration: none ! important; width: 100%; }
.navbar .top-banner .success { background: rgb(255, 255, 255) none repeat scroll 0% 0%; padding: 10px 0.75em; }
.navbar.transparent { position: fixed; background: transparent none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-bottom: medium none; }
.navbar.transparent .caret { border-color: transparent; background: transparent url('general_link_arrow_white.svg') no-repeat scroll center center / 7px auto; width: 10px; margin-left: 6px; opacity: 0.5; height: 14px; transform: rotate(90deg); }
.navbar.transparent .nav-pills li a, .navbar.transparent .nav-pills li .navbar-toggle { color: rgb(255, 255, 255); }
.navbar.transparent .nav-pills li a:hover, .navbar.transparent .nav-pills li a:focus, .navbar.transparent .nav-pills li a:active, .navbar.transparent .nav-pills li .navbar-toggle:hover, .navbar.transparent .nav-pills li .navbar-toggle:focus, .navbar.transparent .nav-pills li .navbar-toggle:active { color: rgb(255, 255, 255); background: transparent none repeat scroll 0% 0% ! important; }
.navbar.transparent .nav-pills li .dropdown-menu a, .navbar.transparent .nav-pills li .dropdown-menu { color: rgb(89, 86, 158); background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.dropdown-menu { border-color: rgb(235, 235, 242); margin: 5px 0px 0px; box-shadow: none; }
.dropdown-menu li > a { padding: 7px 20px; font-size: 1rem; }
.nav.fullscreen h4 { font-size: 2rem; color: rgb(255, 255, 255); padding: 50px 0px; line-height: 4rem; margin: 5px 0px; }
.nav.fullscreen h4::before { padding-top: 0px; margin-top: 0px; }
.nav.fullscreen .modal-dialog { margin: 0px; width: 100%; min-height: 100%; padding: 0px; color: rgb(255, 255, 255); }
.nav.fullscreen .modal-content { height: 100%; min-height: 100%; border-radius: 0px; color: rgb(255, 255, 255); background: rgb(28, 35, 63) none repeat scroll 0% 0%; overflow: auto; }
.nav.fullscreen .modal-header .navbar-brand { padding-left: 0px; }
.nav.fullscreen .modal-header .close { opacity: 1; float: right; margin: 0px 15px 0px 0px; }
.nav.fullscreen .modal-body ul { padding: 10px 0px 0px; margin: 0px; background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%; }
.nav.fullscreen .modal-body li { padding: 10px 0px; list-style: outside none none; color: rgba(255, 255, 255, 0.75); }
.nav.fullscreen .modal-body a { color: rgb(255, 255, 255); font-size: 1.5rem; line-height: 2.5rem; }
.modal { text-align: center; }
@media screen and (min-width: 768px) {
	.modal::before { display: inline-block; vertical-align: middle; content: " "; height: 100%; }
}
.modal-dialog { display: inline-block; text-align: left; vertical-align: middle; opacity: 0; }
.modal-dialog .modal-header .fa-close { float: right; }
footer { left: 0px; bottom: 0px; width: 100%; color: rgb(255, 255, 255); border: medium none; }
footer .grid { padding: 2rem; font-size: 14px; background: rgb(28, 35, 63) none repeat scroll 0% 0%; }
footer .grid ul { align-items: baseline; padding-left: 0px; }
footer .footer-header { margin-bottom: 10px; }
footer .realm-inc { text-decoration: none; font-size: 12px; margin: 10px 0px; }
footer .realm-inc a { text-decoration: none; }
footer .realm-inc a:hover { color: rgb(255, 255, 255); }
footer p { margin: 0px; }
footer .subscribe-subtext { color: rgb(255, 255, 255); }
footer .footer-links > li > a { border-radius: 6px; text-decoration: none; transition: all 0.2s ease 0s; }
footer .footer-links > li > a:hover { color: rgb(255, 255, 255); text-decoration: none; }
footer .footer-links a { color: rgb(255, 255, 255); }
footer .footer-links .light-text a, footer .footer-links li.light-text { color: rgba(255, 255, 255, 0.5); }
footer .footer-links li.social { margin: 15px 0px; list-style: outside none none; }
footer .footer-links.social > li > a { margin: 0px 5px; opacity: 0.5; }
footer .footer-links.social > li > a:hover { opacity: 1; }
footer .email-container { margin: 5px 0px; }
footer .email-container .input-group .form-control { color: rgb(255, 255, 255); background: rgb(20, 26, 47) none repeat scroll 0% 0%; border-color: rgb(51, 57, 82); }
footer .email-container .input-group .form-control:hover, footer .email-container .input-group .form-control:active, footer .email-container .input-group .form-control:focus { background: rgb(20, 26, 47) none repeat scroll 0% 0%; border-color: rgb(255, 255, 255); }
footer .email-container .btn.btn-primary.btn-subscribe { background: rgb(20, 26, 47) none repeat scroll 0% 0%; border-color: rgb(51, 57, 82) rgb(51, 57, 82) rgb(51, 57, 82) -moz-use-text-color; border-left: medium none; color: rgb(255, 255, 255); }
footer .email-container .btn.btn-primary.btn-subscribe:hover, footer .email-container .btn.btn-primary.btn-subscribe:active, footer .email-container .btn.btn-primary.btn-subscribe:focus { background: rgb(88, 97, 136) none repeat scroll 0% 0%; border-color: rgb(88, 97, 136); }
footer .realm-inc { color: rgba(255, 255, 255, 0.25); }
footer .realm-inc a { color: rgba(255, 255, 255, 0.25); }
footer .sub-bar.indigo { background: rgb(28, 35, 63) none repeat scroll 0% 0%; color: rgb(255, 255, 255); border-bottom: 1px solid rgba(28, 35, 63, 0.1); }
.icon-play-box::before { padding: 0.25em; background: rgb(154, 155, 165) none repeat scroll 0% 0%; color: rgb(255, 255, 255); margin-left: -1.7rem; margin-right: 0.5em; }
.slick-track::before, .slick-track::after { content: ""; display: table; }
.slick-track::after { clear: both; }
.slick-track::before, .slick-track::after { content: ""; display: table; }
.slick-track::after { clear: both; }
.slides::after, .slides::before { position: absolute; content: " "; height: 100%; width: 20%; top: 0px; z-index: 10; }
.slides::after { right: 0px; background: transparent linear-gradient(90deg, rgba(255, 255, 255, 0), rgb(255, 255, 255)) repeat scroll 0% 0%; }
.slides::before { left: 0px; background: transparent linear-gradient(-90deg, rgba(255, 255, 255, 0), rgb(255, 255, 255)) repeat scroll 0% 0%; }
#tweets-slider-wrap .slick-next::before, #tweets-slider-wrap .slick-prev::before { content: " " ! important; }
.charcoal.slider .slides::after { right: 0px; }
.charcoal.slider .slides::before { left: 0px; background-size: 100% auto; }
.slick-next::before, .slick-prev::before { font-family: "Open Sans"; font-size: 35px; color: rgb(158, 158, 158); }
.jobs.slider .slides::after, .jobs.slider .slides::before { background: transparent none repeat scroll 0px 0px; }
.center_block_wave, .block_code_wave, .block_nascar { padding: 0px; }
.center_block_wave svg, .block_code_wave svg, .block_nascar svg { width: 100%; margin: 0px 0px -12px; height: auto; }
.block_code_wave, .block_nascar { transform: translate(0px, -100%); margin-bottom: -100%; left: 0px; }
.btn { -moz-user-select: none; text-decoration: none; cursor: pointer; border: medium none; border-radius: 6px; box-shadow: none; position: relative; padding: 10px 15px; display: inline-block; text-align: center; white-space: nowrap; margin: 0px; }
.btn::after { position: absolute; content: ""; top: 0px; right: 0px; bottom: 0px; left: 0px; border-radius: 6px; }
.btn.active, .btn:active { color: rgb(255, 255, 255); }
.btn.active::after, .btn:active::after, .btn:hover::after { box-shadow: 0px -2px 1px rgba(0, 0, 0, 0.2) inset; }
.btn-primary { color: rgb(255, 255, 255); background: rgb(242, 81, 146) none repeat scroll 0% 0%; border-color: rgb(242, 81, 146); }
.btn-primary:hover, .btn-primary:focus { background: rgb(242, 81, 146) none repeat scroll 0% 0%; border-color: rgb(242, 81, 146); color: rgb(255, 255, 255); }
.btn-download .fa::before { padding-right: 12px; }
.btn.btn-outline, a.btn.btn-outline:link, a.btn.btn-outline:visited, a.btn.btn-outline:hover, a.btn.btn-outline:active { background: transparent none repeat scroll 0% 0%; color: rgb(89, 86, 158); text-shadow: none; box-shadow: 0px 0px 0px 2px rgb(235, 235, 242) inset; }
.btn.btn-outline:hover, .btn.btn-outline:focus, .btn.btn-outline:active, a.btn.btn-outline:link:hover, a.btn.btn-outline:link:focus, a.btn.btn-outline:link:active, a.btn.btn-outline:visited:hover, a.btn.btn-outline:visited:focus, a.btn.btn-outline:visited:active, a.btn.btn-outline:hover:hover, a.btn.btn-outline:hover:focus, a.btn.btn-outline:hover:active, a.btn.btn-outline:active:hover, a.btn.btn-outline:active:focus, a.btn.btn-outline:active:active { color: rgb(89, 86, 158); background: rgba(255, 255, 255, 0.05) none repeat scroll 0% 0%; box-shadow: 0px 0px 0px 2px rgb(89, 86, 158) inset; border-color: transparent; }
.btn.btn-outline:hover::after { box-shadow: none; }
.btn-large { padding: 10px 40px; font-size: 1.25rem; }
.iphone-body::after { content: ""; background: rgb(28, 35, 63) none repeat scroll 0% 0%; height: 500px; width: 290px; border-radius: 5px; }
.sub-bar { padding: 2rem 5rem; width: 100%; background: rgba(28, 35, 63, 0.05) none repeat scroll 0% 0%; color: rgb(89, 86, 158); }
.sub-bar .text-right { margin: 0px 0px 0px 2em; }
.sub-bar form .input-group button.btn-subscribe.btn-primary::after { border-radius: 0px 6px 6px 0px; }
.sub-bar.indigo { background: rgb(89, 86, 158) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.sub-bar.indigo .btn { background: rgb(242, 81, 146) none repeat scroll 0% 0%; }
.email-container .input-group-btn:last-child > .btn, .email-container .input-group-btn:last-child > .btn-group { margin-left: 1px; }
.email-container .input-group { transition: all 0.3s ease 0s; }
.email-container .input-group .form-control { border-radius: 6px 0px 0px 6px; }
.email-container .input-group .form-control:hover, .email-container .input-group .form-control:focus, .email-container .input-group .form-control:active { border-color: rgb(235, 235, 242); }
.email-container .input-group .btn, .email-container .input-group .btn-primary.btn { background: transparent none repeat scroll 0% 0%; color: rgb(89, 86, 158); border: 2px solid rgb(235, 235, 242); border-radius: 0px 6px 6px 0px; }
.email-container .input-group .btn:hover, .email-container .input-group .btn-primary.btn:hover { border-color: rgb(89, 86, 158); }
.email-container .input-group .btn::after, .email-container .input-group .btn-primary.btn::after { box-shadow: none; }
footer .email-container .form-control { color: rgb(255, 255, 255) ! important; }
.gallery { padding: 15px; }
.gallery .cover { height: 100%; width: 100%; border: 0px none; background: rgb(235, 235, 242) none repeat scroll 0% 0%; }
.gallery .featured { overflow: hidden; border-radius: 6px; border: 1px solid rgb(235, 235, 242); margin: 5px; background-position: center center; background-size: cover; padding: 0px; }
.related-articles .gallery { padding: 0px; }
.related-articles .gallery .featured { transition: all 0.3s ease 0s; }
.related-articles .gallery .featured:hover { border-color: rgb(218, 218, 218); transform: translate(0px, -5px); box-shadow: 0px 10px 15px rgb(210, 210, 210); }
.related-articles .gallery .article .excerpt a:nth-child(2) { margin-left: 5px; }
.dropdown-menu > li > a { color: rgb(154, 155, 165); text-decoration: none; background-color: rgb(255, 255, 255); }
.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus { transition: all 0.3s ease 0s; color: rgb(28, 35, 63); background: rgb(251, 251, 251) none repeat scroll 0% 0%; }
section { padding: 0px 0px 2.5em; }
@font-face {
	font-family: "Realm";
	font-style: normal;
	font-weight: 300;
	src: url('realm_lt.woff') format("woff");
}
@font-face {
	font-family: "Realm";
	font-style: normal;
	font-weight: 700;
	src: url('realm_md.woff') format("woff");
}
@font-face {
	font-family: "Realm";
	font-style: normal;
	font-weight: 500;
	src: url('realm_001.woff') format("woff");
}
.email-container.white-placeholder *::-moz-placeholder { color: rgba(255, 255, 255, 0.5); }
.email-container.white-placeholder :-moz-placeholder { color: rgba(255, 255, 255, 0.5); }
.form-control:focus { outline: medium none; box-shadow: 0px 0px 0px 1px rgb(28, 35, 63) inset; }
.anchor-padding::before { padding-top: 130px; margin-top: -130px; }
.center { text-align: center; }
/* ::::: https://realm.io/assets/css/pages/advent.css ::::: */

section.advent ul { margin: 0px auto 30px; padding: 0px; list-style-type: none; max-width: 900px; width: 100%; text-align: center; -moz-user-select: none; }
section.advent li { font-weight: 400; background-color: rgb(245, 245, 245); box-sizing: border-box; border-radius: 6px; display: inline-flex; flex-direction: column; justify-content: center; color: rgb(28, 35, 63); cursor: pointer; font-size: 20px; padding: 10px; margin: 25px 12px; width: 130px; height: 130px; line-height: 100px; text-align: center; position: relative; vertical-align: top; -moz-user-select: none; perspective: 800px; transition: all 0.35s cubic-bezier(0.54, 1.85, 0.5, 1) 0s; }
section.advent ul li:last-child { background: transparent url('santa.jpg') repeat scroll center top / cover ; display: block; clear: both; margin: 20px auto 0px; width: 200px; height: 275px; }
section.advent ul li:last-child .door { font-size: 100px; width: 200px; height: 275px; line-height: 240px; }
section.advent ul li:last-child .revealed { line-height: 123px; }
section.advent .door { -moz-user-select: none; color: rgb(255, 255, 255); font-size: 70px; position: absolute; top: 0px; left: 0px; background-color: rgb(28, 35, 63); box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15); border-radius: 6px; padding: 15px; width: 130px; height: 130px; transform-origin: 0px 40% 0px; transition: all 0.35s cubic-bezier(0.54, 1.85, 0.5, 1) 0s; transform-style: preserve-3d; }
section.advent li:nth-child(7n) .door { background-color: rgb(242, 81, 146); }
section.advent li:nth-child(7n+1) .door { background-color: rgb(57, 71, 127); }
section.advent li:nth-child(7n+2) .door { background-color: rgb(154, 155, 165); }
section.advent li:nth-child(7n+3) .door { background-color: rgb(154, 80, 165); }
section.advent li:nth-child(7n+4) .door { background-color: rgb(211, 76, 163); }
section.advent li:nth-child(7n+5) .door { background-color: rgb(28, 35, 63); }
section.advent li:nth-child(7n+6) .door { background-color: rgb(89, 86, 158); }
section.advent .open { box-shadow: 14px 0px 15px -1px rgba(0, 0, 0, 0.2); color: rgb(255, 255, 255); transform: rotate3d(0, 1, 0, -98deg); }
section.advent .jiggle { animation: 0.2s ease 0s normal none infinite running jiggle; transform: rotate(-1deg); }
@media screen and (min-width: 480px) {
	section.advent li { margin: 25px 20px; }
}
@media screen and (min-width: 768px) {
}
.revealed { line-height: 1.6; }
/* ::::: https://realm.io/assets/css/pages/post.css ::::: */

#social_bar { background: white none repeat scroll 0% 0%; position: fixed; bottom: 0px; padding: 10px 0px; z-index: 500; border-top: 1px solid rgb(235, 235, 242); }
#social_bar .email-subscribe .home-newsletter-subtext { display: none; }
#social_bar form { margin: 0px; }
#social_bar .share-count { margin: 0px 10px 0px 15px; background: rgb(245, 245, 245) none repeat scroll 0% 0%; padding: 0px 5px; border-radius: 6px; }
#social_bar .share-buttons .dropdown-toggle { padding: 5px; border-radius: 4px; }
#social_bar .share-buttons .share-button-group { list-style: outside none none; padding: 0px; }
#social_bar .share-buttons .share-button-group a { padding: 0px 5px; }
#social_bar .share-buttons .share-button-group a:hover { text-decoration: none; }
#social_bar .share-buttons .share-button-group a i { color: rgb(154, 155, 165); }
#social_bar .share-buttons .share-button-group a i.fa-facebook:hover { color: rgb(51, 87, 149); }
#social_bar .share-buttons .share-button-group a i.fa-twitter:hover { color: rgb(64, 153, 255); }
#social_bar .share-buttons .share-button-group a i.fa-google-plus:hover { color: rgb(221, 75, 57); }
#social_bar .share-buttons .share-button-group a i.fa-hacker-news:hover { color: rgb(255, 102, 0); }
#social_bar .share-buttons .share-button-group a i.fa-reddit:hover { color: rgb(153, 190, 235); }
#social_bar .share-buttons .share-button-group a i.fa-linkedin:hover { color: rgb(0, 119, 181); }
#social_bar .share-buttons .share-button-group a i.fa-envelope:hover { color: rgb(28, 35, 63); }
#social_bar .share-buttons .share-button-group > li { display: inline-block; margin: 0px 4px; position: relative; }
nav.navtop { display: none; }
main { margin-top: 0px; }
.block_code_wave, .block_nascar { z-index: 5; }
a img { display: block; }
.post-header { min-height: 35rem; height: 50vh; transition: all 0.3s ease-in 0s; background: rgb(89, 86, 158) none repeat scroll 0% 0%; border-bottom: medium none; overflow: hidden; padding: 35px 0px; position: relative; }
.post-header > div, .post-header > a { z-index: 3; }
.post-header::after { bottom: 0px; z-index: 1; background: transparent linear-gradient(transparent, rgb(89, 86, 158)) repeat scroll 0% 0%; min-height: 30rem; height: 100vh; width: 100vw; position: absolute; content: ""; }
.post-header .article-date { font-size: 1rem; color: rgba(255, 255, 255, 0.5); }
.post-header .meta { z-index: 5; color: rgba(255, 255, 255, 0.5); margin: 0.5em 0px 0px; }
.post-header .meta a.twitter-handle { color: rgb(255, 255, 255); text-decoration: underline; opacity: 0.5; }
.post-header .meta a.twitter-handle:hover { opacity: 1; }
.post-header .meta .meta-info { font-size: 1rem; color: rgba(255, 255, 255, 0.5); }
.post-header h1.title { margin: 0px 0px 0.375rem; text-align: center; font-weight: 500; color: rgb(255, 255, 255); font-size: 64px; z-index: 10; }
.news-headline::before { padding: 0px; margin: 0px; }
.related-articles { margin-bottom: 75px; overflow: hidden; }
.related-articles .news-button a { margin: 15px auto; }
.related-articles .featured .cover { margin: 0px; }
.post .cover { margin-bottom: 1.5em; }
.news .post { padding: 2em 0px; }
#author-block { border: 2px solid rgb(235, 235, 242); border-radius: 6px; margin: 25px 0px; }
#author-block h4, #author-block p { color: rgb(28, 35, 63); }
#author-block img.avatar { height: 7rem; width: 7rem; border-radius: 50%; margin: 2rem 1rem; border: 1px solid rgb(235, 235, 242); }
#author-block .info { padding: 1rem; }
canvas { width: 100%; height: 50px; vertical-align: top; }
@media only screen and (max-width: 640px) {
	canvas { height: 30px; }
}
