/* ::::: https://translatorconsumer.trafficmanager.net/wp-content/plugins/weglot/resources/wp-weglot-css.css?ver=1.4.2 ::::: */

.country-selector { z-index: 9999; text-align: left; position: relative; display: inline-block; width: auto; }
.wg-drop.country-selector { background-color: white; }
.country-selector a { padding: 0px 10px; outline: medium none; text-decoration: none; float: none ! important; }
.country-selector a:focus { outline: medium none; }
.wg-drop.country-selector a { display: block; height: 37px; line-height: 36px; color: black; font-size: 13px; padding: 0px 10px; }
.wg-drop.country-selector :not(.wgcurrent) a { width: 100%; box-sizing: border-box; }
.wg-drop.country-selector .wgcurrent a { padding-right: 40px; }
.country-selector ul { padding: 0px; z-index: 1010; list-style: outside none none; margin: 0px; }
.wg-drop.country-selector .wgcurrent { border: 1px solid rgb(224, 224, 224); list-style: outside none none; }
.wg-drop.country-selector ul { position: absolute; width: 100%; border: 1px solid rgb(235, 238, 240); background: white none repeat scroll 0% 0%; left: 0px; top: initial; box-sizing: border-box; }
.wg-drop.country-selector:not(.closed) ul { display: block; background-color: white; }
.country-selector li { margin: 0px; padding: 0px; }
.wg-drop.country-selector li { width: 100%; }
.wg-drop.country-selector .wgcurrent::after { display: inline-block; position: absolute; top: 17px; right: 8px; width: 13px; height: 7px; background-image: url('wgarrowdown.png'); background-repeat: no-repeat; content: ""; transition: all 200ms ease 0s; }
.wg-drop.country-selector.closed ul { display: none; }
.wg-drop.country-selector.closed .wgcurrent::after { transform: rotate(-90deg); }
.wg-drop.weg-openup .wgcurrent::after { transform: rotate(-180deg); }
.wg-drop.country-selector:not(.closed) a:hover { color: rgb(27, 160, 227); }
.wg-flags a::before { content: ""; vertical-align: middle; margin-right: 10px; margin-top: -1px; display: inline-block; overflow: hidden; }
.wg-flags a::before { background: transparent url('rect_mate_flags_comp.png') repeat scroll 0% 0%; border-radius: 5px; width: 32px; height: 21px; }
.wg-li.sq a::before { background-position: -5056px 0px; }
.wg-li.en a::before { background-position: -7136px 0px; }
.wg-li.ar a::before { background-position: -5504px 0px; }
.wg-li.hy a::before { background-position: -4448px 0px; }
.wg-li.az a::before { background-position: -384px 0px; }
.wg-li.af a::before { background-position: -6560px 0px; }
.wg-li.eu a::before { background-position: -7264px 0px; }
.wg-li.be a::before { background-position: -5344px 0px; }
.wg-li.bg a::before { background-position: -5760px 0px; }
.wg-li.bs a::before { background-position: -4896px 0px; }
.wg-li.vi a::before { background-position: -2656px 0px; }
.wg-li.hu a::before { background-position: -5696px 0px; }
.wg-li.ht a::before { background-position: -4768px 0px; }
.wg-li.nl a::before { background-position: -6720px 0px; }
.wg-li.el a::before { background-position: -5728px 0px; }
.wg-li.ka a::before { background-position: -992px 0px; }
.wg-li.da a::before { background-position: -6880px 0px; }
.wg-li.he a::before { background-position: -6048px 0px; }
.wg-li.id a::before { background-position: -1792px 0px; }
.wg-li.ga a::before { background-position: -6176px 0px; }
.wg-li.it a::before { background-position: -6752px 0px; }
.wg-li.is a::before { background-position: -5664px 0px; }
.wg-li.es a::before { background-position: -6592px 0px; }
.wg-li.kk a::before { background-position: -5120px 0px; }
.wg-li.ca a::before { background-position: -7232px 0px; }
.wg-li.ky a::before { background-position: -1568px 0px; }
.wg-li.zh a::before { background-position: -6976px 0px; }
.wg-li.tw a::before { background-position: -6304px 0px; }
.wg-li.ko a::before { background-position: -5984px 0px; }
.wg-li.lv a::before { background-position: -2592px 0px; }
.wg-li.lt a::before { background-position: -1984px 0px; }
.wg-li.mg a::before { background-position: -736px 0px; }
.wg-li.ms a::before { background-position: -5152px 0px; }
.wg-li.mt a::before { background-position: -768px 0px; }
.wg-li.mk a::before { background-position: -4000px 0px; }
.wg-li.mn a::before { background-position: -2368px 0px; }
.wg-li.de a::before { background-position: -7168px 0px; }
.wg-li.no a::before { background-position: -6496px 0px; }
.wg-li.fa a::before { background-position: -1248px 0px; }
.wg-li.pl a::before { background-position: -6144px 0px; }
.wg-li.pt a::before { background-position: -7104px 0px; }
.wg-li.ro a::before { background-position: -5600px 0px; }
.wg-li.ru a::before { background-position: -6688px 0px; }
.wg-li.sr a::before { background-position: -5856px 0px; }
.wg-li.sk a::before { background-position: -5472px 0px; }
.wg-li.sl a::before { background-position: -1408px 0px; }
.wg-li.sw a::before { background-position: -4416px 0px; }
.wg-li.tg a::before { background-position: -832px 0px; }
.wg-li.th a::before { background-position: -6272px 0px; }
.wg-li.tr a::before { background-position: -6624px 0px; }
.wg-li.uz a::before { background-position: -800px 0px; }
.wg-li.uk a::before { background-position: -5568px 0px; }
.wg-li.fi a::before { background-position: -6816px 0px; }
.wg-li.fr a::before { background-position: -6784px 0px; }
.wg-li.hr a::before { background-position: -6528px 0px; }
.wg-li.cs a::before { background-position: -6912px 0px; }
.wg-li.sv a::before { background-position: -6656px 0px; }
.wg-li.et a::before { background-position: -96px 0px; }
.wg-li.ja a::before { background-position: -6944px 0px; }
.wg-li.hi a::before { background-position: -6080px 0px; }
.wg-li.ur a::before { background-position: -2688px 0px; }
.wg-flags.flag-1 a::before { background: transparent url('rect_bright_flags_comp.png') repeat scroll 0% 0%; border-radius: 0px; width: 30px; height: 20px; }
.wg-li.flag-1.sq a::before { background-position: -97px 0px; }
.wg-li.flag-1.en a::before { background-position: -7777px 0px; }
.wg-li.flag-1.ar a::before { background-position: -6465px 0px; }
.wg-li.flag-1.hy a::before { background-position: -385px 0px; }
.wg-li.flag-1.az a::before { background-position: -513px 0px; }
.wg-li.flag-1.af a::before { background-position: -6849px 0px; }
.wg-li.flag-1.eu a::before { background-position: -8353px 0px; }
.wg-li.flag-1.be a::before { background-position: -705px 0px; }
.wg-li.flag-1.bg a::before { background-position: -1121px 0px; }
.wg-li.flag-1.bs a::before { background-position: -929px 0px; }
.wg-li.flag-1.vi a::before { background-position: -8097px 0px; }
.wg-li.flag-1.hu a::before { background-position: -3265px 0px; }
.wg-li.flag-1.ht a::before { background-position: -3169px 0px; }
.wg-li.flag-1.nl a::before { background-position: -5121px 0px; }
.wg-li.flag-1.el a::before { background-position: -2881px 0px; }
.wg-li.flag-1.ka a::before { background-position: -2721px 0px; }
.wg-li.flag-1.da a::before { background-position: -1985px 0px; }
.wg-li.flag-1.he a::before { background-position: -3521px 0px; }
.wg-li.flag-1.id a::before { background-position: -3361px 0px; }
.wg-li.flag-1.ga a::before { background-position: -3457px 0px; }
.wg-li.flag-1.it a::before { background-position: -3553px 0px; }
.wg-li.flag-1.is a::before { background-position: -3297px 0px; }
.wg-li.flag-1.es a::before { background-position: -7009px 0px; }
.wg-li.flag-1.kk a::before { background-position: -3713px 0px; }
.wg-li.flag-1.ca a::before { background-position: -8321px 0px; }
.wg-li.flag-1.ky a::before { background-position: -3873px 0px; }
.wg-li.flag-1.zh a::before { background-position: -1505px 0px; }
.wg-li.flag-1.tw a::before { background-position: -6369px 0px; }
.wg-li.flag-1.ko a::before { background-position: -6913px 0px; }
.wg-li.flag-1.lv a::before { background-position: -3937px 0px; }
.wg-li.flag-1.lt a::before { background-position: -4129px 0px; }
.wg-li.flag-1.mg a::before { background-position: -4257px 0px; }
.wg-li.flag-1.ms a::before { background-position: -4321px 0px; }
.wg-li.flag-1.mt a::before { background-position: -4417px 0px; }
.wg-li.flag-1.mk a::before { background-position: -4225px 0px; }
.wg-li.flag-1.mn a::before { background-position: -4769px 0px; }
.wg-li.flag-1.de a::before { background-position: -2753px 0px; }
.wg-li.flag-1.no a::before { background-position: -5505px 0px; }
.wg-li.flag-1.fa a::before { background-position: -3393px 0px; }
.wg-li.flag-1.pl a::before { background-position: -5889px 0px; }
.wg-li.flag-1.pt a::before { background-position: -993px 0px; }
.wg-li.flag-1.ro a::before { background-position: -6081px 0px; }
.wg-li.flag-1.ru a::before { background-position: -6113px 0px; }
.wg-li.flag-1.sr a::before { background-position: -6561px 0px; }
.wg-li.flag-1.sk a::before { background-position: -6689px 0px; }
.wg-li.flag-1.sl a::before { background-position: -6721px 0px; }
.wg-li.flag-1.sw a::before { background-position: -3745px 0px; }
.wg-li.flag-1.tg a::before { background-position: -7297px 0px; }
.wg-li.flag-1.th a::before { background-position: -7361px 0px; }
.wg-li.flag-1.tr a::before { background-position: -7553px 0px; }
.wg-li.flag-1.uz a::before { background-position: -7969px 0px; }
.wg-li.flag-1.uk a::before { background-position: -7713px 0px; }
.wg-li.flag-1.fi a::before { background-position: -2529px 0px; }
.wg-li.flag-1.fr a::before { background-position: -2561px 0px; }
.wg-li.flag-1.hr a::before { background-position: -1793px 0px; }
.wg-li.flag-1.cs a::before { background-position: -1921px 0px; }
.wg-li.flag-1.sv a::before { background-position: -7169px 0px; }
.wg-li.flag-1.et a::before { background-position: -2337px 0px; }
.wg-li.flag-1.ja a::before { background-position: -3617px 0px; }
.wg-li.flag-1.hi a::before { background-position: -3329px 0px; }
.wg-li.flag-1.ur a::before { background-position: -5600px 0px; }
.wg-flags.flag-2 a::before { background: transparent url('square_flags_comp.png') repeat scroll 0% 0%; border-radius: 0px; width: 24px; height: 24px; }
.wg-li.flag-2.sq a::before { background-position: -2976px 0px; }
.wg-li.flag-2.en a::before { background-position: -312px 0px; }
.wg-li.flag-2.ar a::before { background-position: -768px 0px; }
.wg-li.flag-2.hy a::before { background-position: 0px 0px; }
.wg-li.flag-2.az a::before { background-position: -5132px 0px; }
.wg-li.flag-2.af a::before { background-position: -4964px 0px; }
.wg-li.flag-2.eu a::before { background-position: -5372px 0px; }
.wg-li.flag-2.be a::before { background-position: -4224px 0px; }
.wg-li.flag-2.bg a::before { background-position: -5036px 0px; }
.wg-li.flag-2.bs a::before { background-position: -3984px 0px; }
.wg-li.flag-2.vi a::before { background-position: -144px 0px; }
.wg-li.flag-2.hu a::before { background-position: -2088px 0px; }
.wg-li.flag-2.ht a::before { background-position: -3528px 0px; }
.wg-li.flag-2.nl a::before { background-position: -1296px 0px; }
.wg-li.flag-2.el a::before { background-position: -2208px 0px; }
.wg-li.flag-2.ka a::before { background-position: -3744px 0px; }
.wg-li.flag-2.da a::before { background-position: -2448px 0px; }
.wg-li.flag-2.he a::before { background-position: -1992px 0px; }
.wg-li.flag-2.id a::before { background-position: -2040px 0px; }
.wg-li.flag-2.ga a::before { background-position: -2016px 0px; }
.wg-li.flag-2.it a::before { background-position: -1968px 0px; }
.wg-li.flag-2.is a::before { background-position: -2064px 0px; }
.wg-li.flag-2.es a::before { background-position: -96px 0px; }
.wg-li.flag-2.kk a::before { background-position: -1704px 0px; }
.wg-li.flag-2.ca a::before { background-position: -5348px 0px; }
.wg-li.flag-2.ky a::before { background-position: -1800px 0px; }
.wg-li.flag-2.zh a::before { background-position: -2592px 0px; }
.wg-li.flag-2.tw a::before { background-position: -3408px 0px; }
.wg-li.flag-2.ko a::before { background-position: -1848px 0px; }
.wg-li.flag-2.lv a::before { background-position: -1752px 0px; }
.wg-li.flag-2.lt a::before { background-position: -1656px 0px; }
.wg-li.flag-2.mg a::before { background-position: -1560px 0px; }
.wg-li.flag-2.ms a::before { background-position: -1536px 0px; }
.wg-li.flag-2.mt a::before { background-position: -1200px 0px; }
.wg-li.flag-2.mk a::before { background-position: -1440px 0px; }
.wg-li.flag-2.mn a::before { background-position: -4797px 0px; width: 23px; }
.wg-li.flag-2.de a::before { background-position: -2256px 0px; }
.wg-li.flag-2.no a::before { background-position: -4773px 0px; }
.wg-li.flag-2.fa a::before { background-position: -5084px 0px; }
.wg-li.flag-2.pl a::before { background-position: -984px 0px; }
.wg-li.flag-2.pt a::before { background-position: -2784px 0px; }
.wg-li.flag-2.ro a::before { background-position: -960px 0px; }
.wg-li.flag-2.ru a::before { background-position: -936px 0px; }
.wg-li.flag-2.sr a::before { background-position: -3120px 0px; }
.wg-li.flag-2.sk a::before { background-position: -4152px 0px; }
.wg-li.flag-2.sl a::before { background-position: -696px 0px; }
.wg-li.flag-2.sw a::before { background-position: -1872px 0px; }
.wg-li.flag-2.tg a::before { background-position: -264px 0px; }
.wg-li.flag-2.th a::before { background-position: -456px 0px; }
.wg-li.flag-2.tr a::before { background-position: -360px 0px; }
.wg-li.flag-2.uz a::before { background-position: -240px 0px; }
.wg-li.flag-2.uk a::before { background-position: -288px 0px; }
.wg-li.flag-2.fi a::before { background-position: -2328px 0px; }
.wg-li.flag-2.fr a::before { background-position: -2304px 0px; }
.wg-li.flag-2.hr a::before { background-position: -4414px 0px; }
.wg-li.flag-2.cs a::before { background-position: -2472px 0px; }
.wg-li.flag-2.sv a::before { background-position: -552px 0px; }
.wg-li.flag-2.et a::before { background-position: -2424px 0px; }
.wg-li.flag-2.ja a::before { background-position: -1920px 0px; }
.wg-li.flag-2.hi a::before { background-position: -1728px 0px; }
.wg-li.flag-2.ur a::before { background-position: -1128px 0px; }
.wg-flags.flag-3 a::before { background: transparent url('circular_flags_comp.png') repeat scroll 0% 0%; border-radius: 0px; width: 24px; height: 24px; }
.wg-li.flag-3.sq a::before { background-position: -696px 0px; }
.wg-li.flag-3.en a::before { background-position: -5592px 0px; }
.wg-li.flag-3.ar a::before { background-position: -4944px 0px; }
.wg-li.flag-3.hy a::before { background-position: -4656px 0px; }
.wg-li.flag-3.az a::before { background-position: -2832px 0px; }
.wg-li.flag-3.af a::before { background-position: -5064px 0px; }
.wg-li.flag-3.eu a::before { background-position: -5808px 0px; }
.wg-li.flag-3.be a::before { background-position: -1680px 0px; }
.wg-li.flag-3.bg a::before { background-position: -600px 0px; }
.wg-li.flag-3.bs a::before { background-position: -1656px 0px; }
.wg-li.flag-3.vi a::before { background-position: -3504px 0px; }
.wg-li.flag-3.hu a::before { background-position: -1536px 0px; }
.wg-li.flag-3.ht a::before { background-position: -3720px 0px; }
.wg-li.flag-3.nl a::before { background-position: -4392px 0px; }
.wg-li.flag-3.el a::before { background-position: -792px 0px; }
.wg-li.flag-3.ka a::before { background-position: -120px 0px; }
.wg-li.flag-3.da a::before { background-position: -5304px 0px; }
.wg-li.flag-3.he a::before { background-position: -168px 0px; }
.wg-li.flag-3.id a::before { background-position: -3984px 0px; }
.wg-li.flag-3.ga a::before { background-position: -240px 0px; }
.wg-li.flag-3.it a::before { background-position: -5424px 0px; }
.wg-li.flag-3.is a::before { background-position: -768px 0px; }
.wg-li.flag-3.es a::before { background-position: -5760px 0px; }
.wg-li.flag-3.kk a::before { background-position: -2712px 0px; }
.wg-li.flag-3.ca a::before { background-position: -5784px 0px; }
.wg-li.flag-3.ky a::before { background-position: -1800px 0px; }
.wg-li.flag-3.zh a::before { background-position: -3456px 0px; }
.wg-li.flag-3.tw a::before { background-position: -1896px 0px; }
.wg-li.flag-3.ko a::before { background-position: -4848px 0px; }
.wg-li.flag-3.lv a::before { background-position: -1392px 0px; }
.wg-li.flag-3.lt a::before { background-position: -4224px 0px; }
.wg-li.flag-3.mg a::before { background-position: -2856px 0px; }
.wg-li.flag-3.ms a::before { background-position: -1488px 0px; }
.wg-li.flag-3.mt a::before { background-position: -2064px 0px; }
.wg-li.flag-3.mk a::before { background-position: -4824px 0px; }
.wg-li.flag-3.mn a::before { background-position: -3624px 0px; }
.wg-li.flag-3.de a::before { background-position: -5496px 0px; }
.wg-li.flag-3.no a::before { background-position: -5448px 0px; }
.wg-li.flag-3.fa a::before { background-position: -3552px 0px; }
.wg-li.flag-3.pl a::before { background-position: -1032px 0px; }
.wg-li.flag-3.pt a::before { background-position: -5688px 0px; }
.wg-li.flag-3.ro a::before { background-position: -528px 0px; }
.wg-li.flag-3.ru a::before { background-position: -4896px 0px; }
.wg-li.flag-3.sr a::before { background-position: -3480px 0px; }
.wg-li.flag-3.sk a::before { background-position: -5160px 0px; }
.wg-li.flag-3.sl a::before { background-position: -1824px 0px; }
.wg-li.flag-3.sw a::before { background-position: -3120px 0px; }
.wg-li.flag-3.tg a::before { background-position: -3552px 0px; }
.wg-li.flag-3.th a::before { background-position: -5712px 0px; }
.wg-li.flag-3.tr a::before { background-position: -5136px 0px; }
.wg-li.flag-3.uz a::before { background-position: -3888px 0px; }
.wg-li.flag-3.uk a::before { background-position: -5736px 0px; }
.wg-li.flag-3.fi a::before { background-position: -456px 0px; }
.wg-li.flag-3.fr a::before { background-position: -4920px 0px; }
.wg-li.flag-3.hr a::before { background-position: -3216px 0px; }
.wg-li.flag-3.cs a::before { background-position: -4752px 0px; }
.wg-li.flag-3.sv a::before { background-position: -5112px 0px; }
.wg-li.flag-3.et a::before { background-position: -4344px 0px; }
.wg-li.flag-3.ja a::before { background-position: -4872px 0px; }
.wg-li.flag-3.hi a::before { background-position: -5568px 0px; }
.wg-li.flag-3.ur a::before { background-position: -3865px 0px; }
/* ::::: https://translatorconsumer.trafficmanager.net/wp-content/plugins/popups/public/assets/css/public.css?ver=1.6.0.1 ::::: */

html, body { min-height: 100% ! important; height: auto ! important; }
.spu-box, .spu-box * { box-sizing: border-box; }
.spu-bg { position: fixed; width: 100%; height: 100%; background: rgb(0, 0, 0) none repeat scroll 0% 0%; top: 0px; left: 0px; display: none; z-index: 99999; }
.spu-box::before, .spu-box::after { content: ""; display: table; }
.spu-box::after { clear: both; }
.spu-box {  }
.spu-box { position: fixed; z-index: 999999; box-shadow: 0px 0px 10px 1px rgb(102, 102, 102); padding: 25px; margin: 10px; border-radius: 8px; max-width: 100%; }
.spu-box.spu-centered { margin: 0px; }
.spu-content > :first-child { margin-top: 0px; padding-top: 0px; }
.spu-content > :last-child { margin-bottom: 0px; padding-bottom: 0px; }
.spu-close { position: absolute; right: 8px; top: 5px; padding: 0px; cursor: pointer; background: transparent none repeat scroll 0% 0%; border: 0px none; font-size: 30px; line-height: 1; text-shadow: 0px 1px 0px rgb(255, 255, 255); opacity: 0.3; color: rgb(0, 0, 0); }
.spu-close:hover, .spu-close:focus { color: rgb(0, 0, 0); text-decoration: none; cursor: pointer; opacity: 0.6; }
.spu_shortcodes::before, .spu_shortcodes::after { content: ""; display: table; }
.spu_shortcodes::after { clear: both; }
@font-face {
	font-family: "spufont";
	font-style: normal;
	font-weight: normal;
	src: url('spufont.eot') format("embedded-opentype"), url('spufont.woff') format("woff"), url('spufont.ttf') format("truetype"), url('spufont.svg') format("svg");
}
[class^="spu-icon-"], [class*=" spu-icon-"] { font-family: "spufont"; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -moz-osx-font-smoothing: grayscale; }
.spu-icon-envelope::before { content: ""; }
.spu-icon-check::before { content: ""; }
.spu-icon-close::before { content: ""; }
.spu-icon-eye::before { content: ""; }
.spu-icon-gears::before { content: ""; }
.spu-icon-angle-up::before { content: ""; }
.spu-icon-angle-down::before { content: ""; }
.spu-icon-spinner::before { content: ""; }
@media only screen and (max-width: 620px) {
	.spu-box { margin: 0px; }
}
/* ::::: https://translatorconsumer.trafficmanager.net/wp-content/themes/TranslatorWP/style.css?ver=4.6.1 ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary { display: block; }
audio:not([controls]) { display: none; height: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline: 0px none; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border: 0px none; }
svg:not(:root) { overflow: hidden; }
button::-moz-focus-inner, input::-moz-focus-inner { border: 0px none; padding: 0px; }
@font-face {
	font-family: "wf_segoe-ui_light";
	font-style: normal;
	font-weight: normal;
	src: local("Segoe UI Light"), local("Segoe WP Light"), url('latest.eot') format("embedded-opentype"), url('latest.woff') format("woff"), url('latest.ttf') format("truetype"), url('latest.svg') format("svg");
}
@font-face {
	font-family: "wf_segoe-ui_normal";
	font-style: normal;
	font-weight: normal;
	src: local("Segoe UI"), local("Segoe"), local("Segoe WP"), url('latest_001.eot') format("embedded-opentype"), url('latest_001.woff') format("woff"), url('latest_001.ttf') format("truetype"), url('latest_001.svg') format("svg");
}
@font-face {
	font-family: "wf_segoe-ui_Semibold";
	font-style: normal;
	font-weight: normal;
	src: local("Segoe UI Semibold"), local("Segoe Semibold"), local("Segoe WP Semibold"), url('latest_002.eot') format("embedded-opentype"), url('latest_002.woff') format("woff"), url('latest_002.ttf') format("truetype"), url('latest_002.svg') format("svg");
}
@font-face {
	font-family: "wf_icons_normal";
	font-style: normal;
	font-weight: normal;
	src: url('2.eot') format("embedded-opentype"), url('2.woff') format("woff"), url('2.ttf') format("truetype"), url('2.svg') format("svg");
}
body, button, input, select, textarea { color: rgb(64, 64, 64); font-family: sans-serif; font-size: 1em; line-height: 1.5; }
h1, h2, h3, h4, h5, h6 { clear: both; }
p { margin-bottom: 1.5em; }
dfn, cite, em, i { font-style: italic; }
html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }
body { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
blockquote::before, blockquote::after, q::before, q::after { content: ""; }
ul, ol { margin: 0px 0px 1.5em 3em; }
ul { list-style: outside none disc; }
img { height: auto; max-width: 100%; }
a { color: rgb(21, 112, 166); text-decoration: none; }
a:visited { text-decoration: none; }
a:hover, a:focus, a:active { text-decoration: underline; }
a:focus { outline: thin dotted; }
a:hover, a:active { outline: 0px none; }
@media screen and (min-width: 37.5em) {
}
.screen-reader-text { clip: rect(1px, 1px, 1px, 1px); position: absolute ! important; height: 1px; width: 1px; overflow: hidden; }
.screen-reader-text:focus { background-color: rgb(241, 241, 241); border-radius: 3px; box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.6); clip: auto ! important; color: rgb(33, 117, 155); display: block; font-size: 0.875rem; font-weight: bold; height: auto; left: 5px; line-height: normal; padding: 15px 23px 14px; text-decoration: none; top: 5px; width: auto; z-index: 100000; }
.clear::before, .clear::after, .entry-content::before, .entry-content::after, .comment-content::before, .comment-content::after, .site-header::before, .site-header::after, .site-content::before, .site-content::after, .site-footer::before, .site-footer::after { content: ""; display: table; table-layout: fixed; }
.clear::after, .entry-content::after, .comment-content::after, .site-header::after, .site-content::after, .site-footer::after { clear: both; }
.byline, .updated:not(.published) { display: none; }
html { overflow-y: auto; }
body { margin: 0px; }
.row::before, .row-::after { display: table; line-height: 0; content: ""; }
.row::after { clear: both; }
.row { margin-left: 0px; display: table; width: 100%; box-sizing: border-box; }
section { padding: 0px 50px; }
.full-width-feature { width: 100% ! important; max-width: 100% ! important; background-color: rgb(255, 255, 255); }
.GreyBackground { background-color: rgb(242, 242, 242); }
.fourCol { float: left; display: inline; margin-right: 25px; }
.fourCol:last-child { margin-right: 0px; }
.centeredContent { margin-left: auto; margin-right: auto; text-align: center; }
.full-width-feature .fourCol { position: relative; float: left; display: inline; margin-right: 25px; padding-bottom: 60px; width: 23%; text-align: left; }
.full-width-feature .fourCol:last-child { margin-right: 0px; }
@media screen and (max-width: 1300px) {
	.full-width-feature .fourCol { margin-right: 20px ! important; width: 22% ! important; }
}
@media screen and (max-width: 1100px) {
	.full-width-feature .fourCol { width: 45% ! important; display: block ! important; margin-right: 30px ! important; }
	.full-width-feature .fourCol:nth-child(2) { margin-right: 0px ! important; }
	.full-width-feature .fourCol:nth-child(1), .full-width-feature .fourCol:nth-child(2) { margin-bottom: 75px ! important; }
}
@media screen and (max-width: 768px) {
	.full-width-feature .fourCol { width: 43% ! important; display: block ! important; }
}
@media screen and (max-width: 539px) {
	.full-width-feature .fourCol { width: 90% ! important; margin-right: 0px; }
	.full-width-feature .fourCol:nth-child(3) { margin-bottom: 75px; }
}
.contentHeading { margin-bottom: 40px ! important; }
.full-width-feature .fourCol .button-link { position: absolute; bottom: 0px; left: 0px; }
.full-width-feature h2 { color: rgb(0, 0, 0); margin-top: 30px; font-size: 32px; line-height: 38px; margin-bottom: 12px; font-family: "wf_segoe-ui_light","Segoe UI",Tahoma,Verdana,Arial,Helvetica,sans-serif ! important; }
a.button-link { font-size: 16px; text-decoration: none; padding: 5px 10px; margin-top: 20px; background-color: rgb(16, 124, 16); color: rgb(255, 255, 255) ! important; display: inline-block; font-family: "wf_segoe-ui_light","Segoe UI Light","wf_SegoeUI","Segoe UI",Tahoma,Verdana,Arial,Helvetica,sans-serif; }
a.button-link:hover { background-color: rgb(0, 114, 51); }
section.WhiteBackground, section.GreyBackground { padding-top: 35px; padding-bottom: 35px; }
@media screen and (max-width: 792px) {
	section.WhiteBackground, section.GreyBackground { padding-top: 25px ! important; padding-bottom: 25px ! important; }
}
.appsHome .centeredContent { padding-top: 35px; padding-bottom: 35px; }
.appsHome .contentHeading h2 { margin-top: 0px; }
.appsHome .smallContainer { margin-left: auto; margin-right: auto; width: auto; }
.appsHome .smallContainer .fourCol { margin-right: 100px; width: auto ! important; padding-bottom: 0px; text-align: center; }
.appsHome .full-width-feature .smallContainer .fourCol:last-of-type { margin-right: 0px ! important; }
@media screen and (max-width: 1100px) {
	.appsHome .full-width-feature .smallContainer .fourCol:nth-child(2) { margin-right: 30px ! important; }
}
@media screen and (max-width: 600px) {
	.appsHome .smallContainer .fourCol { width: 45% ! important; margin-bottom: 25px ! important; }
	.appsHome .full-width-feature .smallContainer .fourCol:nth-child(2) { margin-right: 0px ! important; }
}
@media screen and (max-width: 430px) {
	.appsHome .smallContainer .fourCol { margin-bottom: 25px ! important; }
}
@media screen and (max-width: 420px) {
	.appsHome .smallContainer .fourCol { margin-right: 0px ! important; width: 100% ! important; }
}
.appsHome .heroContent h2 { color: rgb(255, 255, 255) ! important; font-size: 32px; line-height: 38px; margin-bottom: 50px ! important; font-family: "wf_segoe-ui_light","Segoe UI",Tahoma,Verdana,Arial,Helvetica,sans-serif ! important; }
.appsHome .heroContent { padding-top: 165px ! important; padding-bottom: 175px ! important; color: rgb(255, 255, 255); }
.appsHome .translucent { margin-left: auto; margin-right: auto; max-width: 915px; width: auto; text-align: center; padding: 25px; background: rgba(0, 0, 0, 0.5) none repeat scroll 0% 0%; }
.appsHome .heroContent .fourCol { padding-bottom: 0px; width: auto; text-align: center; }
@media screen and (max-width: 1100px) {
	.appsHome .heroContent .fourCol { width: 22% ! important; display: block ! important; margin-right: 25px ! important; }
	.appsHome .heroContent .fourCol:nth-child(2) { margin-right: 25px ! important; }
	.appsHome .heroContent .fourCol:nth-child(4) { margin-right: 0px ! important; }
	.appsHome .heroContent .fourCol:nth-child(1), .appsHome .heroContent .fourCol:nth-child(2) { margin-bottom: 0px ! important; }
}
@media screen and (max-width: 900px) {
	.appsHome .heroContent .translucent { max-width: 700px; }
	.appsHome .heroContent .fourCol:nth-child(1), .appsHome .heroContent .fourCol:nth-child(2) { margin-bottom: 20px ! important; }
	.appsHome .heroContent .fourCol { width: 48% ! important; }
	.appsHome .heroContent .fourCol:nth-child(2) { margin-right: 0px ! important; }
}
@media screen and (max-width: 792px) {
	.appsHome .heroContent { padding-top: 80px ! important; padding-bottom: 90px ! important; }
	.appsHome .heroContent .translucent { max-width: 100% ! important; }
	.appsHome .heroContent .fourCol { width: 45% ! important; }
	.appsHome .heroContent .fourCol img { max-width: 100% ! important; height: auto ! important; }
}
@media screen and (max-width: 539px) {
	.appsHome .heroContent .translucent { max-width: 90% ! important; }
	.appsHome .heroContent .fourCol { width: 90% ! important; }
	.appsHome .heroContent .fourCol:nth-child(3) { margin-bottom: 20px ! important; }
}
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 850px) {
}
@media screen and (max-width: 679px) {
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 539px) {
}
@media screen and (max-width: 440px) {
}
@media screen and (max-width: 899px) {
}
@media screen and (max-width: 539px) {
}
.helpHome .twoCol:nth-child(2) { padding-left: 25px; }
@media screen and (max-width: 1100px) {
	.helpHome .full-width-feature .fourCol:nth-child(1), .helpHome .full-width-feature .fourCol:nth-child(2) { margin-bottom: 0px ! important; }
}
@media screen and (max-width: 1000px) {
	.helpHome .full-width-feature .fourCol.featuredArticle:nth-child(1), .helpHome .full-width-feature .fourCol.featuredArticle:nth-child(3) { margin-right: 2% ! important; }
	.helpHome .full-width-feature .fourCol.featuredArticle:nth-child(1), .helpHome .full-width-feature .fourCol.featuredArticle:nth-child(2) { margin-bottom: 30px ! important; }
}
@media screen and (max-width: 599px) {
	.helpHome .full-width-feature .fourCol:nth-child(1), .helpHome .full-width-feature .fourCol:nth-child(2) { margin-bottom: 0px ! important; }
	.helpHome .twoCol:nth-child(2) { margin-top: 50px; padding-left: 0px ! important; }
	.helpHome .smallContainer .fourCol:nth-child(1), .helpHome .smallContainer .fourCol:nth-child(3) { margin-right: 2% ! important; }
	.helpHome .smallContainer .fourCol:nth-child(2), .helpHome .smallContainer .fourCol:nth-child(4) { margin-right: 0px ! important; }
}
@media screen and (max-width: 539px) {
}
#page_footer ul { margin: 0px ! important; }
.weglogWwidgetContainer { float: right; display: inline; width: 200px; }
.wg-drop { width: 200px; }
@media screen and (max-width: 750px) {
	.weglogWwidgetContainer { float: none; display: block; text-align: right; }
}
/* ::::: https://translatorconsumer.trafficmanager.net/wp-content/themes/TranslatorWP/headerfooterassets/styles_v02_modifiedforwp.css?ver=20151215 ::::: */

.text-hide { font: 0px/0 a; color: transparent; text-shadow: none; background-color: transparent; border: 0px none; }
.list-inline > li { display: inline-block; padding-right: 5px; padding-left: 5px; }
header, #social-toolbar, footer { padding: 0px 50px; }
ul.social-toolbar { margin-top: 0px; }
ul.social-toolbar li { padding-left: 0px; }
ul.social-toolbar .icon { display: inline-block; width: 31px; height: 31px; margin: 0px 0.15em 0px 0px; background-image: url('share-icons.png'); background-repeat: no-repeat; vertical-align: middle; }
ul.social-toolbar .icon:hover { opacity: 0.7; }
ul.social-toolbar .icon-facebook { background-position: 0px -72px; }
ul.social-toolbar .icon-twitter { background-position: 0px -36px; }
ul.social-toolbar .icon-blog { background-position: 0px -148px; }
#page_nav { width: 100%; z-index: 9999; background: rgba(54, 54, 54, 0.94) none repeat scroll 0% 0%; height: 63px; }
#page_nav ul.topnav { list-style-type: none; padding: 0px 15px 0px 0px; margin: 0px; overflow: hidden; float: right; height: 100%; z-index: 9999; }
#page_nav ul.topnav li { float: left; vertical-align: middle; }
#page_nav ul.topnav li a { display: inline-block; color: rgba(255, 255, 255, 0.75); text-align: center; text-decoration: none; vertical-align: middle; padding: 0px 15px; font-size: 16px; font-family: wf_segoe-ui_Semibold,"Segoe UI",Segoe,"Segoe WP",Tahoma,Verdana,Arial,sans-serif; line-height: 63px; height: 63px; font-weight: normal; }
#page_nav ul.topnav li a:hover { background-color: rgba(90, 90, 90, 0.5); color: rgb(255, 255, 255); }
#page_nav ul.topnav li.active a { background-color: rgba(0, 124, 20, 0.5); color: rgb(255, 255, 255); }
#page_nav ul.topnav li.business { width: 200px; }
#page_nav ul.topnav li.business a { background: rgb(0, 120, 215) none repeat scroll 0% 0%; margin-top: 10px; margin-bottom: 10px; margin-left: 10px; height: 43px; padding-top: 4px; line-height: 17px; }
#page_nav #btn_mobile { display: none; background-image: url('mobile_menu.png'); background-repeat: no-repeat; width: 17px; height: 17px; background-position: -5px -32px; vertical-align: middle; cursor: pointer; position: absolute; right: 15px; top: 20px; }
#page_nav .brand { position: relative; display: inline-block; margin: 10px 15px; }
#page_nav .brand img { height: 43px; }
#page_nav .icon { background-image: url('nav-icons.png'); background-repeat: no-repeat; display: block; margin-right: 13px; vertical-align: middle; }
#page_nav ul.topnav li a .conversation { width: 32px; height: 22px; background-position: -5px -63px; }
#page_nav ul.topnav li a:hover .conversation, #page_nav ul.topnav li.active a .conversation { background-position: -47px -63px; }
#page_nav ul.topnav li a .text { width: 24px; height: 25px; background-position: -127px -71px; }
#page_nav ul.topnav li a:hover .text, #page_nav ul.topnav li.active a .text { background-position: -161px -71px; }
#page_nav ul.topnav li a .apps { width: 24px; height: 24px; background-position: -5px -5px; }
#page_nav ul.topnav li a:hover .apps, #page_nav ul.topnav li.active a .apps { background-position: -39px -5px; }
#page_nav ul.topnav li a .help { width: 28px; height: 28px; background-position: -89px -63px; }
#page_nav ul.topnav li a:hover .help, #page_nav ul.topnav li.active a .help { background-position: -316px -63px; }
#page_nav ul.topnav li a .compare { width: 22px; height: 28px; background-position: -412px -71px; }
#page_nav ul.topnav li a:hover .compare, #page_nav ul.topnav li.active a .compare { background-position: -412px -109px; }
#page_footer { background: rgba(74, 74, 74, 0.5) none repeat scroll 0% 0%; color: rgb(255, 255, 255); margin-top: 0px; padding-top: 20px; padding-bottom: 20px; }
#page_footer::before, #page_footer::after { content: " "; display: table; }
#page_footer::after { clear: both; }
#page_footer ul { list-style: outside none none; padding-left: 0px; margin-top: 0px; margin-bottom: 0px; }
#page_footer ul.list-inline > li { padding-left: 0px; }
#page_footer a { color: rgb(255, 255, 255); text-decoration: none; }
#page_footer a:hover { color: rgb(255, 255, 255); text-decoration: none; text-indent: -5000px; }
#page_footer .links { font-size: 15px; }
#page_footer .links a:hover { text-decoration: underline; }
#page_footer .copyright { color: rgb(255, 255, 255); font-size: 15px; }
#page_footer .social-prompt { color: rgb(255, 255, 255); font-size: 15px; margin-bottom: 5px; }
#page_footer .footer-logo { margin-bottom: 20px; }
#page_footer .app-toolbar .icon { background-image: url('app-icons.png'); background-repeat: no-repeat; display: block; }
#page_footer .app-toolbar .icon:hover { opacity: 0.7; }
#page_footer .app-toolbar .icon-amazon { width: 38px; height: 40px; background-position: -5px -5px; }
#page_footer .app-toolbar .icon-android { width: 34px; height: 40px; background-position: -5px -55px; }
#page_footer .app-toolbar .icon-apple { width: 34px; height: 40px; background-position: -5px -105px; }
#page_footer .app-toolbar .icon-windows { width: 38px; height: 38px; background-position: -5px -204px; }
#page_footer .col-left, #page_footer .col-center, #page_footer .col-right { width: 100%; }
#page_footer .col-center, #page_footer .col-right { margin-top: 40px; }
#spu-387 { background-color: rgb(238, 238, 238); color: rgb(51, 51, 51); border: 8px solid rgb(85, 85, 85); width: 600px; }
#spu-bg-387 { opacity: 0.5; }
